<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Createx UI Kit | Icon box</title>

    <!-- SEO Meta Tags-->
    <meta name="description" content="Createx - Multipurpose Bootstrap Template">
    <meta name="keywords" content="bootstrap, business, creative agency, construction, services, e-commerce, shopping cart, mobile app showcase, multipurpose, shop, ui kit, marketing, seo, landing, html5, css3, javascript, gallery, slider, touch, creative">
    <meta name="author" content="Createx Studio">

    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon-16x16.png">
    <link rel="manifest" href="../assets/img/site.webmanifest">
    <link rel="mask-icon" color="#5bbad5" href="../assets/img/safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#766df4">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="../assets/vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="../assets/vendor/prismjs/themes/prism.css"/>
    <link rel="stylesheet" media="screen" href="../assets/vendor/prismjs/plugins/toolbar/prism-toolbar.css"/>
    <link rel="stylesheet" media="screen" href="../assets/vendor/prismjs/plugins/line-numbers/prism-line-numbers.css"/>

    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="../assets/css/theme.min.css">
  </head>


  <!-- Body-->
  <body>
    <main class="container-fluid">

      <!-- Main content-->
      <section class="offcanvas-enabled-start row pb-3 pb-md-4">
        <div class="col-xl-9">

          <!-- Navbar-->
          <header class="navbar navbar-expand navbar-light fixed-top navbar-shadow bg-light px-3 px-lg-4" data-scroll-header data-fixed-element>
            <a class="navbar-brand d-lg-none" href="typography.html">
              <img src="../assets/img/components/logo/logo-dark.svg" alt="Createx" width="130">
            </a>
            <button class="navbar-toggler d-block d-lg-none me-3 ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#componentsNav">
              <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav ms-auto d-none d-lg-flex align-items-center">
              <li class="nav-item">
                <a class="nav-link py-0" href="../../index.html">
                  <i class="ci-eye align-middle mt-n1 me-2"></i>
                  Live preview
                </a>
              </li>
              <li class="nav-item">
                <div class="nav-link disabled text-border px-1">|</div>
              </li>
              <li class="nav-item">
                <a class="nav-link py-0" href="../documentation/dev-setup.html">
                  <i class="ci-files align-middle mt-n1 me-2"></i>
                  Documentation
                </a>
              </li>
              <li class="nav-item">
                <div class="nav-link disabled text-border px-1">|</div>
              </li>
            </ul>
            <a href="https://themes.getbootstrap.com/product/createx-multipurpose-template-ui-kit/" class="btn btn-primary btn-hover-shadow ms-lg-4" target="_blank" rel="noopener">
              <i class="ci-cart me-2 d-none d-sm-inline-block"></i>
              Buy now
            </a>
          </header>

          <!-- Side navigation (Offcanvas)-->
          <aside class="offcanvas offcanvas-expand offcanvas-start bg-dark" id="componentsNav">
            <div class="offcanvas-header d-none d-lg-block py-4">
              <a class="navbar-brand py-2" href="typography.html">
                <img src="../assets/img/components/logo/logo-white.svg" alt="Createx" width="130">
              </a>
              <span class="badge bg-success">UI Kit</span>
            </div>
            <div class="offcanvas-header d-flex d-lg-none align-items-center">
              <div class="d-flex align-items-center mt-1">
                <h5 class="text-light mb-0 me-3">Menu</h5>
                <span class="badge bg-success">UI Kit</span>
              </div>
              <button class="btn-close btn-close-white" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="d-flex d-lg-none align-items-center py-4 px-3 border-bottom border-light">
              <a class="btn btn-primary d-block w-100 me-3" href="../../index.html"><i class="ci-eye mt-n1 me-2"></i>Preview</a>
              <a class="btn btn-warning d-block w-100 mt-0" href="../documentation/dev-setup.html"><i class="ci-files mt-n1 me-2"></i>Docs</a>
            </div>
            <div class="offcanvas-body px-0 pt-4 pb-grid-gutter" data-simplebar data-simplebar-inverse>
              <h6 class="fs-lg text-light px-4 mt-2 mb-3">Content</h6>
              <hr class="hr-gradient hr-light mt-0 mb-2 opacity-25">
              <nav class="nav nav-light">
                <a class="nav-link px-4" href="typography.html">Typography</a>
                <a class="nav-link px-4" href="icon-font.html">Icon font</a>
                <a class="nav-link px-4" href="code.html">Code</a>
                <a class="nav-link px-4" href="images.html">Images &amp; figures</a>
                <a class="nav-link px-4" href="tables.html">Tables</a>
              </nav>
              <h6 class="fs-lg text-light px-4 pt-1 mt-4 mb-3">Components</h6>
              <hr class="hr-gradient hr-light mt-0 mb-2 opacity-25">
              <nav class="nav nav-light">
                <a class="nav-link px-4" href="accordion.html">Accordion</a>
                <a class="nav-link px-4" href="alerts.html">Alerts</a>
                <a class="nav-link px-4" href="badge.html">Badges</a>
                <a class="nav-link px-4" href="blog-components.html">Blog components</a>
                <a class="nav-link px-4" href="breadcrumb.html">Breadcrumb</a>
                <a class="nav-link px-4" href="buttons.html">Buttons</a>
                <a class="nav-link px-4" href="button-group.html">Button group</a>
                <a class="nav-link px-4" href="cards.html">Cards</a>
                <a class="nav-link px-4" href="carousel.html">Carousel</a>
                <a class="nav-link px-4" href="collapse.html">Collapse</a>
                <a class="nav-link px-4" href="contacts-card.html">Contacts card</a>
                <a class="nav-link px-4" href="countdown.html">Countdown</a>
                <a class="nav-link px-4" href="dividers.html">Dividers</a>
                <a class="nav-link px-4" href="dropdowns.html">Dropdowns</a>
                <a class="nav-link px-4" href="forms.html">Forms</a>
                <a class="nav-link px-4" href="gallery.html">Gallery</a>
                <a class="nav-link px-4 active" href="icon-box.html">Icon box</a>
                <a class="nav-link px-4" href="input-group.html">Input group</a>
                <a class="nav-link px-4" href="list-group.html">List group</a>
                <a class="nav-link px-4" href="modal.html">Modal</a>
                <a class="nav-link px-4" href="navs.html">Navs</a>
                <a class="nav-link px-4" href="navbar.html">Navbar</a>
                <a class="nav-link px-4" href="offcanvas.html">Offcanvas</a>
                <a class="nav-link px-4" href="pagination.html">Pagination</a>
                <a class="nav-link px-4" href="parallax.html">Parallax</a>
                <a class="nav-link px-4" href="pills.html">Pills</a>
                <a class="nav-link px-4" href="popovers.html">Popovers</a>
                <a class="nav-link px-4" href="portfolio-components.html">Portfolio components</a>
                <a class="nav-link px-4" href="pricing.html">Pricing</a>
                <a class="nav-link px-4" href="progress-bar.html">Progress bar</a>
                <a class="nav-link px-4" href="progress-radial.html">Progress radial</a>
                <a class="nav-link px-4" href="scrollbar-custom.html">Scrollbar (custom)</a>
                <a class="nav-link px-4" href="shop-components.html">Shop components</a>
                <a class="nav-link px-4" href="social-buttons.html">Social buttons</a>
                <a class="nav-link px-4" href="spinners.html">Spinners</a>
                <a class="nav-link px-4" href="steps.html">Steps</a>
                <a class="nav-link px-4" href="tabs.html">Tabs</a>
                <a class="nav-link px-4" href="team.html">Team</a>
                <a class="nav-link px-4" href="testimonials.html">Testimonials / reviews</a>
                <a class="nav-link px-4" href="toasts.html">Toasts</a>
                <a class="nav-link px-4" href="tooltips.html">Tooltips</a>
                <a class="nav-link px-4" href="video-popup.html">Video popup</a>
                <a class="nav-link px-4" href="widgets.html">Widgets</a>
              </nav>
              <h6 class="fs-lg text-light px-4 pt-1 mt-4 mb-3">Utilities</h6>
              <hr class="hr-gradient hr-light mt-0 mb-2 opacity-25">
              <nav class="nav nav-light">
                <a class="nav-link px-4" href="https://getbootstrap.com/docs/5.0/utilities/borders/" target="_blank" rel="noopener">Bootstrap</a>
                <a class="nav-link px-4" href="utilities.html">Createx</a>
              </nav>
            </div>
          </aside>

          <!-- Page title-->
          <div class="border-bottom pt-5 mt-2 mb-5">
            <h1 class="mt-2 mt-md-4 mb-3 pt-5">Icon box</h1>
            <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
              <p class="text-muted">A simple component to describe the various benefits of a product.</p>
              <div class="ps-md-4 mb-3"><span class="badge bg-success">Createx component</span></div>
            </div>
          </div>

          <!-- Icon box: basic-->
          <section class="pb-5 mb-md-2" id="icon-box-basic">
            <h2 class="h3">Basic example</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result1" data-bs-toggle="tab" role="tab" aria-controls="result1" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html1" data-bs-toggle="tab" role="tab" aria-controls="html1" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result1" role="tabpanel">
                    <div class="text-start" style="max-width: 18rem;"><img class="mb-4" src="../assets/img/components/icon-box/01.svg" width="48" alt="Icon box image">
                      <h3 class="h5 mb-2">E-commerce Websites</h3>
                      <p class="mb-0 text-muted">Aenean urna dictum adipiscing nec, cras quisque. Nunc in mauris. </p>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="html1" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Basic icon box --&gt;
&lt;div class=&quot;text-start&quot;&gt;
  &lt;img class=&quot;mb-4&quot; src=&quot;path-to-image&quot; width=&quot;48&quot; alt=&quot;Icon box image&quot;&gt;
  &lt;h3 class=&quot;h5 mb-2&quot;&gt;E-commerce Websites&lt;/h3&gt;
  &lt;p class=&quot;mb-0 text-muted&quot;&gt;Aenean urna dictum adipiscing nec, cras quisque. Nunc in mauris.&lt;/p&gt;
&lt;/div&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Alignment-->
          <section class="pb-5 mb-md-2" id="icon-box-alignment">
            <h2 class="h3">Alignment</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result2" data-bs-toggle="tab" role="tab" aria-controls="result2" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html2" data-bs-toggle="tab" role="tab" aria-controls="html2" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result2" role="tabpanel">
                    <div class="d-sm-flex">
                      <div class="me-sm-grid-gutter mb-sm-0 mb-grid-gutter text-center" style="max-width: 18rem;"><img class="mb-4" src="../assets/img/components/icon-box/01.svg" width="48" alt="Icon box image">
                        <h3 class="h5 mb-2">E-commerce Websites</h3>
                        <p class="mb-0 text-muted">Aenean urna dictum adipiscing nec, cras quisque. Nunc in mauris. </p>
                      </div>
                      <div class="text-end" style="max-width: 18rem;"><img class="mb-4" src="../assets/img/components/icon-box/02.svg" width="48" alt="Icon box image">
                        <h3 class="h5 mb-2">Content-rich Websites</h3>
                        <p class="mb-0 text-muted">Culpa nostrud commodo ea consequat reprehenderit aliquip.</p>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="html2" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Center alignment --&gt;
&lt;div class=&quot;text-center&quot;&gt;
  &lt;img class=&quot;mb-4&quot; src=&quot;path-to-image&quot; width=&quot;48&quot; alt=&quot;Icon box image&quot;&gt;
  &lt;h3 class=&quot;h5 mb-2&quot;&gt;E-commerce Websites&lt;/h3&gt;
  &lt;p class=&quot;mb-0 text-muted&quot;&gt;Aenean urna dictum adipiscing nec, cras quisque. Nunc in mauris.&lt;/p&gt;
&lt;/div&gt;

&lt;!-- Right alignment --&gt;
&lt;div class=&quot;text-end&quot;&gt;
  &lt;img class=&quot;mb-4&quot; src=&quot;path-to-image&quot; width=&quot;48&quot; alt=&quot;Icon box image&quot;&gt;
  &lt;h3 class=&quot;h5 mb-2&quot;&gt;Content-rich Websites&lt;/h3&gt;
  &lt;p class=&quot;mb-0 text-muted&quot;&gt;Culpa nostrud commodo ea consequat reprehenderit aliquip.&lt;/p&gt;
&lt;/div&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Light version-->
          <section class="pb-5 mb-md-2" id="icon-box-light">
            <h2 class="h3">Light version</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result3" data-bs-toggle="tab" role="tab" aria-controls="result3" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html3" data-bs-toggle="tab" role="tab" aria-controls="html3" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane m-n4 p-4 bg-dark fade show active" id="result3" role="tabpanel">
                    <div class="text-center" style="max-width: 18rem;"><img class="mb-4" src="../assets/img/components/icon-box/01.svg" width="48" alt="Icon box image">
                      <h3 class="h5 mb-2 text-white">E-commerce Websites</h3>
                      <p class="mb-0 text-white opacity-60">Aenean urna dictum adipiscing nec, cras quisque. Nunc in mauris.</p>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="html3" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Basic icon box --&gt;
&lt;div class=&quot;text-center&quot;&gt;
  &lt;img class=&quot;mb-4&quot; src=&quot;path-to-image&quot; width=&quot;48&quot; alt=&quot;Icon box image&quot;&gt;
  &lt;h3 class=&quot;h5 mb-2 text-white&quot;&gt;E-commerce Websites&lt;/h3&gt;
  &lt;p class=&quot;mb-0 text-white opacity-60&quot;&gt;Aenean urna dictum adipiscing nec, cras quisque. Nunc in mauris.&lt;/p&gt;
&lt;/div&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Grid: 3 columns (with dividers)-->
          <section class="pb-5 mb-md-2" id="icon-box-grid">
            <h2 class="h3">Grid: 3 columns (with dividers)</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result4" data-bs-toggle="tab" role="tab" aria-controls="result4" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html4" data-bs-toggle="tab" role="tab" aria-controls="html4" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result4" role="tabpanel">
                    <div class="row g-0">
                      <div class="col-sm-4">
                        <div class="text-center mb-sm-0 mb-grid-gutter px-sm-3"><img class="mb-4" src="../assets/img/components/icon-box/01.svg" width="48" alt="Icon box image">
                          <h3 class="h5 mb-2">E-commerce Websites</h3>
                          <p class="mb-0 text-muted">Aenean urna dictum adipiscing nec, cras quisque. Nunc in mauris.</p>
                        </div>
                      </div><span class="divider-vertical d-sm-block d-none"></span>
                      <div class="col-sm-4">
                        <div class="text-center mb-sm-0 mb-grid-gutter px-sm-3"><img class="mb-4" src="../assets/img/components/icon-box/02.svg" width="48" alt="Icon box image">
                          <h3 class="h5 mb-2">Content-rich Websites</h3>
                          <p class="mb-0 text-muted">Culpa nostrud commodo ea consequat reprehenderit aliquip. </p>
                        </div>
                      </div><span class="divider-vertical d-sm-block d-none"></span>
                      <div class="col-sm-4">
                        <div class="text-center px-sm-3"><img class="mb-4" src="../assets/img/components/icon-box/03.svg" width="48" alt="Icon box image">
                          <h3 class="h5 mb-2">B2B /B2C Services</h3>
                          <p class="mb-0 text-muted">Viverra scelerisque consequat net. Adipisicing esse consequat. </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="html4" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Icon box grid: 3 columns (with dividers) --&gt;
&lt;div class=&quot;container&quot;&gt;
  &lt;div class=&quot;row g-0&quot;&gt;
    &lt;div class=&quot;col-sm-4&quot;&gt;
      &lt;div class=&quot;text-center mb-sm-0 mb-grid-gutter&quot;&gt;
        &lt;img class=&quot;mb-4&quot; src=&quot;path-to-image&quot; width=&quot;48&quot; alt=&quot;Icon box image&quot;&gt;
        &lt;h3 class=&quot;h5 mb-2&quot;&gt;E-commerce Websites&lt;/h3&gt;
        &lt;p class=&quot;mb-0 text-muted&quot;&gt;Aenean urna dictum adipiscing nec, cras quisque. Nunc in mauris.&lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;span class=&quot;divider-vertical d-sm-block d-none&quot;&gt;&lt;/span&gt;
    &lt;div class=&quot;col-sm-4&quot;&gt;
      &lt;div class=&quot;text-center mb-sm-0 mb-grid-gutter&quot;&gt;
        &lt;img class=&quot;mb-4&quot; src=&quot;path-to-image&quot; width=&quot;48&quot; alt=&quot;Icon box image&quot;&gt;
        &lt;h3 class=&quot;h5 mb-2&quot;&gt;Content-rich Websites&lt;/h3&gt;
        &lt;p class=&quot;mb-0 text-muted&quot;&gt;Culpa nostrud commodo ea consequat reprehenderit aliquip. &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;span class=&quot;divider-vertical d-sm-block d-none&quot;&gt;&lt;/span&gt;
    &lt;div class=&quot;col-sm-4&quot;&gt;
      &lt;div class=&quot;text-center&quot;&gt;
        &lt;img class=&quot;mb-4&quot; src=&quot;path-to-image&quot; width=&quot;48&quot; alt=&quot;Icon box image&quot;&gt;
        &lt;h3 class=&quot;h5 mb-2&quot;&gt;B2B /B2C Services&lt;/h3&gt;
        &lt;p class=&quot;mb-0 text-muted&quot;&gt;Viverra scelerisque consequat net. Adipisicing esse consequat. &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Icon box: card-->
          <section class="pb-5 mb-md-2" id="icon-box-card">
            <h2 class="h3">Inside card</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result5" data-bs-toggle="tab" role="tab" aria-controls="result5" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html5" data-bs-toggle="tab" role="tab" aria-controls="html5" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result5" role="tabpanel">
                    <div class="d-sm-flex">
                      <div class="card card-hover text-center w-100 me-sm-grid-gutter mb-sm-0 mb-grid-gutter" style="max-width: 24rem;">
                        <div class="card-body"><img class="mb-4" src="../assets/img/components/icon-box/01.svg" width="48" alt="Icon box image">
                          <h3 class="h5 mb-2">E-commerce Websites</h3>
                          <p class="mb-0 text-muted">Aenean urna dictum adipiscing nec, cras quisque. Nunc in mauris.</p>
                        </div>
                      </div>
                      <div class="card border-0 shadow card-hover text-center w-100 me-sm-grid-gutter mb-sm-0 mb-grid-gutter" style="max-width: 24rem;">
                        <div class="card-body"><img class="mb-4" src="../assets/img/components/icon-box/02.svg" width="48" alt="Icon box image">
                          <h3 class="h5 mb-2">Content-rich Websites</h3>
                          <p class="mb-0 text-muted">Culpa nostrud commodo ea consequat reprehenderit aliquip.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="html5" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Card: border --&gt;
&lt;div class=&quot;card card-hover text-center&quot;&gt;
  &lt;div class=&quot;card-body&quot;&gt;
    &lt;img class=&quot;mb-4&quot; src=&quot;path-to-image&quot; width=&quot;48&quot; alt=&quot;Icon box image&quot;&gt;
    &lt;h3 class=&quot;h5 mb-2&quot;&gt;E-commerce Websites&lt;/h3&gt;
    &lt;p class=&quot;mb-0 text-muted&quot;&gt;Aenean urna dictum adipiscing nec, cras quisque. Nunc in mauris.&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;!-- Card: shadow --&gt;
&lt;div class=&quot;card border-0 shadow card-hover text-center&quot;&gt;
  &lt;div class=&quot;card-body&quot;&gt;
    &lt;img class=&quot;mb-4&quot; src=&quot;path-to-image&quot; width=&quot;48&quot; alt=&quot;Icon box image&quot;&gt;
    &lt;h3 class=&quot;h5 mb-2&quot;&gt;Content-rich Websites&lt;/h3&gt;
    &lt;p class=&quot;mb-0 text-muted&quot;&gt;Culpa nostrud commodo ea consequat reprehenderit aliquip.&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Use Case: Statistics-->
          <section class="pb-5 mb-md-2" id="icon-box-statistics">
            <h2 class="h3">Use Case: Statistics</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result6" data-bs-toggle="tab" role="tab" aria-controls="result6" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html6" data-bs-toggle="tab" role="tab" aria-controls="html6" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result6" role="tabpanel">
                    <div class="row">
                      <div class="col-xl-3 col-sm-4">
                        <div class="text-center mb-sm-0 mb-grid-gutter"><img class="mb-3" src="../assets/img/components/icon-box/04.svg" width="48" alt="Icon box image">
                          <h3 class="h5 mb-2 pt-1 text-primary" style="font-size: 2.875rem">60%</h3>
                          <p class="mb-0 fs-sm text-dark">Clients on the recommendation of friends</p>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-4">
                        <div class="text-center mb-sm-0 mb-grid-gutter"><img class="mb-3" src="../assets/img/components/icon-box/05.svg" width="48" alt="Icon box image">
                          <h3 class="h5 mb-2 pt-1 text-primary" style="font-size: 2.875rem">2400+</h3>
                          <p class="mb-0 fs-sm text-dark">Apartments renovated</p>
                        </div>
                      </div>
                      <div class="col-xl-3 col-sm-4">
                        <div class="text-center"><img class="mb-3" src="../assets/img/components/icon-box/06.svg" width="48" alt="Icon box image">
                          <h3 class="h5 mb-2 pt-1 text-primary" style="font-size: 2.875rem">670</h3>
                          <p class="mb-0 fs-sm text-dark">Qualified specialists</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="html6" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Statistic icon box --&gt;
&lt;div class=&quot;text-center&quot;&gt;
  &lt;img class=&quot;mb-3&quot; src=&quot;path-to-image&quot; width=&quot;48&quot; alt=&quot;Icon box image&quot;&gt;
  &lt;h3 class=&quot;h5 mb-2 pt-1 text-primary&quot; style=&quot;font-size: 2.875rem&quot;&gt;60%&lt;/h3&gt;
  &lt;p class=&quot;mb-0 fs-sm text-dark&quot;&gt;Clients on the recommendation of friends&lt;/p&gt;
&lt;/div&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

        <!-- Quick (anchor) navigation-->
        <div class="col-xl-3 d-none d-xl-block ps-5">
          <aside class="sticky-top pt-5">
            <div class="pt-5 mt-5">
              <div class="ps-4 border-start">
                <h3 class="h5 mb-3">Jump to</h3>
                <nav class="nav nav-dark flex-column">
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#icon-box-basic">Basic example</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#icon-box-alignment">Alignment</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#icon-box-light">Light version</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#icon-box-grid">Grid: 3 columns (with dividers)</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#icon-box-card">Inside card</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#icon-box-statistics">Use Case: Statistics</a>
                </nav>
              </div>
            </div>
          </aside>
        </div>
      </section>
    </main>

    <!-- Back to top button-->
    <a class="btn-scroll-top" href="#top" data-scroll data-fixed-element>
      <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
      <i class="btn-scroll-top-icon ci-angle-up"></i>
    </a>

    <!-- Vendor scripts: js libraries and plugins-->
    <script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="../assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="../assets/vendor/prismjs/components/prism-core.min.js"></script>
    <script src="../assets/vendor/prismjs/components/prism-markup.min.js"></script>
    <script src="../assets/vendor/prismjs/components/prism-clike.min.js"></script>
    <script src="../assets/vendor/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="../assets/vendor/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="../assets/vendor/prismjs/plugins/line-numbers/prism-line-numbers.min.js"></script>

    <!-- Main theme script-->
    <script src="../assets/js/theme.min.js"></script>
  </body>
</html>