<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Createx UI Kit | Modal</title>

    <!-- SEO Meta Tags-->
    <meta name="description" content="Createx - Multipurpose Bootstrap Template">
    <meta name="keywords" content="bootstrap, business, creative agency, construction, services, e-commerce, shopping cart, mobile app showcase, multipurpose, shop, ui kit, marketing, seo, landing, html5, css3, javascript, gallery, slider, touch, creative">
    <meta name="author" content="Createx Studio">

    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon-16x16.png">
    <link rel="manifest" href="../assets/img/site.webmanifest">
    <link rel="mask-icon" color="#5bbad5" href="../assets/img/safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#766df4">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="../assets/vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="../assets/vendor/prismjs/themes/prism.css"/>
    <link rel="stylesheet" media="screen" href="../assets/vendor/prismjs/plugins/toolbar/prism-toolbar.css"/>
    <link rel="stylesheet" media="screen" href="../assets/vendor/prismjs/plugins/line-numbers/prism-line-numbers.css"/>

    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="../assets/css/theme.min.css">
  </head>


  <!-- Body-->
  <body>
    <main class="container-fluid">

      <!-- Main content-->
      <section class="offcanvas-enabled-start row pb-3 pb-md-4">
        <div class="col-xl-9">

          <!-- Navbar-->
          <header class="navbar navbar-expand navbar-light fixed-top navbar-shadow bg-light px-3 px-lg-4" data-scroll-header data-fixed-element>
            <a class="navbar-brand d-lg-none" href="typography.html">
              <img src="../assets/img/components/logo/logo-dark.svg" alt="Createx" width="130">
            </a>
            <button class="navbar-toggler d-block d-lg-none me-3 ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#componentsNav">
              <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav ms-auto d-none d-lg-flex align-items-center">
              <li class="nav-item">
                <a class="nav-link py-0" href="../../index.html">
                  <i class="ci-eye align-middle mt-n1 me-2"></i>
                  Live preview
                </a>
              </li>
              <li class="nav-item">
                <div class="nav-link disabled text-border px-1">|</div>
              </li>
              <li class="nav-item">
                <a class="nav-link py-0" href="../documentation/dev-setup.html">
                  <i class="ci-files align-middle mt-n1 me-2"></i>
                  Documentation
                </a>
              </li>
              <li class="nav-item">
                <div class="nav-link disabled text-border px-1">|</div>
              </li>
            </ul>
            <a href="https://themes.getbootstrap.com/product/createx-multipurpose-template-ui-kit/" class="btn btn-primary btn-hover-shadow ms-lg-4" target="_blank" rel="noopener">
              <i class="ci-cart me-2 d-none d-sm-inline-block"></i>
              Buy now
            </a>
          </header>

          <!-- Side navigation (Offcanvas)-->
          <aside class="offcanvas offcanvas-expand offcanvas-start bg-dark" id="componentsNav">
            <div class="offcanvas-header d-none d-lg-block py-4">
              <a class="navbar-brand py-2" href="typography.html">
                <img src="../assets/img/components/logo/logo-white.svg" alt="Createx" width="130">
              </a>
              <span class="badge bg-success">UI Kit</span>
            </div>
            <div class="offcanvas-header d-flex d-lg-none align-items-center">
              <div class="d-flex align-items-center mt-1">
                <h5 class="text-light mb-0 me-3">Menu</h5>
                <span class="badge bg-success">UI Kit</span>
              </div>
              <button class="btn-close btn-close-white" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="d-flex d-lg-none align-items-center py-4 px-3 border-bottom border-light">
              <a class="btn btn-primary d-block w-100 me-3" href="../../index.html"><i class="ci-eye mt-n1 me-2"></i>Preview</a>
              <a class="btn btn-warning d-block w-100 mt-0" href="../documentation/dev-setup.html"><i class="ci-files mt-n1 me-2"></i>Docs</a>
            </div>
            <div class="offcanvas-body px-0 pt-4 pb-grid-gutter" data-simplebar data-simplebar-inverse>
              <h6 class="fs-lg text-light px-4 mt-2 mb-3">Content</h6>
              <hr class="hr-gradient hr-light mt-0 mb-2 opacity-25">
              <nav class="nav nav-light">
                <a class="nav-link px-4" href="typography.html">Typography</a>
                <a class="nav-link px-4" href="icon-font.html">Icon font</a>
                <a class="nav-link px-4" href="code.html">Code</a>
                <a class="nav-link px-4" href="images.html">Images &amp; figures</a>
                <a class="nav-link px-4" href="tables.html">Tables</a>
              </nav>
              <h6 class="fs-lg text-light px-4 pt-1 mt-4 mb-3">Components</h6>
              <hr class="hr-gradient hr-light mt-0 mb-2 opacity-25">
              <nav class="nav nav-light">
                <a class="nav-link px-4" href="accordion.html">Accordion</a>
                <a class="nav-link px-4" href="alerts.html">Alerts</a>
                <a class="nav-link px-4" href="badge.html">Badges</a>
                <a class="nav-link px-4" href="blog-components.html">Blog components</a>
                <a class="nav-link px-4" href="breadcrumb.html">Breadcrumb</a>
                <a class="nav-link px-4" href="buttons.html">Buttons</a>
                <a class="nav-link px-4" href="button-group.html">Button group</a>
                <a class="nav-link px-4" href="cards.html">Cards</a>
                <a class="nav-link px-4" href="carousel.html">Carousel</a>
                <a class="nav-link px-4" href="collapse.html">Collapse</a>
                <a class="nav-link px-4" href="contacts-card.html">Contacts card</a>
                <a class="nav-link px-4" href="countdown.html">Countdown</a>
                <a class="nav-link px-4" href="dividers.html">Dividers</a>
                <a class="nav-link px-4" href="dropdowns.html">Dropdowns</a>
                <a class="nav-link px-4" href="forms.html">Forms</a>
                <a class="nav-link px-4" href="gallery.html">Gallery</a>
                <a class="nav-link px-4" href="icon-box.html">Icon box</a>
                <a class="nav-link px-4" href="input-group.html">Input group</a>
                <a class="nav-link px-4" href="list-group.html">List group</a>
                <a class="nav-link px-4 active" href="modal.html">Modal</a>
                <a class="nav-link px-4" href="navs.html">Navs</a>
                <a class="nav-link px-4" href="navbar.html">Navbar</a>
                <a class="nav-link px-4" href="offcanvas.html">Offcanvas</a>
                <a class="nav-link px-4" href="pagination.html">Pagination</a>
                <a class="nav-link px-4" href="parallax.html">Parallax</a>
                <a class="nav-link px-4" href="pills.html">Pills</a>
                <a class="nav-link px-4" href="popovers.html">Popovers</a>
                <a class="nav-link px-4" href="portfolio-components.html">Portfolio components</a>
                <a class="nav-link px-4" href="pricing.html">Pricing</a>
                <a class="nav-link px-4" href="progress-bar.html">Progress bar</a>
                <a class="nav-link px-4" href="progress-radial.html">Progress radial</a>
                <a class="nav-link px-4" href="scrollbar-custom.html">Scrollbar (custom)</a>
                <a class="nav-link px-4" href="shop-components.html">Shop components</a>
                <a class="nav-link px-4" href="social-buttons.html">Social buttons</a>
                <a class="nav-link px-4" href="spinners.html">Spinners</a>
                <a class="nav-link px-4" href="steps.html">Steps</a>
                <a class="nav-link px-4" href="tabs.html">Tabs</a>
                <a class="nav-link px-4" href="team.html">Team</a>
                <a class="nav-link px-4" href="testimonials.html">Testimonials / reviews</a>
                <a class="nav-link px-4" href="toasts.html">Toasts</a>
                <a class="nav-link px-4" href="tooltips.html">Tooltips</a>
                <a class="nav-link px-4" href="video-popup.html">Video popup</a>
                <a class="nav-link px-4" href="widgets.html">Widgets</a>
              </nav>
              <h6 class="fs-lg text-light px-4 pt-1 mt-4 mb-3">Utilities</h6>
              <hr class="hr-gradient hr-light mt-0 mb-2 opacity-25">
              <nav class="nav nav-light">
                <a class="nav-link px-4" href="https://getbootstrap.com/docs/5.0/utilities/borders/" target="_blank" rel="noopener">Bootstrap</a>
                <a class="nav-link px-4" href="utilities.html">Createx</a>
              </nav>
            </div>
          </aside>

          <!-- Page title-->
          <div class="border-bottom pt-5 mt-2 mb-5">
            <h1 class="mt-2 mt-md-4 mb-3 pt-5">Modal</h1>
            <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
              <p class="text-muted">Add dialogs to your site for lightboxes, user notifications, etc.</p>
              <p class="fs-sm fw-bold ps-md-4">
                <a class="text-nowrap" href="https://getbootstrap.com/docs/5.0/components/modal/" target="_blank" rel="noopener">
                  Bootstrap docs<i class="ci-angle-right fs-base align-middle ms-1"></i>
                </a>
              </p>
            </div>
          </div>

          <!-- Small modal-->
          <div class="modal fade" id="modalSmall" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Modal title</h4>
                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>...</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Default modal-->
          <div class="modal fade" id="modalDefault" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Modal title</h4>
                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="fs-sm">Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">Close</button>
                  <button class="btn btn-primary btn-sm" type="button">Save changes</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Large modal-->
          <div class="modal fade" id="modalLarge" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Modal title</h4>
                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="fs-sm">Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">Close</button>
                  <button class="btn btn-primary btn-sm" type="button">Save changes</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Extra large modal-->
          <div class="modal fade" id="modalXL" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Modal title</h4>
                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="fs-sm">Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">Close</button>
                  <button class="btn btn-primary btn-sm" type="button">Save changes</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Long modal-->
          <div class="modal fade" id="modalLong" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Modal title</h4>
                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body fs-sm">
                  <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                  <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                  <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                  <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                  <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                  <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                  <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                  <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                  <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                  <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                  <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                  <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">Close</button>
                  <button class="btn btn-primary btn-sm" type="button">Save changes</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Scrolling content-->
          <div class="modal fade" id="modalScroll" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Modal title</h4>
                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body fs-sm">
                  <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                  <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                  <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                  <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                  <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                  <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                  <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                  <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                  <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                  <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                  <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                  <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">Close</button>
                  <button class="btn btn-primary btn-sm" type="button">Save changes</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Vertically centered modal-->
          <div class="modal fade" id="modalCentered" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Modal title</h4>
                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="fs-sm">Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">Close</button>
                  <button class="btn btn-primary btn-sm" type="button">Save changes</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Full screen modal-->
          <div class="modal fade" id="modalFullscreen" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-fullscreen" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Modal title</h4>
                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="fs-sm">Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">Close</button>
                  <button class="btn btn-primary btn-sm" type="button">Save changes</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal markup-->
          <section class="pb-5 mb-md-2" id="modal-markup">
            <h2 class="h3">Modal markup</h2>
            <div class="card box-shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result1" data-bs-toggle="tab" role="tab" aria-controls="result1" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html1" data-bs-toggle="tab" role="tab" aria-controls="html1" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result1" role="tabpanel">
                    <style>
                      .example-modal .modal {
                        display: block;
                        position: relative;
                        top: auto;
                        right: auto;
                        bottom: auto;
                        left: auto;
                        z-index: 1;
                      }
                    </style>
                    <div class="example-modal">
                      <div class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Modal title</h5>
                              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <p class="fs-sm">Modal body text goes here.</p>
                            </div>
                            <div class="modal-footer">
                              <button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">Close</button>
                              <button class="btn btn-primary btn-sm" type="button">Save changes</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="html1" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Modal markup --&gt;
&lt;div class=&quot;modal&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot;&gt;
  &lt;div class=&quot;modal-dialog&quot; role=&quot;document&quot;&gt;
    &lt;div class=&quot;modal-content&quot;&gt;
      &lt;div class=&quot;modal-header&quot;&gt;
        &lt;h5 class=&quot;modal-title&quot;&gt;Modal title&lt;/h5&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn-close&quot; data-bs-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;&lt;/button&gt;
      &lt;/div&gt;
      &lt;div class=&quot;modal-body&quot;&gt;
        &lt;p class=&quot;fs-sm&quot;&gt;Modal body text goes here.&lt;/p&gt;
      &lt;/div&gt;
      &lt;div class=&quot;modal-footer&quot;&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-secondary btn-sm&quot; data-bs-dismiss=&quot;modal&quot;&gt;Close&lt;/button&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-sm&quot;&gt;Save changes&lt;/button&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Tabs and forms-->
          <section class="pb-5 mb-md-2" id="modal-tabs-forms">
            <h2 class="h3">Tabs and forms</h2>
            <div class="card box-shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result2" data-bs-toggle="tab" role="tab" aria-controls="result2" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html2" data-bs-toggle="tab" role="tab" aria-controls="html2" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result2" role="tabpanel">
                    <div class="example-modal">
                      <div class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <ul class="nav nav-tabs mb-0" role="tablist">
                                <li class="nav-item"><a class="nav-link active" href="#signin" data-bs-toggle="tab" role="tab" aria-selected="true"><i class="ai-unlock me-2 mt-n1"></i>Sign in</a></li>
                                <li class="nav-item"><a class="nav-link" href="#signup" data-bs-toggle="tab" role="tab" aria-selected="false"><i class="ai-user me-2 mt-n1"></i>Sign up</a></li>
                              </ul>
                              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body tab-content py-4">
                              <form class="tab-pane fade show active" autocomplete="off" id="signin">
                                <div class="mb-3">
                                  <label class="form-label" for="email1">Email address</label>
                                  <input class="form-control" type="email" id="email1" placeholder="johndoe@example.com">
                                </div>
                                <div class="mb-3">
                                  <label class="form-label" for="pass1">Password</label>
                                  <div class="password-toggle">
                                    <input class="form-control" type="password" id="pass1">
                                    <label class="password-toggle-btn">
                                      <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                    </label>
                                  </div>
                                </div>
                                <div class="mb-3 d-flex flex-wrap justify-content-between">
                                  <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="remember">
                                    <label class="form-check-label" for="remember">Remember me</label>
                                  </div><a class="fs-sm" href="#">Forgot password?</a>
                                </div>
                                <button class="btn btn-primary d-block w-100" type="submit">Sign in</button>
                              </form>
                              <form class="tab-pane fade" autocomplete="off" id="signup">
                                <div class="mb-3">
                                  <label class="form-label" for="name">Full name</label>
                                  <input class="form-control" type="text" id="name" placeholder="John Doe">
                                </div>
                                <div class="mb-3">
                                  <label class="form-label" for="email2">Email address</label>
                                  <input class="form-control" type="email" id="email2" placeholder="johndoe@example.com">
                                </div>
                                <div class="mb-3">
                                  <label class="form-label" for="pass2">Password</label>
                                  <div class="password-toggle">
                                    <input class="form-control" type="password" id="pass2">
                                    <label class="password-toggle-btn">
                                      <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                    </label>
                                  </div>
                                </div>
                                <div class="mb-3">
                                  <label class="form-label" for="pass3">Confirm password</label>
                                  <div class="password-toggle">
                                    <input class="form-control" type="password" id="pass3">
                                    <label class="password-toggle-btn">
                                      <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                    </label>
                                  </div>
                                </div>
                                <button class="btn btn-primary d-block" type="submit">Sign up</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="html2" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Modal with tabs and forms --&gt;
&lt;div class=&quot;modal&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot;&gt;
  &lt;div class=&quot;modal-dialog&quot; role=&quot;document&quot;&gt;
    &lt;div class=&quot;modal-content&quot;&gt;
      &lt;div class=&quot;modal-header&quot;&gt;
        &lt;ul class=&quot;nav nav-tabs mb-0&quot; role=&quot;tablist&quot;&gt;
          &lt;li class=&quot;nav-item&quot;&gt;
            &lt;a class=&quot;nav-link active&quot; href=&quot;#signin&quot; data-bs-toggle=&quot;tab&quot; role=&quot;tab&quot; aria-selected=&quot;true&quot;&gt;
              &lt;i class=&quot;ai-unlocked me-2 mt-n1&quot;&gt;&lt;/i&gt;
              Sign in
            &lt;/a&gt;
          &lt;/li&gt;
          &lt;li class=&quot;nav-item&quot;&gt;
            &lt;a class=&quot;nav-link&quot; href=&quot;#signup&quot;data-bs-toggle=&quot;tab&quot; role=&quot;tab&quot; aria-selected=&quot;false&quot;&gt;
              &lt;i class=&quot;ai-user me-2 mt-n1&quot;&gt;&lt;/i&gt;
              Sign up
            &lt;/a&gt;
          &lt;/li&gt;
        &lt;/ul&gt;
        &lt;button class=&quot;btn-close&quot; type=&quot;button&quot; data-bs-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;&lt;/button&gt;
      &lt;/div&gt;
      &lt;div class=&quot;modal-body tab-content py-4&quot;&gt;
        &lt;form class=&quot;tab-pane fade show active&quot; id=&quot;signin&quot; autocomplete=&quot;off&quot;&gt;
          &lt;div class=&quot;mb-3&quot;&gt;
            &lt;label for=&quot;email1&quot; class=&quot;form-label&quot;&gt;Email address&lt;/label&gt;
            &lt;input class=&quot;form-control&quot; type=&quot;email&quot; id=&quot;email1&quot; placeholder=&quot;johndoe@example.com&quot;&gt;
          &lt;/label&gt;
          &lt;div class=&quot;mb-3&quot;&gt;
            &lt;label for=&quot;pass1&quot; class=&quot;form-label&quot;&gt;Password&lt;/label&gt;
            &lt;div class=&quot;password-toggle&quot;&gt;
              &lt;input class=&quot;form-control&quot; type=&quot;password&quot; id=&quot;pass1&quot;&gt;
              &lt;label class=&quot;password-toggle-btn&quot;&gt;
                &lt;input class=&quot;password-toggle-check&quot; type=&quot;checkbox&quot;&gt;
                &lt;span class=&quot;password-toggle-indicator&quot;&gt;&lt;/span&gt;
              &lt;/label&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;mb-3 d-flex flex-wrap justify-content-between&quot;&gt;
            &lt;div class=&quot;form-check mb-2&quot;&gt;
              &lt;input class=&quot;form-check-input&quot; type=&quot;checkbox&quot; id=&quot;remember&quot;&gt;
              &lt;label class=&quot;form-check-label&quot; for=&quot;remember&quot;&gt;Remember me&lt;/label&gt;
            &lt;/div&gt;
            &lt;a class=&quot;fs-sm&quot; href=&quot;#&quot;&gt;Forgot password?&lt;/a&gt;
          &lt;/div&gt;
          &lt;button class=&quot;btn btn-primary d-block&quot; type=&quot;submit&quot;&gt;Sign in&lt;/button&gt;
        &lt;/form&gt;
        &lt;form class=&quot;tab-pane fade&quot; id=&quot;signup&quot; autocomplete=&quot;off&quot;&gt;
          &lt;div class=&quot;mb-3&quot;&gt;
            &lt;label for=&quot;name&quot; class=&quot;form-label&quot;&gt;Full name&lt;/label&gt;
            &lt;input class=&quot;form-control&quot; type=&quot;text&quot; id=&quot;name&quot; placeholder=&quot;John Doe&quot;&gt;
          &lt;/div&gt;
          &lt;div class=&quot;mb-3&quot;&gt;
            &lt;label for=&quot;email2&quot; class=&quot;form-label&quot;&gt;Email address&lt;/label&gt;
            &lt;input class=&quot;form-control&quot; type=&quot;email&quot; id=&quot;email2&quot; placeholder=&quot;johndoe@example.com&quot;&gt;
          &lt;/div&gt;
          &lt;div class=&quot;mb-3&quot;&gt;
            &lt;label for=&quot;pass2&quot; class=&quot;form-label&quot;&gt;Password&lt;/label&gt;
            &lt;div class=&quot;password-toggle&quot;&gt;
              &lt;input class=&quot;form-control&quot; type=&quot;password&quot; id=&quot;pass2&quot;&gt;
              &lt;label class=&quot;password-toggle-btn&quot;&gt;
                &lt;input class=&quot;password-toggle-check&quot; type=&quot;checkbox&quot;&gt;
                &lt;span class=&quot;password-toggle-indicator&quot;&gt;&lt;/span&gt;
              &lt;/label&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;mb-3&quot;&gt;
            &lt;label for=&quot;pass3&quot; class=&quot;form-label&quot;&gt;Confirm password&lt;/label&gt;
            &lt;div class=&quot;password-toggle&quot;&gt;
              &lt;input class=&quot;form-control&quot; type=&quot;password&quot; id=&quot;pass3&quot;&gt;
              &lt;label class=&quot;password-toggle-btn&quot;&gt;
                &lt;input class=&quot;password-toggle-check&quot; type=&quot;checkbox&quot;&gt;
                &lt;span class=&quot;password-toggle-indicator&quot;&gt;&lt;/span&gt;
              &lt;/label&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;button class=&quot;btn btn-primary d-block&quot; type=&quot;submit&quot;&gt;Sign in&lt;/button&gt;
        &lt;/form&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Live demo-->
          <section class="pb-5 mb-md-2" id="modal-demo">
            <h2 class="h3">Live demo</h2>
            <div class="card box-shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result3" data-bs-toggle="tab" role="tab" aria-controls="result3" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html3" data-bs-toggle="tab" role="tab" aria-controls="html3" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result3" role="tabpanel">
                    <button class="btn btn-outline-secondary me-2 mb-3" type="button" data-bs-toggle="modal" data-bs-target="#modalSmall">Small modal</button>
                    <button class="btn btn-outline-secondary me-2 mb-3" type="button" data-bs-toggle="modal" data-bs-target="#modalDefault">Default modal</button>
                    <button class="btn btn-outline-secondary me-2 mb-3" type="button" data-bs-toggle="modal" data-bs-target="#modalLarge">Large modal</button>
                    <button class="btn btn-outline-secondary me-2 mb-3" type="button" data-bs-toggle="modal" data-bs-target="#modalXL">Extra large modal</button>
                    <button class="btn btn-outline-secondary me-2 mb-3" type="button" data-bs-toggle="modal" data-bs-target="#modalLong">Long modal</button>
                    <button class="btn btn-outline-secondary me-2 mb-3" type="button" data-bs-toggle="modal" data-bs-target="#modalScroll">Srolling content</button>
                    <button class="btn btn-outline-secondary me-2 mb-3" type="button" data-bs-toggle="modal" data-bs-target="#modalCentered">Vertically centered modal</button>
                    <button class="btn btn-outline-secondary mb-3" type="button" data-bs-toggle="modal" data-bs-target="#modalFullscreen">Full screen modal</button>
                  </div>
                  <div class="tab-pane fade" id="html3" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Make sure the actual modal markup is present on the page and has the right id --&gt;

&lt;!-- Launch small modal --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-outline-secondary&quot; data-bs-toggle=&quot;modal&quot; data-bs-target=&quot;#modalSmall&quot;&gt;
  Small modal
&lt;/button&gt;

&lt;!-- Launch default modal --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-outline-secondary&quot; data-bs-toggle=&quot;modal&quot; data-bs-target=&quot;#modalDefault&quot;&gt;
  Default modal
&lt;/button&gt;

&lt;!-- Launch large modal --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-outline-secondary&quot; data-bs-toggle=&quot;modal&quot; data-bs-target=&quot;#modalLarge&quot;&gt;
  Large modal
&lt;/button&gt;

&lt;!-- Launch extra large modal --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-outline-secondary&quot; data-bs-toggle=&quot;modal&quot; data-bs-target=&quot;#modalXL&quot;&gt;
  Extra large modal
&lt;/button&gt;

&lt;!-- Launch long modal --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-outline-secondary&quot; data-bs-toggle=&quot;modal&quot; data-bs-target=&quot;#modalLong&quot;&gt;
  Long modal
&lt;/button&gt;

&lt;!-- Launch modal with srolling content --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-outline-secondary&quot; data-bs-toggle=&quot;modal&quot; data-bs-target=&quot;#modalScroll&quot;&gt;
  Srolling content
&lt;/button&gt;

&lt;!-- Launch vertically centered modal --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-outline-secondary&quot; data-bs-toggle=&quot;modal&quot; data-bs-target=&quot;#modalCentered&quot;&gt;
  Vertically centered modal
&lt;/button&gt;

&lt;!-- Launch full screen modal --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-outline-secondary&quot; data-bs-toggle=&quot;modal&quot; data-bs-target=&quot;#modalFullscreen&quot;&gt;
  Vertically centered modal
&lt;/button&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

        <!-- Quick (anchor) navigation-->
        <div class="col-xl-3 d-none d-xl-block ps-5">
          <aside class="sticky-top pt-5">
            <div class="pt-5 mt-5">
              <div class="ps-4 border-start">
                <h3 class="h5 mb-3">Jump to</h3>
                <nav class="nav nav-dark flex-column">
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#modal-markup">Modal markup</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#modal-tabs-forms">Tabs and forms</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#modal-demo">Live demo</a>
                </nav>
              </div>
            </div>
          </aside>
        </div>
      </section>
    </main>

    <!-- Back to top button-->
    <a class="btn-scroll-top" href="#top" data-scroll data-fixed-element>
      <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
      <i class="btn-scroll-top-icon ci-angle-up"></i>
    </a>

    <!-- Vendor scripts: js libraries and plugins-->
    <script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="../assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="../assets/vendor/prismjs/components/prism-core.min.js"></script>
    <script src="../assets/vendor/prismjs/components/prism-markup.min.js"></script>
    <script src="../assets/vendor/prismjs/components/prism-clike.min.js"></script>
    <script src="../assets/vendor/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="../assets/vendor/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="../assets/vendor/prismjs/plugins/line-numbers/prism-line-numbers.min.js"></script>

    <!-- Main theme script-->
    <script src="../assets/js/theme.min.js"></script>
  </body>
</html>