<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Createx UI Kit | Navbar</title>

    <!-- SEO Meta Tags-->
    <meta name="description" content="Createx - Multipurpose Bootstrap Template">
    <meta name="keywords" content="bootstrap, business, creative agency, construction, services, e-commerce, shopping cart, mobile app showcase, multipurpose, shop, ui kit, marketing, seo, landing, html5, css3, javascript, gallery, slider, touch, creative">
    <meta name="author" content="Createx Studio">

    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon-16x16.png">
    <link rel="manifest" href="../assets/img/site.webmanifest">
    <link rel="mask-icon" color="#5bbad5" href="../assets/img/safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#766df4">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="../assets/vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="../assets/vendor/prismjs/themes/prism.css"/>
    <link rel="stylesheet" media="screen" href="../assets/vendor/prismjs/plugins/toolbar/prism-toolbar.css"/>
    <link rel="stylesheet" media="screen" href="../assets/vendor/prismjs/plugins/line-numbers/prism-line-numbers.css"/>

    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="../assets/css/theme.min.css">
  </head>


  <!-- Body-->
  <body>
    <main class="container-fluid">

      <!-- Main content-->
      <section class="offcanvas-enabled-start row pb-3 pb-md-4">
        <div class="col-xl-9">

          <!-- Navbar-->
          <header class="navbar navbar-expand navbar-light fixed-top navbar-shadow bg-light px-3 px-lg-4" data-scroll-header data-fixed-element>
            <a class="navbar-brand d-lg-none" href="typography.html">
              <img src="../assets/img/components/logo/logo-dark.svg" alt="Createx" width="130">
            </a>
            <button class="navbar-toggler d-block d-lg-none me-3 ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#componentsNav">
              <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav ms-auto d-none d-lg-flex align-items-center">
              <li class="nav-item">
                <a class="nav-link py-0" href="../../index.html">
                  <i class="ci-eye align-middle mt-n1 me-2"></i>
                  Live preview
                </a>
              </li>
              <li class="nav-item">
                <div class="nav-link disabled text-border px-1">|</div>
              </li>
              <li class="nav-item">
                <a class="nav-link py-0" href="../documentation/dev-setup.html">
                  <i class="ci-files align-middle mt-n1 me-2"></i>
                  Documentation
                </a>
              </li>
              <li class="nav-item">
                <div class="nav-link disabled text-border px-1">|</div>
              </li>
            </ul>
            <a href="https://themes.getbootstrap.com/product/createx-multipurpose-template-ui-kit/" class="btn btn-primary btn-hover-shadow ms-lg-4" target="_blank" rel="noopener">
              <i class="ci-cart me-2 d-none d-sm-inline-block"></i>
              Buy now
            </a>
          </header>

          <!-- Side navigation (Offcanvas)-->
          <aside class="offcanvas offcanvas-expand offcanvas-start bg-dark" id="componentsNav">
            <div class="offcanvas-header d-none d-lg-block py-4">
              <a class="navbar-brand py-2" href="typography.html">
                <img src="../assets/img/components/logo/logo-white.svg" alt="Createx" width="130">
              </a>
              <span class="badge bg-success">UI Kit</span>
            </div>
            <div class="offcanvas-header d-flex d-lg-none align-items-center">
              <div class="d-flex align-items-center mt-1">
                <h5 class="text-light mb-0 me-3">Menu</h5>
                <span class="badge bg-success">UI Kit</span>
              </div>
              <button class="btn-close btn-close-white" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="d-flex d-lg-none align-items-center py-4 px-3 border-bottom border-light">
              <a class="btn btn-primary d-block w-100 me-3" href="../../index.html"><i class="ci-eye mt-n1 me-2"></i>Preview</a>
              <a class="btn btn-warning d-block w-100 mt-0" href="../documentation/dev-setup.html"><i class="ci-files mt-n1 me-2"></i>Docs</a>
            </div>
            <div class="offcanvas-body px-0 pt-4 pb-grid-gutter" data-simplebar data-simplebar-inverse>
              <h6 class="fs-lg text-light px-4 mt-2 mb-3">Content</h6>
              <hr class="hr-gradient hr-light mt-0 mb-2 opacity-25">
              <nav class="nav nav-light">
                <a class="nav-link px-4" href="typography.html">Typography</a>
                <a class="nav-link px-4" href="icon-font.html">Icon font</a>
                <a class="nav-link px-4" href="code.html">Code</a>
                <a class="nav-link px-4" href="images.html">Images &amp; figures</a>
                <a class="nav-link px-4" href="tables.html">Tables</a>
              </nav>
              <h6 class="fs-lg text-light px-4 pt-1 mt-4 mb-3">Components</h6>
              <hr class="hr-gradient hr-light mt-0 mb-2 opacity-25">
              <nav class="nav nav-light">
                <a class="nav-link px-4" href="accordion.html">Accordion</a>
                <a class="nav-link px-4" href="alerts.html">Alerts</a>
                <a class="nav-link px-4" href="badge.html">Badges</a>
                <a class="nav-link px-4" href="blog-components.html">Blog components</a>
                <a class="nav-link px-4" href="breadcrumb.html">Breadcrumb</a>
                <a class="nav-link px-4" href="buttons.html">Buttons</a>
                <a class="nav-link px-4" href="button-group.html">Button group</a>
                <a class="nav-link px-4" href="cards.html">Cards</a>
                <a class="nav-link px-4" href="carousel.html">Carousel</a>
                <a class="nav-link px-4" href="collapse.html">Collapse</a>
                <a class="nav-link px-4" href="contacts-card.html">Contacts card</a>
                <a class="nav-link px-4" href="countdown.html">Countdown</a>
                <a class="nav-link px-4" href="dividers.html">Dividers</a>
                <a class="nav-link px-4" href="dropdowns.html">Dropdowns</a>
                <a class="nav-link px-4" href="forms.html">Forms</a>
                <a class="nav-link px-4" href="gallery.html">Gallery</a>
                <a class="nav-link px-4" href="icon-box.html">Icon box</a>
                <a class="nav-link px-4" href="input-group.html">Input group</a>
                <a class="nav-link px-4" href="list-group.html">List group</a>
                <a class="nav-link px-4" href="modal.html">Modal</a>
                <a class="nav-link px-4" href="navs.html">Navs</a>
                <a class="nav-link px-4 active" href="navbar.html">Navbar</a>
                <a class="nav-link px-4" href="offcanvas.html">Offcanvas</a>
                <a class="nav-link px-4" href="pagination.html">Pagination</a>
                <a class="nav-link px-4" href="parallax.html">Parallax</a>
                <a class="nav-link px-4" href="pills.html">Pills</a>
                <a class="nav-link px-4" href="popovers.html">Popovers</a>
                <a class="nav-link px-4" href="portfolio-components.html">Portfolio components</a>
                <a class="nav-link px-4" href="pricing.html">Pricing</a>
                <a class="nav-link px-4" href="progress-bar.html">Progress bar</a>
                <a class="nav-link px-4" href="progress-radial.html">Progress radial</a>
                <a class="nav-link px-4" href="scrollbar-custom.html">Scrollbar (custom)</a>
                <a class="nav-link px-4" href="shop-components.html">Shop components</a>
                <a class="nav-link px-4" href="social-buttons.html">Social buttons</a>
                <a class="nav-link px-4" href="spinners.html">Spinners</a>
                <a class="nav-link px-4" href="steps.html">Steps</a>
                <a class="nav-link px-4" href="tabs.html">Tabs</a>
                <a class="nav-link px-4" href="team.html">Team</a>
                <a class="nav-link px-4" href="testimonials.html">Testimonials / reviews</a>
                <a class="nav-link px-4" href="toasts.html">Toasts</a>
                <a class="nav-link px-4" href="tooltips.html">Tooltips</a>
                <a class="nav-link px-4" href="video-popup.html">Video popup</a>
                <a class="nav-link px-4" href="widgets.html">Widgets</a>
              </nav>
              <h6 class="fs-lg text-light px-4 pt-1 mt-4 mb-3">Utilities</h6>
              <hr class="hr-gradient hr-light mt-0 mb-2 opacity-25">
              <nav class="nav nav-light">
                <a class="nav-link px-4" href="https://getbootstrap.com/docs/5.0/utilities/borders/" target="_blank" rel="noopener">Bootstrap</a>
                <a class="nav-link px-4" href="utilities.html">Createx</a>
              </nav>
            </div>
          </aside>

          <!-- Page title-->
          <div class="border-bottom pt-5 mt-2 mb-5">
            <h1 class="mt-2 mt-md-4 mb-3 pt-5">Navbar</h1>
            <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
              <p class="text-muted">Responsive navigation header that includes support for branding, navigation, and more.</p>
              <p class="fs-sm fw-bold ps-md-4">
                <a class="text-nowrap" href="https://getbootstrap.com/docs/5.0/components/navbar/" target="_blank" rel="noopener">
                  Bootstrap docs<i class="ci-angle-right fs-base align-middle ms-1"></i>
                </a>
              </p>
            </div>
          </div>

          <!-- Info alert -->
          <div class="alert alert-info mb-5" role="alert">
            <div class="d-flex"><i class="ci-info lead mt-1 me-3 d-none d-sm-block"></i>
              <p class="mb-0">Add class <strong>navbar-sticky</strong> to <strong>navbar</strong> to make it stick to the top of the page when scrolling.</p>
            </div>
          </div>

          <!-- Navbar components-->
          <section class="pb-5 mb-md-2" id="navbar-basic">
            <h2 class="h3">Navbar components</h2>
            <div class="card shadow-sm" style="z-index: 10;">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result1" data-bs-toggle="tab" role="tab" aria-controls="result1" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html1" data-bs-toggle="tab" role="tab" aria-controls="html1" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body px-sm-4 px-0">
                <div class="tab-content py-1">
                  <div class="tab-pane fade show active" id="result1" role="tabpanel">
                    <header class="navbar navbar-expand-lg navbar-light bg-light navbar-shadow mb-4">
                      <div class="container px-0 px-xl-3"><a class="navbar-brand order-lg-1 me-0 pe-lg-3 me-lg-4" href="#"><img src="../assets/img/components/logo/logo-dark.svg" alt="Createx Logo" width="130"></a>
                        <div class="d-flex align-items-center order-lg-3"><a class="btn btn-primary d-sm-inline-block d-none ms-3" href="#">Sign up</a>
                          <button class="navbar-toggler ms-2 me-n3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse1" aria-expanded="false"><span class="navbar-toggler-icon"></span></button>
                        </div>
                        <nav class="collapse navbar-collapse order-lg-2" id="navbarCollapse1">
                          <ul class="navbar-nav me-auto">
                            <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Dropdown</a>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action link</a></li>
                                <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Dropdown</a>
                                  <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action link</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    <li><a class="dropdown-item" href="#">Yet another link</a></li>
                                  </ul>
                                </li>
                                <li><a class="dropdown-item" href="#"> Another action</a></li>
                                <li class="dropdown-divider"> </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                              </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
                          </ul>
                        </nav>
                      </div>
                    </header>
                    <header class="navbar navbar-expand-lg navbar-light bg-light navbar-shadow mb-4">
                      <div class="container px-0 px-xl-3"><a class="navbar-brand order-lg-1 me-0 pe-lg-3 me-lg-4" href="#"><img src="../assets/img/components/logo/logo-dark.svg" alt="Createx Logo" width="130"></a>
                        <div class="d-flex align-items-center order-lg-3"><a class="d-flex navbar-tool" href="tel:(405)555-0128"><i class="navbar-tool-icon ci-iphone"></i>
                            <div class="ms-2 ps-1">
                              <h6 class="navbar-tool-title">Call us</h6><span class="navbar-tool-label">(405) 555-0128</span>
                            </div></a><a class="d-flex navbar-tool" href="mailto:hello@example.com"><i class="navbar-tool-icon ci-chat"></i>
                            <div class="ms-2 ps-1">
                              <h6 class="navbar-tool-title">Talk to us</h6><span class="navbar-tool-label">hello@example.com</span>
                            </div></a>
                          <button class="navbar-toggler ms-2 me-n3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse2" aria-expanded="false"><span class="navbar-toggler-icon"></span></button>
                        </div>
                        <nav class="collapse navbar-collapse order-lg-2" id="navbarCollapse2">
                          <ul class="navbar-nav me-auto">
                            <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                          </ul>
                        </nav>
                      </div>
                    </header>
                    <header class="navbar navbar-expand-lg navbar-light bg-light navbar-shadow mb-4">
                      <div class="container px-0 px-xl-3"><a class="navbar-brand order-lg-1 me-0 pe-lg-3 me-lg-4" href="#"><img src="../assets/img/components/logo/logo-dark.svg" alt="Createx Logo" width="130"></a>
                        <div class="d-flex align-items-center order-lg-3">
                          <ul class="nav nav-tools flex-nowrap">
                            <li class="nav-item align-self-center d-md-block d-none mb-0"><a class="nav-tool" href="#"><i class="ci-heart nav-tool-icon"></i><span class="nav-tool-label">2</span></a></li>
                            <li class="divider-vertical mb-0 d-md-block d-none"></li>
                            <li class="nav-item align-self-center mb-0"><a class="nav-tool pe-lg-0" href="#"><i class="ci-cart nav-tool-icon"></i><span class="badge bg-success align-middle mt-n1 ms-2 px-2 py-1 fs-xs">4</span></a></li>
                            <li class="divider-vertical mb-0 d-lg-none d-block"></li>
                            <li class="nav-item mb-0">
                              <button class="navbar-toggler mt-n1 me-n3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse3" aria-expanded="false"><span class="navbar-toggler-icon"></span></button>
                            </li>
                          </ul>
                        </div>
                        <nav class="collapse navbar-collapse order-lg-2" id="navbarCollapse3">
                          <ul class="navbar-nav me-auto">
                            <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Dropdown</a>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action link</a></li>
                                <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Dropdown</a>
                                  <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action link</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    <li><a class="dropdown-item" href="#">Yet another link</a></li>
                                  </ul>
                                </li>
                                <li><a class="dropdown-item" href="#"> Another action</a></li>
                                <li class="dropdown-divider"> </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                              </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
                          </ul>
                        </nav>
                      </div>
                    </header>
                    <header class="navbar navbar-expand-lg navbar-light bg-light navbar-shadow mb-4">
                      <div class="container px-0 px-xl-3"><a class="navbar-brand order-lg-1 me-0 pe-lg-3 me-lg-4" href="#"><img src="../assets/img/components/logo/logo-dark.svg" alt="Createx Logo" width="130"></a>
                        <div class="input-group ms-4 d-lg-block d-none order-lg-3" style="max-width: 21rem;">
                          <i class="ci-search position-absolute top-50 end-0 translate-middle-y me-3 lead zindex-1"></i>
                          <input class="form-control w-100 rounded" type="text" placeholder="Search for products...">
                        </div>
                        <div class="d-flex align-items-center order-lg-3">
                          <ul class="nav nav-tools flex-nowrap">
                            <li class="nav-item align-self-center d-lg-block d-none mb-0"><a class="nav-tool" href="#"><i class="ci-heart nav-tool-icon"></i><span class="nav-tool-label">2</span></a></li>
                            <li class="divider-vertical mb-0 d-lg-block d-none"></li>
                            <li class="nav-item align-self-center mb-0"><a class="nav-tool pe-lg-0" href="#"><i class="ci-cart nav-tool-icon"></i><span class="badge bg-success align-middle mt-n1 ms-2 px-2 py-1 fs-xs">4</span></a></li>
                            <li class="divider-vertical mb-0 d-lg-none d-block"></li>
                            <li class="nav-item mb-0">
                              <button class="navbar-toggler mt-n1 me-n3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse4" aria-expanded="false"><span class="navbar-toggler-icon"></span></button>
                            </li>
                          </ul>
                        </div>
                        <nav class="collapse navbar-collapse order-lg-2" id="navbarCollapse4">
                          <div class="input-group d-lg-none d-block">
                            <input class="form-control w-100 ps-5 rounded-0 border-0" type="text" placeholder="Search for products...">
                            <i class="ci-search fs-lg position-absolute top-50 start-0 translate-middle-y ms-3 zindex-5"></i>
                          </div>
                          <ul class="navbar-nav me-auto">
                            <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                          </ul>
                        </nav>
                      </div>
                    </header>
                  </div>
                  <div class="tab-pane fade" id="html1" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Basic navbar: Button (change to .container-fluid for full width navbar) --&gt;
&lt;header class=&quot;navbar navbar-expand-lg navbar-light bg-light navbar-shadow&quot;&gt;
  &lt;div class=&quot;container px-0 px-xl-3&quot;&gt;
    &lt;a class=&quot;navbar-brand order-lg-1 me-0 pe-lg-3 me-lg-4&quot; href=&quot;#&quot;&gt;
      &lt;img src=&quot;path-to-logo&quot; alt=&quot;Logo&quot; width=&quot;130&quot;&gt;
    &lt;/a&gt;
    &lt;div class=&quot;d-flex align-items-center order-lg-3&quot;&gt;
      &lt;a class=&quot;btn btn-primary d-sm-inline-block d-none ms-3&quot; href=&quot;#&quot;&gt;Sign up&lt;/a&gt;
      &lt;button class=&quot;navbar-toggler ms-2 me-n3&quot; type=&quot;button&quot; data-bs-toggle=&quot;collapse&quot; data-bs-target=&quot;#navbarCollapse1&quot; aria-expanded=&quot;false&quot;&gt;
        &lt;span class=&quot;navbar-toggler-icon&quot;&gt;&lt;/span&gt;
      &lt;/button&gt;
    &lt;/div&gt;
    &lt;nav class=&quot;collapse navbar-collapse order-lg-2&quot; id=&quot;navbarCollapse1&quot;&gt;
      &lt;ul class=&quot;navbar-nav me-auto&quot;&gt;
        &lt;li class=&quot;nav-item&quot;&gt;
          &lt;a class=&quot;nav-link active&quot; href=&quot;#&quot;&gt;Home&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;nav-item&quot;&gt;
          &lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;Link&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;nav-item dropdown&quot;&gt;
          &lt;a class=&quot;nav-link dropdown-toggle&quot; href=&quot;#&quot; data-bs-toggle=&quot;dropdown&quot;&gt;Dropdown&lt;/a&gt;
          &lt;ul class=&quot;dropdown-menu&quot;&gt;
            &lt;li&gt;
              &lt;a class=&quot;dropdown-item&quot; href=&quot;#&quot;&gt;Action link&lt;/a&gt;
            &lt;/li&gt;
            &lt;li class=&quot;dropdown&quot;&gt;
              &lt;a class=&quot;dropdown-item dropdown-toggle&quot; href=&quot;#&quot; data-bs-toggle=&quot;dropdown&quot;&gt;Dropdown&lt;/a&gt;
              &lt;ul class=&quot;dropdown-menu&quot;&gt;
                &lt;li&gt;&lt;a class=&quot;dropdown-item&quot; href=&quot;#&quot;&gt;Action link&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a class=&quot;dropdown-item&quot; href=&quot;#&quot;&gt;Another action&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a class=&quot;dropdown-item&quot; href=&quot;#&quot;&gt;Something else here&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a class=&quot;dropdown-item&quot; href=&quot;#&quot;&gt;Yet another link&lt;/a&gt;&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/li&gt;
            &lt;li&gt;&lt;a class=&quot;dropdown-item&quot; href=&quot;#&quot;&gt; Another action&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;dropdown-divider&quot;&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a class=&quot;dropdown-item&quot; href=&quot;#&quot;&gt;Something else here&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/li&gt;
        &lt;li class=&quot;nav-item&quot;&gt;
          &lt;a class=&quot;nav-link disabled&quot; href=&quot;#&quot;&gt;Disabled&lt;/a&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/nav&gt;
  &lt;/div&gt;
&lt;/header&gt;

&lt;!-- Basic navbar: Media toolbar (change to .container-fluid for full width navbar) --&gt;
&lt;header class=&quot;navbar navbar-expand-lg navbar-light bg-light navbar-shadow&quot;&gt;
  &lt;div class=&quot;container px-0 px-xl-3&quot;&gt;
    &lt;a class=&quot;navbar-brand order-lg-1 me-0 pe-lg-3 me-lg-4&quot; href=&quot;#&quot;&gt;
      &lt;img src=&quot;path-to-logo&quot; alt=&quot;Logo&quot; width=&quot;130&quot;&gt;
    &lt;/a&gt;
    &lt;div class=&quot;d-flex align-items-center order-lg-3&quot;&gt;
      &lt;a class=&quot;d-flex navbar-tool&quot; href=&quot;tel:(405)555-0128&quot;&gt;
        &lt;i class=&quot;navbar-tool-icon ci-iphone&quot;&gt;&lt;/i&gt;
        &lt;div class=&quot;ms-2 ps-1&quot;&gt;
          &lt;h6 class=&quot;navbar-tool-title&quot;&gt;Call us&lt;/h6&gt;
          &lt;span class=&quot;navbar-tool-label&quot;&gt;(405) 555-0128&lt;/span&gt;
        &lt;/div&gt;
      &lt;/a&gt;
      &lt;a class=&quot;d-flex navbar-tool&quot; href=&quot;mailto:hello@example.com&quot;&gt;
        &lt;i class=&quot;navbar-tool-icon ci-chat&quot;&gt;&lt;/i&gt;
        &lt;div class=&quot;ms-2 ps-1&quot;&gt;
          &lt;h6 class=&quot;navbar-tool-title&quot;&gt;Talk to us&lt;/h6&gt;
          &lt;span class=&quot;navbar-tool-label&quot;&gt;hello@example.com&lt;/span&gt;
        &lt;/div&gt;
      &lt;/a&gt;
      &lt;button class=&quot;navbar-toggler ms-2 me-n3&quot; type=&quot;button&quot; data-bs-toggle=&quot;collapse&quot; data-bs-target=&quot;#navbarCollapse2&quot; aria-expanded=&quot;false&quot;&gt;
        &lt;span class=&quot;navbar-toggler-icon&quot;&gt;&lt;/span&gt;
      &lt;/button&gt;
    &lt;/div&gt;
    &lt;nav class=&quot;collapse navbar-collapse order-lg-2&quot; id=&quot;navbarCollapse2&quot;&gt;
      &lt;!-- Site menu goes here. See example above --&gt;
    &lt;/nav&gt;
  &lt;/div&gt;
&lt;/header&gt;

&lt;!-- Basic navbar: Toolbar (change to .container-fluid for full width navbar) --&gt;
&lt;header class=&quot;navbar navbar-expand-lg navbar-light bg-light navbar-shadow&quot;&gt;
  &lt;div class=&quot;container px-0 px-xl-3&quot;&gt;
    &lt;a class=&quot;navbar-brand order-lg-1 me-0 pe-lg-3 me-lg-4&quot; href=&quot;#&quot;&gt;
      &lt;img src=&quot;path-to-logo&quot; alt=&quot;Logo&quot; width=&quot;130&quot;&gt;
    &lt;/a&gt;
    &lt;div class=&quot;d-flex align-items-center order-lg-3&quot;&gt;
      &lt;ul class=&quot;nav nav-tools flex-nowrap&quot;&gt;
        &lt;li class=&quot;nav-item align-self-center d-md-block d-none mb-0&quot;&gt;
          &lt;a class=&quot;nav-tool&quot; href=&quot;#&quot;&gt;
            &lt;i class=&quot;ci-heart nav-tool-icon&quot;&gt;&lt;/i&gt;
            &lt;span class=&quot;nav-tool-label&quot;&gt;2&lt;/span&gt;
          &lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;divider-vertical d-md-block d-none&quot;&gt;&lt;/li&gt;
        &lt;li class=&quot;nav-item align-self-center mb-0&quot;&gt;
          &lt;a class=&quot;nav-tool pe-lg-0&quot; href=&quot;#&quot;&gt;
            &lt;i class=&quot;ci-cart nav-tool-icon&quot;&gt;&lt;/i&gt;
            &lt;span class=&quot;badge bg-success align-middle mt-n1 ms-2 px-2 py-1 fs-xs&quot;&gt;4&lt;/span&gt;
          &lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;divider-vertical d-lg-none d-block&quot;&gt;&lt;/li&gt;
        &lt;li class=&quot;nav-item mb-0&quot;&gt;
          &lt;button class=&quot;navbar-toggler mt-n1 me-n3&quot; type=&quot;button&quot; data-bs-toggle=&quot;collapse&quot; data-bs-target=&quot;#navbarCollapse3&quot; aria-expanded=&quot;false&quot;&gt;
            &lt;span class=&quot;navbar-toggler-icon&quot;&gt;&lt;/span&gt;
          &lt;/button&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
    &lt;nav class=&quot;collapse navbar-collapse order-lg-2&quot; id=&quot;navbarCollapse3&quot;&gt;
      &lt;!-- Site menu goes here. See example above --&gt;
    &lt;/nav&gt;
  &lt;/div&gt;
&lt;/header&gt;

&lt;!-- Basic navbar: Search + toolbar (change to .container-fluid for full width navbar) --&gt;
&lt;header class=&quot;navbar navbar-expand-lg navbar-light bg-light navbar-shadow&quot;&gt;
  &lt;div class=&quot;container px-0 px-xl-3&quot;&gt;
    &lt;a class=&quot;navbar-brand order-lg-1 me-0 pe-lg-3 me-lg-4&quot; href=&quot;#&quot;&gt;
      &lt;img src=&quot;path-to-logo&quot; alt=&quot;Logo&quot; width=&quot;130&quot;&gt;
    &lt;/a&gt;
    &lt;div class=&quot;input-group ms-4 d-lg-block d-none order-lg-3&quot; style=&quot;max-width: 21rem;&quot;&gt;
      &lt;i class=&quot;ci-search position-absolute top-50 end-0 translate-middle-y me-3 lead zindex-1&quot;&gt;&lt;/i&gt;
      &lt;input class=&quot;form-control w-100 rounded&quot; type=&quot;text&quot; placeholder=&quot;Search for products...&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;d-flex align-items-center order-lg-3&quot;&gt;
      &lt;ul class=&quot;nav nav-tools flex-nowrap&quot;&gt;
        &lt;li class=&quot;nav-item align-self-center d-lg-block d-none mb-0&quot;&gt;
          &lt;a class=&quot;nav-tool&quot; href=&quot;#&quot;&gt;
            &lt;i class=&quot;ci-heart nav-tool-icon&quot;&gt;&lt;/i&gt;
            &lt;span class=&quot;nav-tool-label&quot;&gt;2&lt;/span&gt;
          &lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;divider-vertical d-lg-block d-none&quot;&gt;&lt;/li&gt;
        &lt;li class=&quot;nav-item mb-0&quot;&gt;
          &lt;a class=&quot;nav-tool align-self-center pe-lg-0&quot; href=&quot;#&quot;&gt;
            &lt;i class=&quot;ci-cart nav-tool-icon&quot;&gt;&lt;/i&gt;
            &lt;span class=&quot;badge bg-success align-middle mt-n1 ms-2 px-2 py-1 fs-xs&quot;&gt;4&lt;/span&gt;
          &lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;divider-vertical d-lg-none d-block&quot;&gt;&lt;/li&gt;
        &lt;li class=&quot;nav-item mb-0&quot;&gt;
          &lt;button class=&quot;navbar-toggler mt-n1 me-n3&quot; type=&quot;button&quot; data-bs-toggle=&quot;collapse&quot; data-bs-target=&quot;#navbarCollapse4&quot; aria-expanded=&quot;false&quot;&gt;
            &lt;span class=&quot;navbar-toggler-icon&quot;&gt;&lt;/span&gt;
          &lt;/button&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
    &lt;nav class=&quot;collapse navbar-collapse order-lg-2&quot; id=&quot;navbarCollapse4&quot;&gt;
      &lt;div class=&quot;input-group d-lg-none d-block&quot;&gt;
        &lt;input class=&quot;form-control w-100 ps-5 rounded-0 border-0&quot; type=&quot;text&quot; placeholder=&quot;Search for products...&quot;&gt;
        &lt;i class=&quot;ci-search fs-lg position-absolute top-50 end-0 translate-middle-y me-3 zindex-5&quot;&gt;&lt;/i&gt;
      &lt;/div&gt;
      &lt;!-- Site menu goes here. See example above --&gt;
    &lt;/nav&gt;
  &lt;/div&gt;
&lt;/header&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Color schemes-->
          <section class="pb-5 mb-md-2" id="navbar-color-schemes">
            <h2 class="h3">Color schemes</h2>
            <div class="card shadow-sm" style="z-index: 10;">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result2" data-bs-toggle="tab" role="tab" aria-controls="result2" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html2" data-bs-toggle="tab" role="tab" aria-controls="html2" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body px-sm-4 px-0">
                <div class="tab-content py-1">
                  <div class="tab-pane fade show active" id="result2" role="tabpanel">
                    <header class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
                      <div class="container px-0 px-xl-3"><a class="navbar-brand order-lg-1 me-0 pe-lg-3 me-lg-4" href="#"><img src="../assets/img/components/logo/logo-light.svg" alt="Createx Logo" width="130"></a>
                        <div class="d-flex align-items-center order-lg-3">
                          <ul class="nav nav-tools flex-nowrap">
                            <li class="nav-item align-self-center mb-0"><a class="nav-tool pe-lg-0" href="#"><i class="ci-cart nav-tool-icon"></i><span class="badge bg-success align-middle mt-n1 ms-2 px-2 py-1 fs-xs">4</span></a></li>
                            <li class="divider-vertical mb-0 divider-light d-lg-none d-block"></li>
                            <li class="nav-item mb-0">
                              <button class="navbar-toggler mt-n1 me-n3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse5" aria-expanded="false"><span class="navbar-toggler-icon"></span></button>
                            </li>
                          </ul>
                        </div>
                        <nav class="collapse navbar-collapse order-lg-2" id="navbarCollapse5">
                          <ul class="navbar-nav me-auto">
                            <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Dropdown</a>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action link</a></li>
                                <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Dropdown</a>
                                  <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action link</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    <li><a class="dropdown-item" href="#">Yet another link</a></li>
                                  </ul>
                                </li>
                                <li><a class="dropdown-item" href="#"> Another action</a></li>
                                <li class="dropdown-divider"> </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                              </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
                          </ul>
                        </nav>
                      </div>
                    </header>
                    <header class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
                      <div class="container px-0 px-xl-3"><a class="navbar-brand order-lg-1 me-0 pe-lg-3 me-lg-4" href="#"><img src="../assets/img/components/logo/logo-white.svg" alt="Createx Logo" width="130"></a>
                        <div class="d-flex align-items-center order-lg-3">
                          <ul class="nav nav-tools flex-nowrap">
                            <li class="nav-item align-self-center mb-0"><a class="nav-tool pe-lg-0" href="#"><i class="ci-cart nav-tool-icon"></i><span class="badge bg-success align-middle mt-n1 ms-2 px-2 py-1 fs-xs">4</span></a></li>
                            <li class="divider-vertical mb-0 divider-light d-lg-none d-block"></li>
                            <li class="nav-item mb-0">
                              <button class="navbar-toggler mt-n1 me-n3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse6" aria-expanded="false"><span class="navbar-toggler-icon"></span></button>
                            </li>
                          </ul>
                        </div>
                        <nav class="collapse navbar-collapse order-lg-2" id="navbarCollapse6">
                          <ul class="navbar-nav me-auto">
                            <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Dropdown</a>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action link</a></li>
                                <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Dropdown</a>
                                  <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action link</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    <li><a class="dropdown-item" href="#">Yet another link</a></li>
                                  </ul>
                                </li>
                                <li><a class="dropdown-item" href="#"> Another action</a></li>
                                <li class="dropdown-divider"> </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                              </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
                          </ul>
                        </nav>
                      </div>
                    </header>
                    <header class="navbar navbar-expand-lg navbar-light bg-secondary mb-4">
                      <div class="container px-0 px-xl-3"><a class="navbar-brand order-lg-1 me-0 pe-lg-3 me-lg-4" href="#"><img src="../assets/img/components/logo/logo-dark.svg" alt="Createx Logo" width="130"></a>
                        <div class="d-flex align-items-center order-lg-3">
                          <ul class="nav nav-tools flex-nowrap">
                            <li class="nav-item align-self-center mb-0"><a class="nav-tool pe-lg-0" href="#"><i class="ci-cart nav-tool-icon"></i><span class="badge bg-success align-middle mt-n1 ms-2 px-2 py-1 fs-xs">4</span></a></li>
                            <li class="divider-vertical mb-0 d-lg-none d-block"></li>
                            <li class="nav-item mb-0">
                              <button class="navbar-toggler mt-n1 me-n3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse7" aria-expanded="false"><span class="navbar-toggler-icon"></span></button>
                            </li>
                          </ul>
                        </div>
                        <nav class="collapse navbar-collapse order-lg-2" id="navbarCollapse7">
                          <ul class="navbar-nav me-auto">
                            <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Dropdown</a>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action link</a></li>
                                <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Dropdown</a>
                                  <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action link</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    <li><a class="dropdown-item" href="#">Yet another link</a></li>
                                  </ul>
                                </li>
                                <li><a class="dropdown-item" href="#"> Another action</a></li>
                                <li class="dropdown-divider"> </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                              </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
                          </ul>
                        </nav>
                      </div>
                    </header>
                  </div>
                  <div class="tab-pane fade" id="html2" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Dark navbar (change to .container-fluid for full width navbar) --&gt;
&lt;header class=&quot;navbar navbar-expand-lg navbar-dark bg-dark&quot;&gt;
  &lt;div class=&quot;container px-0 px-xl-3&quot;&gt;
    ...
  &lt;/div&gt;
&lt;/header&gt;

&lt;!-- Primary navbar (change to .container-fluid for full width navbar) --&gt;
&lt;header class=&quot;navbar navbar-expand-lg navbar-dark bg-primary&quot;&gt;
  &lt;div class=&quot;container px-0 px-xl-3&quot;&gt;
    ...
  &lt;/div&gt;
&lt;/header&gt;

&lt;!-- Gray navbar (change to .container-fluid for full width navbar) --&gt;
&lt;header class=&quot;navbar navbar-expand-lg navbar-light bg-secondary&quot;&gt;
  &lt;div class=&quot;container px-0 px-xl-3&quot;&gt;
    ...
  &lt;/div&gt;
&lt;/header&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Topbar-->
          <section class="pb-5 mb-md-2" id="navbar-topbar">
            <h2 class="h3">Topbar</h2>
            <div class="card shadow-sm" style="z-index: 10;">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result3" data-bs-toggle="tab" role="tab" aria-controls="result3" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html3" data-bs-toggle="tab" role="tab" aria-controls="html3" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body px-sm-4 px-0">
                <div class="tab-content py-1">
                  <div class="tab-pane fade show active" id="result3" role="tabpanel">
                    <div class="topbar bg-secondary mb-4">
                      <div class="container d-flex justify-content-between px-0 px-xl-3">
                        <div><a class="topbar-link d-md-inline-block d-none" href="tel:(405)555-0128">Available 24/7 at <span class='fw-bold'>(405) 555-0128</span></a><a class="topbar-link d-md-none d-inline-block" href="tel:(405)555-0128"><i class="ci-iphone me-1 align-middle"></i>(405) 555-0128</a></div>
                        <div>
                          <div class="dropdown"><a class="topbar-link dropdown-toggle" href="#" data-bs-toggle="dropdown"><img class="me-2" src="../assets/img/components/flags/en.png" width="20" alt="English">Eng / $</a>
                            <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#"><img class="me-2" src="../assets/img/components/flags/fr.png" width="20" alt="Français">Français / €</a><a class="dropdown-item" href="#"><img class="me-2" src="../assets/img/components/flags/de.png" width="20" alt="Deutsch">Deutsch / €</a><a class="dropdown-item" href="#"><img class="me-2" src="../assets/img/components/flags/it.png" width="20" alt="Italiano">Italiano / €</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="topbar topbar-dark bg-dark">
                      <div class="container d-flex justify-content-between px-0 px-xl-3">
                        <div><a class="topbar-link d-md-inline-block d-none" href="tel:(405)555-0128">Available 24/7 at <span class='fw-bold'>(405) 555-0128</span></a><a class="topbar-link d-md-none d-inline-block" href="tel:(405)555-0128"><i class="ci-iphone me-1 align-middle"></i>(405) 555-0128</a></div>
                        <div>
                          <div class="dropdown"><a class="topbar-link dropdown-toggle" href="#" data-bs-toggle="dropdown"><img class="me-2" src="../assets/img/components/flags/en.png" width="20" alt="English">Eng / $</a>
                            <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#"><img class="me-2" src="../assets/img/components/flags/fr.png" width="20" alt="Français">Français / €</a><a class="dropdown-item" href="#"><img class="me-2" src="../assets/img/components/flags/de.png" width="20" alt="Deutsch">Deutsch / €</a><a class="dropdown-item" href="#"><img class="me-2" src="../assets/img/components/flags/it.png" width="20" alt="Italiano">Italiano / €</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="html3" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Light topbar --&gt;
&lt;div class=&quot;topbar bg-secondary&quot;&gt;
  &lt;div class=&quot;container d-flex justify-content-between px-0 px-xl-3&quot;&gt;
    &lt;div&gt;
      &lt;a class=&quot;topbar-link d-md-inline-block d-none&quot; href=&quot;tel:(405)555-0128&quot;&gt;
        Available 24/7 at 
        &lt;span class=&#39;fw-bold&#39;&gt;(405) 555-0128&lt;/span&gt;
      &lt;/a&gt;
      &lt;a class=&quot;topbar-link d-md-none d-inline-block&quot; href=&quot;tel:(405)555-0128&quot;&gt;
        &lt;i class=&quot;ci-iphone me-1 align-middle&quot;&gt;&lt;/i&gt;
        (405) 555-0128
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div&gt;
      &lt;div class=&quot;dropdown&quot;&gt;
        &lt;a class=&quot;topbar-link dropdown-toggle&quot; href=&quot;#&quot; data-bs-toggle=&quot;dropdown&quot;&gt;
          &lt;img class=&quot;me-2&quot; src=&quot;path-to-flag-image&quot; width=&quot;20&quot; alt=&quot;English&quot;&gt;
          Eng / $
        &lt;/a&gt;
        &lt;div class=&quot;dropdown-menu dropdown-menu-end&quot;&gt;
          &lt;a class=&quot;dropdown-item&quot; href=&quot;#&quot;&gt;
            &lt;img class=&quot;me-2&quot; src=&quot;path-to-flag-image&quot; width=&quot;20&quot; alt=&quot;Français&quot;&gt;
            Français / €
          &lt;/a&gt;
          &lt;a class=&quot;dropdown-item&quot; href=&quot;#&quot;&gt;
            &lt;img class=&quot;me-2&quot; src=&quot;path-to-flag-image&quot; width=&quot;20&quot; alt=&quot;Deutsch&quot;&gt;
            Deutsch / €
          &lt;/a&gt;
          &lt;a class=&quot;dropdown-item&quot; href=&quot;#&quot;&gt;
            &lt;img class=&quot;me-2&quot; src=&quot;path-to-flag-image&quot; width=&quot;20&quot; alt=&quot;Italiano&quot;&gt;
            Italiano / €
          &lt;/a&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;!-- Dark topbar --&gt;
&lt;div class=&quot;topbar topbar-dark bg-dark&quot;&gt;
  &lt;div class=&quot;container d-flex justify-content-between px-0 px-xl-3&quot;&gt;
    ...
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Topbar + Navbar-->
          <section class="pb-5 mb-md-2" id="navbar-topbar-navbar">
            <h2 class="h3">Topbar + Navbar</h2>
            <div class="card shadow-sm" style="z-index: 10;">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result4" data-bs-toggle="tab" role="tab" aria-controls="result4" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html4" data-bs-toggle="tab" role="tab" aria-controls="html4" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body px-sm-4 px-0">
                <div class="tab-content py-1">
                  <div class="tab-pane fade show active" id="result4" role="tabpanel">
                    <header>
                      <div class="topbar topbar-dark bg-dark">
                        <div class="container d-flex justify-content-between px-0 px-xl-3">
                          <div><a class="topbar-link d-md-inline-block d-none" href="tel:(405)555-0128">Available 24/7 at <span class='fw-bold'>(405) 555-0128</span></a><a class="topbar-link d-md-none d-inline-block" href="tel:(405)555-0128"><i class="ci-iphone me-1 align-middle"></i>(405) 555-0128</a></div>
                          <div>
                            <div class="dropdown"><a class="topbar-link dropdown-toggle" href="#" data-bs-toggle="dropdown"><img class="me-2" src="../assets/img/components/flags/en.png" width="20" alt="English">Eng / $</a>
                              <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#"><img class="me-2" src="../assets/img/components/flags/fr.png" width="20" alt="Français">Français / €</a><a class="dropdown-item" href="#"><img class="me-2" src="../assets/img/components/flags/de.png" width="20" alt="Deutsch">Deutsch / €</a><a class="dropdown-item" href="#"><img class="me-2" src="../assets/img/components/flags/it.png" width="20" alt="Italiano">Italiano / €</a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="navbar navbar-expand-lg navbar-light bg-light navbar-shadow mb-4">
                        <div class="container px-0 px-xl-3"><a class="navbar-brand order-lg-1 me-0 pe-lg-3 me-lg-4" href="#"><img src="../assets/img/components/logo/logo-dark.svg" alt="Createx Logo" width="130"></a>
                          <div class="d-flex align-items-center order-lg-3">
                            <ul class="nav nav-tools flex-nowrap">
                              <li class="nav-item align-self-center d-md-block d-none mb-0"><a class="nav-tool" href="#"><i class="ci-heart nav-tool-icon"></i><span class="nav-tool-label">2</span></a></li>
                              <li class="divider-vertical mb-0 d-md-block d-none"></li>
                              <li class="nav-item align-self-center mb-0"><a class="nav-tool" href="#"><i class="ci-cart nav-tool-icon"></i><span class="badge bg-success align-middle mt-n1 ms-2 px-2 py-1 fs-xs">4</span></a></li>
                              <li class="divider-vertical mb-0 d-lg-none d-block"></li>
                              <li class="nav-item mb-0">
                                <button class="navbar-toggler mt-n1 me-n3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse8" aria-expanded="false"><span class="navbar-toggler-icon"></span></button>
                              </li>
                            </ul>
                          </div>
                          <nav class="collapse navbar-collapse order-lg-2" id="navbarCollapse8">
                            <ul class="navbar-nav me-auto">
                              <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                              <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Dropdown</a>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="#">Action link</a></li>
                                  <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Dropdown</a>
                                    <ul class="dropdown-menu">
                                      <li><a class="dropdown-item" href="#">Action link</a></li>
                                      <li><a class="dropdown-item" href="#">Another action</a></li>
                                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                                      <li><a class="dropdown-item" href="#">Yet another link</a></li>
                                    </ul>
                                  </li>
                                  <li><a class="dropdown-item" href="#"> Another action</a></li>
                                  <li class="dropdown-divider"> </li>
                                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                              </li>
                              <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
                            </ul>
                          </nav>
                        </div>
                      </div>
                    </header>
                  </div>
                  <div class="tab-pane fade" id="html4" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- 2-level header: Topbar + Navbar --&gt;
&lt;header&gt;

  &lt;!-- Topbar --&gt;
  &lt;div class=&quot;topbar topbar-dark bg-dark&quot;&gt;
    &lt;div class=&quot;container d-flex justify-content-between px-0 px-xl-3&quot;&gt;
      ...
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;!-- Navbar --&gt;
  &lt;div class=&quot;navbar navbar-expand-lg navbar-light bg-light navbar-shadow&quot;&gt;
    &lt;div class=&quot;container px-0 px-xl-3&quot;&gt;
      ...
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/header&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

        <!-- Quick (anchor) navigation-->
        <div class="col-xl-3 d-none d-xl-block ps-5">
          <aside class="sticky-top pt-5">
            <div class="pt-5 mt-5">
              <div class="ps-4 border-start">
                <h3 class="h5 mb-3">Jump to</h3>
                <nav class="nav nav-dark flex-column">
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#navbar-basic">Navbar components</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#navbar-color-schemes">Color schemes</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#navbar-topbar">Topbar</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#navbar-topbar-navbar">Topbar + Navbar</a>
                </nav>
              </div>
            </div>
          </aside>
        </div>
      </section>
    </main>

    <!-- Back to top button-->
    <a class="btn-scroll-top" href="#top" data-scroll data-fixed-element>
      <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
      <i class="btn-scroll-top-icon ci-angle-up"></i>
    </a>

    <!-- Vendor scripts: js libraries and plugins-->
    <script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="../assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="../assets/vendor/prismjs/components/prism-core.min.js"></script>
    <script src="../assets/vendor/prismjs/components/prism-markup.min.js"></script>
    <script src="../assets/vendor/prismjs/components/prism-clike.min.js"></script>
    <script src="../assets/vendor/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="../assets/vendor/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="../assets/vendor/prismjs/plugins/line-numbers/prism-line-numbers.min.js"></script>

    <!-- Main theme script-->
    <script src="../assets/js/theme.min.js"></script>
  </body>
</html>