<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Createx UI Kit | Offcanvas</title>

    <!-- SEO Meta Tags-->
    <meta name="description" content="Createx - Multipurpose Bootstrap Template">
    <meta name="keywords" content="bootstrap, business, creative agency, construction, services, e-commerce, shopping cart, mobile app showcase, multipurpose, shop, ui kit, marketing, seo, landing, html5, css3, javascript, gallery, slider, touch, creative">
    <meta name="author" content="Createx Studio">

    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon-16x16.png">
    <link rel="manifest" href="../assets/img/site.webmanifest">
    <link rel="mask-icon" color="#5bbad5" href="../assets/img/safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#766df4">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="../assets/vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="../assets/vendor/prismjs/themes/prism.css"/>
    <link rel="stylesheet" media="screen" href="../assets/vendor/prismjs/plugins/toolbar/prism-toolbar.css"/>
    <link rel="stylesheet" media="screen" href="../assets/vendor/prismjs/plugins/line-numbers/prism-line-numbers.css"/>

    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="../assets/css/theme.min.css">
  </head>


  <!-- Body-->
  <body>
    <main class="container-fluid">

      <!-- Main content-->
      <section class="offcanvas-enabled-start row pb-3 pb-md-4">
        <div class="col-xl-9">

          <!-- Navbar-->
          <header class="navbar navbar-expand navbar-light fixed-top navbar-shadow bg-light px-3 px-lg-4" data-scroll-header data-fixed-element>
            <a class="navbar-brand d-lg-none" href="typography.html">
              <img src="../assets/img/components/logo/logo-dark.svg" alt="Createx" width="130">
            </a>
            <button class="navbar-toggler d-block d-lg-none me-3 ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#componentsNav">
              <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav ms-auto d-none d-lg-flex align-items-center">
              <li class="nav-item">
                <a class="nav-link py-0" href="../../index.html">
                  <i class="ci-eye align-middle mt-n1 me-2"></i>
                  Live preview
                </a>
              </li>
              <li class="nav-item">
                <div class="nav-link disabled text-border px-1">|</div>
              </li>
              <li class="nav-item">
                <a class="nav-link py-0" href="../documentation/dev-setup.html">
                  <i class="ci-files align-middle mt-n1 me-2"></i>
                  Documentation
                </a>
              </li>
              <li class="nav-item">
                <div class="nav-link disabled text-border px-1">|</div>
              </li>
            </ul>
            <a href="https://themes.getbootstrap.com/product/createx-multipurpose-template-ui-kit/" class="btn btn-primary btn-hover-shadow ms-lg-4" target="_blank" rel="noopener">
              <i class="ci-cart me-2 d-none d-sm-inline-block"></i>
              Buy now
            </a>
          </header>

          <!-- Side navigation (Offcanvas)-->
          <aside class="offcanvas offcanvas-expand offcanvas-start bg-dark" id="componentsNav">
            <div class="offcanvas-header d-none d-lg-block py-4">
              <a class="navbar-brand py-2" href="typography.html">
                <img src="../assets/img/components/logo/logo-white.svg" alt="Createx" width="130">
              </a>
              <span class="badge bg-success">UI Kit</span>
            </div>
            <div class="offcanvas-header d-flex d-lg-none align-items-center">
              <div class="d-flex align-items-center mt-1">
                <h5 class="text-light mb-0 me-3">Menu</h5>
                <span class="badge bg-success">UI Kit</span>
              </div>
              <button class="btn-close btn-close-white" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="d-flex d-lg-none align-items-center py-4 px-3 border-bottom border-light">
              <a class="btn btn-primary d-block w-100 me-3" href="../../index.html"><i class="ci-eye mt-n1 me-2"></i>Preview</a>
              <a class="btn btn-warning d-block w-100 mt-0" href="../documentation/dev-setup.html"><i class="ci-files mt-n1 me-2"></i>Docs</a>
            </div>
            <div class="offcanvas-body px-0 pt-4 pb-grid-gutter" data-simplebar data-simplebar-inverse>
              <h6 class="fs-lg text-light px-4 mt-2 mb-3">Content</h6>
              <hr class="hr-gradient hr-light mt-0 mb-2 opacity-25">
              <nav class="nav nav-light">
                <a class="nav-link px-4" href="typography.html">Typography</a>
                <a class="nav-link px-4" href="icon-font.html">Icon font</a>
                <a class="nav-link px-4" href="code.html">Code</a>
                <a class="nav-link px-4" href="images.html">Images &amp; figures</a>
                <a class="nav-link px-4" href="tables.html">Tables</a>
              </nav>
              <h6 class="fs-lg text-light px-4 pt-1 mt-4 mb-3">Components</h6>
              <hr class="hr-gradient hr-light mt-0 mb-2 opacity-25">
              <nav class="nav nav-light">
                <a class="nav-link px-4" href="accordion.html">Accordion</a>
                <a class="nav-link px-4" href="alerts.html">Alerts</a>
                <a class="nav-link px-4" href="badge.html">Badges</a>
                <a class="nav-link px-4" href="blog-components.html">Blog components</a>
                <a class="nav-link px-4" href="breadcrumb.html">Breadcrumb</a>
                <a class="nav-link px-4" href="buttons.html">Buttons</a>
                <a class="nav-link px-4" href="button-group.html">Button group</a>
                <a class="nav-link px-4" href="cards.html">Cards</a>
                <a class="nav-link px-4" href="carousel.html">Carousel</a>
                <a class="nav-link px-4" href="collapse.html">Collapse</a>
                <a class="nav-link px-4" href="contacts-card.html">Contacts card</a>
                <a class="nav-link px-4" href="countdown.html">Countdown</a>
                <a class="nav-link px-4" href="dividers.html">Dividers</a>
                <a class="nav-link px-4" href="dropdowns.html">Dropdowns</a>
                <a class="nav-link px-4" href="forms.html">Forms</a>
                <a class="nav-link px-4" href="gallery.html">Gallery</a>
                <a class="nav-link px-4" href="icon-box.html">Icon box</a>
                <a class="nav-link px-4" href="input-group.html">Input group</a>
                <a class="nav-link px-4" href="list-group.html">List group</a>
                <a class="nav-link px-4" href="modal.html">Modal</a>
                <a class="nav-link px-4" href="navs.html">Navs</a>
                <a class="nav-link px-4" href="navbar.html">Navbar</a>
                <a class="nav-link px-4 active" href="offcanvas.html">Offcanvas</a>
                <a class="nav-link px-4" href="pagination.html">Pagination</a>
                <a class="nav-link px-4" href="parallax.html">Parallax</a>
                <a class="nav-link px-4" href="pills.html">Pills</a>
                <a class="nav-link px-4" href="popovers.html">Popovers</a>
                <a class="nav-link px-4" href="portfolio-components.html">Portfolio components</a>
                <a class="nav-link px-4" href="pricing.html">Pricing</a>
                <a class="nav-link px-4" href="progress-bar.html">Progress bar</a>
                <a class="nav-link px-4" href="progress-radial.html">Progress radial</a>
                <a class="nav-link px-4" href="scrollbar-custom.html">Scrollbar (custom)</a>
                <a class="nav-link px-4" href="shop-components.html">Shop components</a>
                <a class="nav-link px-4" href="social-buttons.html">Social buttons</a>
                <a class="nav-link px-4" href="spinners.html">Spinners</a>
                <a class="nav-link px-4" href="steps.html">Steps</a>
                <a class="nav-link px-4" href="tabs.html">Tabs</a>
                <a class="nav-link px-4" href="team.html">Team</a>
                <a class="nav-link px-4" href="testimonials.html">Testimonials / reviews</a>
                <a class="nav-link px-4" href="toasts.html">Toasts</a>
                <a class="nav-link px-4" href="tooltips.html">Tooltips</a>
                <a class="nav-link px-4" href="video-popup.html">Video popup</a>
                <a class="nav-link px-4" href="widgets.html">Widgets</a>
              </nav>
              <h6 class="fs-lg text-light px-4 pt-1 mt-4 mb-3">Utilities</h6>
              <hr class="hr-gradient hr-light mt-0 mb-2 opacity-25">
              <nav class="nav nav-light">
                <a class="nav-link px-4" href="https://getbootstrap.com/docs/5.0/utilities/borders/" target="_blank" rel="noopener">Bootstrap</a>
                <a class="nav-link px-4" href="utilities.html">Createx</a>
              </nav>
            </div>
          </aside>

          <!-- Page title-->
          <div class="border-bottom pt-5 mt-2 mb-5">
            <h1 class="mt-2 mt-md-4 mb-3 pt-5">Offcanvas</h1>
            <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
              <p class="text-muted">Build hidden sidebars into your project for navigation, shopping carts, etc. Finder customized version of the component is responsive and can be used as alternative to navbar collapse (only lg breakpoint).</p>
              <p class="fs-sm fw-bold ps-md-4">
                <a class="text-nowrap" href="https://getbootstrap.com/docs/5.0/components/offcanvas/" target="_blank" rel="noopener">
                  Bootstrap docs<i class="ci-angle-right fs-base align-middle ms-1"></i>
                </a>
              </p>
            </div>
          </div>

          <!-- Left offcanvas example-->
          <div class="offcanvas offcanvas-start" id="offcanvasLeft" tabindex="-1">
            <div class="offcanvas-header border-bottom">
              <h5 class="offcanvas-title">Left offcanvas</h5>
              <button class="btn-close" type="button" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body" data-simplebar>
              <p class="fs-sm">Content for the offcanvas goes here. You can place just about any Bootstrap component or custom elements here.</p>
            </div>
          </div>
          <!-- Right offcanvas example-->
          <div class="offcanvas offcanvas-end" id="offcanvasRight" tabindex="-1">
            <div class="offcanvas-header border-bottom">
              <h5 class="offcanvas-title">Right offcanvas</h5>
              <button class="btn-close" type="button" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body" data-simplebar>
              <p class="fs-sm">Content for the offcanvas goes here. You can place just about any Bootstrap component or custom elements here.</p>
            </div>
          </div>
          <!-- Bottom offcanvas example-->
          <div class="offcanvas offcanvas-bottom" id="offcanvasBottom" tabindex="-1">
            <div class="offcanvas-header border-bottom">
              <h5 class="offcanvas-title">Bottom offcanvas</h5>
              <button class="btn-close" type="button" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body" data-simplebar>
              <p class="fs-sm">Content for the offcanvas goes here. You can place just about any Bootstrap component or custom elements here.</p>
            </div>
          </div>

          <!-- Offcanvas components-->
          <section class="pb-5 mb-md-2" id="offcanvas-components">
            <h2 class="h3">Offcanvas components</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result1" data-bs-toggle="tab" role="tab" aria-controls="result1" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html1" data-bs-toggle="tab" role="tab" aria-controls="html1" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result1" role="tabpanel">
                    <div class="offcanvas offcanvas-start shadow-sm my-2" data-offcanvas-show="true" id="offcanvas" tabindex="-1" style="position: static; transform: none;">
                      <div class="offcanvas-header border-bottom">
                        <h5 class="offcanvas-title">Menu</h5>
                        <button class="btn-close" type="button"></button>
                      </div>
                      <div class="offcanvas-body px-0" data-simplebar style="max-height: 15.5rem;">
                        <ul class="nav nav-dark">
                          <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                          <li class="nav-item"><a class="nav-link" href="#">User Profile</a></li>
                          <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
                          <li class="nav-item"><a class="nav-link" href="#">Our Works</a></li>
                          <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                          <li class="nav-item"><a class="nav-link" href="#">Our Team</a></li>
                          <li class="nav-item"><a class="nav-link" href="#">Vendor Dashboard</a></li>
                          <li class="nav-item"><a class="nav-link" href="#">Contacts</a></li>
                          <li class="nav-item"><a class="nav-link" href="#">Help Center</a></li>
                          <li class="nav-item"><a class="nav-link" href="#">Support</a></li>
                        </ul>
                      </div>
                      <div class="offcanvas-footer border-top">
                        <button class="btn btn-outline-primary btn-sm w-100 me-2" type="button">
                          <i class="ci-login me-1"></i>
                          Sign In
                        </button>
                        <button class="btn btn-primary btn-sm w-100" type="button">
                          <i class="ci-profile me-1"></i>
                          Sign Up
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="html1" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Offcanvas --&gt;
&lt;div class=&quot;offcanvas offcanvas-start&quot; id=&quot;offcanvas&quot; tabindex=&quot;-1&quot;&gt;

  &lt;!-- Header --&gt;
  &lt;div class=&quot;offcanvas-header border-bottom&quot;&gt;
    &lt;h5 class=&quot;offcanvas-title&quot;&gt;Menu&lt;/h5&gt;
    &lt;button class=&quot;btn-close&quot; type=&quot;button&quot; data-bs-dismiss=&quot;offcanvas&quot;&gt;&lt;/button&gt;
  &lt;/div&gt;

  &lt;!-- Body --&gt;
  &lt;div class=&quot;offcanvas-body px-0&quot; data-simplebar&gt;
    &lt;ul class=&quot;nav nav-dark&quot;&gt;
      &lt;li class=&quot;nav-item&quot;&gt;&lt;a class=&quot;nav-link active&quot; href=&quot;#&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
      &lt;li class=&quot;nav-item&quot;&gt;&lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;User Profile&lt;/a&gt;&lt;/li&gt;
      &lt;li class=&quot;nav-item&quot;&gt;&lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;Services&lt;/a&gt;&lt;/li&gt;
      &lt;li class=&quot;nav-item&quot;&gt;&lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;Our Works&lt;/a&gt;&lt;/li&gt;
      &lt;li class=&quot;nav-item&quot;&gt;&lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;About&lt;/a&gt;&lt;/li&gt;
      &lt;li class=&quot;nav-item&quot;&gt;&lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;Our Team&lt;/a&gt;&lt;/li&gt;
      &lt;li class=&quot;nav-item&quot;&gt;&lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;Vendor Dashboard&lt;/a&gt;&lt;/li&gt;
      &lt;li class=&quot;nav-item&quot;&gt;&lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;Contacts&lt;/a&gt;&lt;/li&gt;
      &lt;li class=&quot;nav-item&quot;&gt;&lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;Help Center&lt;/a&gt;&lt;/li&gt;
      &lt;li class=&quot;nav-item&quot;&gt;&lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;Support&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;

  &lt;!-- Footer --&gt;
  &lt;div class=&quot;offcanvas-footer border-top&quot;&gt;
    &lt;button class=&quot;btn btn-outline-primary btn-sm w-100 me-2&quot; type=&quot;button&quot;&gt;
      &lt;i class=&quot;ci-login me-1&quot;&gt;&lt;/i&gt;
      Sign In
    &lt;/button&gt;
    &lt;button class=&quot;btn btn-primary btn-sm w-100&quot; type=&quot;button&quot;&gt;
      &lt;i class=&quot;ci-profile me-1&quot;&gt;&lt;/i&gt;
      Sign Up
    &lt;/button&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Placement -->
          <section class="pb-5 mb-md-2" id="offcanvas-placement">
            <h2 class="h3">Placement</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result2" data-bs-toggle="tab" role="tab" aria-controls="result2" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html2" data-bs-toggle="tab" role="tab" aria-controls="html2" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result2" role="tabpanel">
                    <button class="btn btn-translucent-primary me-2 my-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft">Toggle left offcanvas</button>
                    <button class="btn btn-translucent-primary me-2 my-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">Toggle right offcanvas</button>
                    <button class="btn btn-translucent-primary my-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom">Toggle bottom offcanvas</button>
                  </div>
                  <div class="tab-pane fade" id="html2" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Offcanvas position: Left --&gt;

&lt;!-- Toogle button --&gt;
&lt;button class=&quot;btn btn-translucent-primary&quot; type=&quot;button&quot; data-bs-toggle=&quot;offcanvas&quot; data-bs-target=&quot;#offcanvasLeft&quot;&gt;Toggle left offcanvas&lt;/button&gt;

&lt;!-- Offcanvas --&gt;
&lt;div class=&quot;offcanvas offcanvas-start&quot; id=&quot;offcanvasLeft&quot; tabindex=&quot;-1&quot;&gt;
  &lt;div class=&quot;offcanvas-header border-bottom&quot;&gt;
    &lt;h5 class=&quot;offcanvas-title&quot;&gt;Left offcanvas&lt;/h5&gt;
    &lt;button class=&quot;btn-close&quot; type=&quot;button&quot; data-bs-dismiss=&quot;offcanvas&quot;&gt;&lt;/button&gt;
  &lt;/div&gt;
  &lt;div class=&quot;offcanvas-body&quot; data-simplebar&gt;
    &lt;p class=&quot;fs-sm&quot;&gt;Content for the offcanvas goes here. You can place just about any Bootstrap component or custom elements here.&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;


&lt;!-- Offcanvas position: Right --&gt;

&lt;!-- Toogle button --&gt;
&lt;button class=&quot;btn btn-translucent-primary&quot; type=&quot;button&quot; data-bs-toggle=&quot;offcanvas&quot; data-bs-target=&quot;#offcanvasRight&quot;&gt;Toggle right offcanvas&lt;/button&gt;

&lt;!-- Offcanvas --&gt;
&lt;div class=&quot;offcanvas offcanvas-end&quot; id=&quot;offcanvasRight&quot; tabindex=&quot;-1&quot;&gt;
  &lt;div class=&quot;offcanvas-header border-bottom&quot;&gt;
    &lt;h5 class=&quot;offcanvas-title&quot;&gt;Right offcanvas&lt;/h5&gt;
    &lt;button class=&quot;btn-close&quot; type=&quot;button&quot; data-bs-dismiss=&quot;offcanvas&quot;&gt;&lt;/button&gt;
  &lt;/div&gt;
  &lt;div class=&quot;offcanvas-body&quot; data-simplebar&gt;
    &lt;p class=&quot;fs-sm&quot;&gt;Content for the offcanvas goes here. You can place just about any Bootstrap component or custom elements here.&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;


&lt;!-- Offcanvas position: Bottom --&gt;

&lt;!-- Toogle button --&gt;
&lt;button class=&quot;btn btn-translucent-primary&quot; type=&quot;button&quot; data-bs-toggle=&quot;offcanvas&quot; data-bs-target=&quot;#offcanvasBottom&quot;&gt;Toggle bottom offcanvas&lt;/button&gt;

&lt;!-- Offcanvas --&gt;
&lt;div class=&quot;offcanvas offcanvas-bottom&quot; id=&quot;offcanvasBottom&quot; tabindex=&quot;-1&quot;&gt;
  &lt;div class=&quot;offcanvas-header border-bottom&quot;&gt;
    &lt;h5 class=&quot;offcanvas-title&quot;&gt;Bottom offcanvas&lt;/h5&gt;
    &lt;button class=&quot;btn-close&quot; type=&quot;button&quot; data-bs-dismiss=&quot;offcanvas&quot;&gt;&lt;/button&gt;
  &lt;/div&gt;
  &lt;div class=&quot;offcanvas-body&quot; data-simplebar&gt;
    &lt;p class=&quot;fs-sm&quot;&gt;Content for the offcanvas goes here. You can place just about any Bootstrap component or custom elements here.&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

        <!-- Quick (anchor) navigation-->
        <div class="col-xl-3 d-none d-xl-block ps-5">
          <aside class="sticky-top pt-5">
            <div class="pt-5 mt-5">
              <div class="ps-4 border-start">
                <h3 class="h5 mb-3">Jump to</h3>
                <nav class="nav nav-dark flex-column">
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#accordion-basic">Basic example</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#accordion-alt">Alternative version</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#accordion-cards">Card-like example</a>
                </nav>
              </div>
            </div>
          </aside>
        </div>
      </section>
    </main>

    <!-- Back to top button-->
    <a class="btn-scroll-top" href="#top" data-scroll data-fixed-element>
      <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
      <i class="btn-scroll-top-icon ci-angle-up"></i>
    </a>

    <!-- Vendor scripts: js libraries and plugins-->
    <script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="../assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="../assets/vendor/prismjs/components/prism-core.min.js"></script>
    <script src="../assets/vendor/prismjs/components/prism-markup.min.js"></script>
    <script src="../assets/vendor/prismjs/components/prism-clike.min.js"></script>
    <script src="../assets/vendor/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="../assets/vendor/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="../assets/vendor/prismjs/plugins/line-numbers/prism-line-numbers.min.js"></script>

    <!-- Main theme script-->
    <script src="../assets/js/theme.min.js"></script>
  </body>
</html>