<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Createx UI Kit | Pagination</title>

    <!-- SEO Meta Tags-->
    <meta name="description" content="Createx - Multipurpose Bootstrap Template">
    <meta name="keywords" content="bootstrap, business, creative agency, construction, services, e-commerce, shopping cart, mobile app showcase, multipurpose, shop, ui kit, marketing, seo, landing, html5, css3, javascript, gallery, slider, touch, creative">
    <meta name="author" content="Createx Studio">

    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon-16x16.png">
    <link rel="manifest" href="../assets/img/site.webmanifest">
    <link rel="mask-icon" color="#5bbad5" href="../assets/img/safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#766df4">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="../assets/vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="../assets/vendor/prismjs/themes/prism.css"/>
    <link rel="stylesheet" media="screen" href="../assets/vendor/prismjs/plugins/toolbar/prism-toolbar.css"/>
    <link rel="stylesheet" media="screen" href="../assets/vendor/prismjs/plugins/line-numbers/prism-line-numbers.css"/>

    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="../assets/css/theme.min.css">
  </head>


  <!-- Body-->
  <body>
    <main class="container-fluid">

      <!-- Main content-->
      <section class="offcanvas-enabled-start row pb-3 pb-md-4">
        <div class="col-xl-9">

          <!-- Navbar-->
          <header class="navbar navbar-expand navbar-light fixed-top navbar-shadow bg-light px-3 px-lg-4" data-scroll-header data-fixed-element>
            <a class="navbar-brand d-lg-none" href="typography.html">
              <img src="../assets/img/components/logo/logo-dark.svg" alt="Createx" width="130">
            </a>
            <button class="navbar-toggler d-block d-lg-none me-3 ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#componentsNav">
              <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav ms-auto d-none d-lg-flex align-items-center">
              <li class="nav-item">
                <a class="nav-link py-0" href="../../index.html">
                  <i class="ci-eye align-middle mt-n1 me-2"></i>
                  Live preview
                </a>
              </li>
              <li class="nav-item">
                <div class="nav-link disabled text-border px-1">|</div>
              </li>
              <li class="nav-item">
                <a class="nav-link py-0" href="../documentation/dev-setup.html">
                  <i class="ci-files align-middle mt-n1 me-2"></i>
                  Documentation
                </a>
              </li>
              <li class="nav-item">
                <div class="nav-link disabled text-border px-1">|</div>
              </li>
            </ul>
            <a href="https://themes.getbootstrap.com/product/createx-multipurpose-template-ui-kit/" class="btn btn-primary btn-hover-shadow ms-lg-4" target="_blank" rel="noopener">
              <i class="ci-cart me-2 d-none d-sm-inline-block"></i>
              Buy now
            </a>
          </header>

          <!-- Side navigation (Offcanvas)-->
          <aside class="offcanvas offcanvas-expand offcanvas-start bg-dark" id="componentsNav">
            <div class="offcanvas-header d-none d-lg-block py-4">
              <a class="navbar-brand py-2" href="typography.html">
                <img src="../assets/img/components/logo/logo-white.svg" alt="Createx" width="130">
              </a>
              <span class="badge bg-success">UI Kit</span>
            </div>
            <div class="offcanvas-header d-flex d-lg-none align-items-center">
              <div class="d-flex align-items-center mt-1">
                <h5 class="text-light mb-0 me-3">Menu</h5>
                <span class="badge bg-success">UI Kit</span>
              </div>
              <button class="btn-close btn-close-white" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="d-flex d-lg-none align-items-center py-4 px-3 border-bottom border-light">
              <a class="btn btn-primary d-block w-100 me-3" href="../../index.html"><i class="ci-eye mt-n1 me-2"></i>Preview</a>
              <a class="btn btn-warning d-block w-100 mt-0" href="../documentation/dev-setup.html"><i class="ci-files mt-n1 me-2"></i>Docs</a>
            </div>
            <div class="offcanvas-body px-0 pt-4 pb-grid-gutter" data-simplebar data-simplebar-inverse>
              <h6 class="fs-lg text-light px-4 mt-2 mb-3">Content</h6>
              <hr class="hr-gradient hr-light mt-0 mb-2 opacity-25">
              <nav class="nav nav-light">
                <a class="nav-link px-4" href="typography.html">Typography</a>
                <a class="nav-link px-4" href="icon-font.html">Icon font</a>
                <a class="nav-link px-4" href="code.html">Code</a>
                <a class="nav-link px-4" href="images.html">Images &amp; figures</a>
                <a class="nav-link px-4" href="tables.html">Tables</a>
              </nav>
              <h6 class="fs-lg text-light px-4 pt-1 mt-4 mb-3">Components</h6>
              <hr class="hr-gradient hr-light mt-0 mb-2 opacity-25">
              <nav class="nav nav-light">
                <a class="nav-link px-4" href="accordion.html">Accordion</a>
                <a class="nav-link px-4" href="alerts.html">Alerts</a>
                <a class="nav-link px-4" href="badge.html">Badges</a>
                <a class="nav-link px-4" href="blog-components.html">Blog components</a>
                <a class="nav-link px-4" href="breadcrumb.html">Breadcrumb</a>
                <a class="nav-link px-4" href="buttons.html">Buttons</a>
                <a class="nav-link px-4" href="button-group.html">Button group</a>
                <a class="nav-link px-4" href="cards.html">Cards</a>
                <a class="nav-link px-4" href="carousel.html">Carousel</a>
                <a class="nav-link px-4" href="collapse.html">Collapse</a>
                <a class="nav-link px-4" href="contacts-card.html">Contacts card</a>
                <a class="nav-link px-4" href="countdown.html">Countdown</a>
                <a class="nav-link px-4" href="dividers.html">Dividers</a>
                <a class="nav-link px-4" href="dropdowns.html">Dropdowns</a>
                <a class="nav-link px-4" href="forms.html">Forms</a>
                <a class="nav-link px-4" href="gallery.html">Gallery</a>
                <a class="nav-link px-4" href="icon-box.html">Icon box</a>
                <a class="nav-link px-4" href="input-group.html">Input group</a>
                <a class="nav-link px-4" href="list-group.html">List group</a>
                <a class="nav-link px-4" href="modal.html">Modal</a>
                <a class="nav-link px-4" href="navs.html">Navs</a>
                <a class="nav-link px-4" href="navbar.html">Navbar</a>
                <a class="nav-link px-4" href="offcanvas.html">Offcanvas</a>
                <a class="nav-link px-4 active" href="pagination.html">Pagination</a>
                <a class="nav-link px-4" href="parallax.html">Parallax</a>
                <a class="nav-link px-4" href="pills.html">Pills</a>
                <a class="nav-link px-4" href="popovers.html">Popovers</a>
                <a class="nav-link px-4" href="portfolio-components.html">Portfolio components</a>
                <a class="nav-link px-4" href="pricing.html">Pricing</a>
                <a class="nav-link px-4" href="progress-bar.html">Progress bar</a>
                <a class="nav-link px-4" href="progress-radial.html">Progress radial</a>
                <a class="nav-link px-4" href="scrollbar-custom.html">Scrollbar (custom)</a>
                <a class="nav-link px-4" href="shop-components.html">Shop components</a>
                <a class="nav-link px-4" href="social-buttons.html">Social buttons</a>
                <a class="nav-link px-4" href="spinners.html">Spinners</a>
                <a class="nav-link px-4" href="steps.html">Steps</a>
                <a class="nav-link px-4" href="tabs.html">Tabs</a>
                <a class="nav-link px-4" href="team.html">Team</a>
                <a class="nav-link px-4" href="testimonials.html">Testimonials / reviews</a>
                <a class="nav-link px-4" href="toasts.html">Toasts</a>
                <a class="nav-link px-4" href="tooltips.html">Tooltips</a>
                <a class="nav-link px-4" href="video-popup.html">Video popup</a>
                <a class="nav-link px-4" href="widgets.html">Widgets</a>
              </nav>
              <h6 class="fs-lg text-light px-4 pt-1 mt-4 mb-3">Utilities</h6>
              <hr class="hr-gradient hr-light mt-0 mb-2 opacity-25">
              <nav class="nav nav-light">
                <a class="nav-link px-4" href="https://getbootstrap.com/docs/5.0/utilities/borders/" target="_blank" rel="noopener">Bootstrap</a>
                <a class="nav-link px-4" href="utilities.html">Createx</a>
              </nav>
            </div>
          </aside>

          <!-- Page title-->
          <div class="border-bottom pt-5 mt-2 mb-5">
            <h1 class="mt-2 mt-md-4 mb-3 pt-5">Pagination</h1>
            <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
              <p class="text-muted">Indicate a series of related content exists across multiple pages.</p>
              <p class="fs-sm fw-bold ps-md-4">
                <a class="text-nowrap" href="https://getbootstrap.com/docs/5.0/components/pagination/" target="_blank" rel="noopener">
                  Bootstrap docs<i class="ci-angle-right fs-base align-middle ms-1"></i>
                </a>
              </p>
            </div>
          </div>

          <!-- Basic example-->
          <section class="pb-5 mb-md-2" id="pagination-basic">
            <h2 class="h3">Basic example</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result1" data-bs-toggle="tab" role="tab" aria-controls="result1" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html1" data-bs-toggle="tab" role="tab" aria-controls="html1" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result1" role="tabpanel">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination mb-0">
                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                        <li class="page-item d-sm-none"><span class="page-link page-link-static">2 / 5</span></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">2<span class="visually-hidden">(current)</span></span></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">3</a></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">4</a></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                      </ul>
                    </nav>
                  </div>
                  <div class="tab-pane fade" id="html1" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Pagination: Basic example --&gt;
&lt;nav aria-label=&quot;Page navigation example&quot;&gt;
  &lt;ul class=&quot;pagination&quot;&gt;
    &lt;li class=&quot;page-item&quot;&gt;
      &lt;a href=&quot;#&quot; class=&quot;page-link&quot;&gt;Prev&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;page-item d-sm-none&quot;&gt;
      &lt;span class=&quot;page-link page-link-static&quot;&gt;2 / 5&lt;/span&gt;
    &lt;/li&gt;
    &lt;li class=&quot;page-item d-none d-sm-block&quot;&gt;
      &lt;a href=&quot;#&quot; class=&quot;page-link&quot;&gt;1&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;page-item active d-none d-sm-block&quot; aria-current=&quot;page&quot;&gt;
      &lt;span class=&quot;page-link&quot;&gt;
        2
        &lt;span class=&quot;visually-hidden&quot;&gt;(current)&lt;/span&gt;
      &lt;/span&gt;
    &lt;/li&gt;
    &lt;li class=&quot;page-item d-none d-sm-block&quot;&gt;
      &lt;a href=&quot;#&quot; class=&quot;page-link&quot;&gt;3&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;page-item d-none d-sm-block&quot;&gt;
      &lt;a href=&quot;#&quot; class=&quot;page-link&quot;&gt;4&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;page-item d-none d-sm-block&quot;&gt;
      &lt;a href=&quot;#&quot; class=&quot;page-link&quot;&gt;5&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;page-item&quot;&gt;
      &lt;a href=&quot;#&quot; class=&quot;page-link&quot;&gt;Next&lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- With icons-->
          <section class="pb-5 mb-md-2" id="pagination-icons">
            <h2 class="h3">With icons</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result2" data-bs-toggle="tab" role="tab" aria-controls="result2" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html2" data-bs-toggle="tab" role="tab" aria-controls="html2" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result2" role="tabpanel">
                    <nav class="mb-4" aria-label="Page navigation example">
                      <ul class="pagination mb-0">
                        <li class="page-item"><a class="page-link" href="#"><i class="ci-arrow-left"></i></a></li>
                        <li class="page-item d-sm-none"><span class="page-link page-link-static">2 / 5</span></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">2<span class="visually-hidden">(current)</span></span></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">3</a></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">4</a></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="ci-arrow-right"></i></a></li>
                      </ul>
                    </nav>
                    <nav aria-label="Page navigation example">
                      <ul class="pagination mb-0">
                        <li class="page-item"><a class="page-link" href="#"><i class="ci-arrow-left me-2"></i>Prev</a></li>
                        <li class="page-item d-sm-none"><span class="page-link page-link-static">2 / 5</span></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">2<span class="visually-hidden">(current)</span></span></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">3</a></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">4</a></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next<i class="ci-arrow-right ms-2"></i></a></li>
                      </ul>
                    </nav>
                  </div>
                  <div class="tab-pane fade" id="html2" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Pagination: With icons --&gt;
&lt;nav class=&quot;mb-4&quot; aria-label=&quot;Page navigation example&quot;&gt;
  &lt;ul class=&quot;pagination mb-0&quot;&gt;
    &lt;li class=&quot;page-item&quot;&gt;
      &lt;a class=&quot;page-link&quot; href=&quot;#&quot;&gt;
        &lt;i class=&quot;ci-arrow-left&quot;&gt;&lt;/i&gt;
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;page-item d-sm-none&quot;&gt;
      &lt;span class=&quot;page-link page-link-static&quot;&gt;2 / 5&lt;/span&gt;
    &lt;/li&gt;
    &lt;li class=&quot;page-item d-none d-sm-block&quot;&gt;
      &lt;a class=&quot;page-link&quot; href=&quot;#&quot;&gt;1&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;page-item active d-none d-sm-block&quot; aria-current=&quot;page&quot;&gt;
      &lt;span class=&quot;page-link&quot;&gt;2
        &lt;span class=&quot;visually-hidden&quot;&gt;(current)&lt;/span&gt;
      &lt;/span&gt;
    &lt;/li&gt;
    &lt;li class=&quot;page-item d-none d-sm-block&quot;&gt;
      &lt;a class=&quot;page-link&quot; href=&quot;#&quot;&gt;3&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;page-item d-none d-sm-block&quot;&gt;
      &lt;a class=&quot;page-link&quot; href=&quot;#&quot;&gt;4&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;page-item d-none d-sm-block&quot;&gt;
      &lt;a class=&quot;page-link&quot; href=&quot;#&quot;&gt;5&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;page-item&quot;&gt;
      &lt;a class=&quot;page-link&quot; href=&quot;#&quot;&gt;
        &lt;i class=&quot;ci-arrow-right&quot;&gt;&lt;/i&gt;
      &lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Sizing-->
          <section class="pb-5 mb-md-2" id="pagination-sizing">
            <h2 class="h3">Sizing</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result3" data-bs-toggle="tab" role="tab" aria-controls="result3" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html3" data-bs-toggle="tab" role="tab" aria-controls="html3" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result3" role="tabpanel">
                    <nav class="mb-4" aria-label="Page navigation example">
                      <ul class="pagination pagination-lg mb-0">
                        <li class="page-item"><a class="page-link" href="#"><i class="ci-arrow-left me-2"></i>Prev</a></li>
                        <li class="page-item d-sm-none"><span class="page-link page-link-static">2 / 5</span></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">2<span class="visually-hidden">(current)</span></span></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">3</a></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">4</a></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next<i class="ci-arrow-right ms-2"></i></a></li>
                      </ul>
                    </nav>
                    <nav class="mb-4" aria-label="Page navigation example">
                      <ul class="pagination mb-0">
                        <li class="page-item"><a class="page-link" href="#"><i class="ci-arrow-left me-2"></i>Prev</a></li>
                        <li class="page-item d-sm-none"><span class="page-link page-link-static">2 / 5</span></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">2<span class="visually-hidden">(current)</span></span></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">3</a></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">4</a></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next<i class="ci-arrow-right ms-2"></i></a></li>
                      </ul>
                    </nav>
                    <nav aria-label="Page navigation example">
                      <ul class="pagination pagination-sm mb-0">
                        <li class="page-item"><a class="page-link" href="#"><i class="ci-arrow-left me-2"></i>Prev</a></li>
                        <li class="page-item d-sm-none"><span class="page-link page-link-static">2 / 5</span></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">2<span class="visually-hidden">(current)</span></span></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">3</a></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">4</a></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next<i class="ci-arrow-right ms-2"></i></a></li>
                      </ul>
                    </nav>
                  </div>
                  <div class="tab-pane fade" id="html3" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Large size --&gt;
&lt;nav aria-label=&quot;...&quot;&gt;
  &lt;ul class=&quot;pagination pagination-lg&quot;&gt;
    &lt;!-- Page links --&gt;
  &lt;/ul&gt;
&lt;/nav&gt;

&lt;!-- Normal size --&gt;
&lt;nav aria-label=&quot;...&quot;&gt;
  &lt;ul class=&quot;pagination&quot;&gt;
    &lt;!-- Page links --&gt;
  &lt;/ul&gt;
&lt;/nav&gt;

&lt;!-- Small size --&gt;
&lt;nav aria-label=&quot;...&quot;&gt;
  &lt;ul class=&quot;pagination pagination-sm&quot;&gt;
    &lt;!-- Page links --&gt;
  &lt;/ul&gt;
&lt;/nav&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Light skin-->
          <section class="pb-5 mb-md-2" id="pagination-light">
            <h2 class="h3">Light skin</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result4" data-bs-toggle="tab" role="tab" aria-controls="result4" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html4" data-bs-toggle="tab" role="tab" aria-controls="html4" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane m-n4 p-4 bg-dark fade show active" id="result4" role="tabpanel">
                    <nav class="mb-4" aria-label="Page navigation example">
                      <ul class="pagination pagination-light mb-0">
                        <li class="page-item"><a class="page-link" href="#"><i class="ci-arrow-left"></i></a></li>
                        <li class="page-item d-sm-none"><span class="page-link page-link-static">2 / 5</span></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">2<span class="visually-hidden">(current)</span></span></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">3</a></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">4</a></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="ci-arrow-right"></i></a></li>
                      </ul>
                    </nav>
                    <nav aria-label="Page navigation example">
                      <ul class="pagination pagination-light mb-0">
                        <li class="page-item"><a class="page-link" href="#"><i class="ci-arrow-left me-2"></i>Prev</a></li>
                        <li class="page-item d-sm-none"><span class="page-link page-link-static">2 / 5</span></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">2<span class="visually-hidden">(current)</span></span></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">3</a></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">4</a></li>
                        <li class="page-item d-none d-sm-block"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next<i class="ci-arrow-right ms-2"></i></a></li>
                      </ul>
                    </nav>
                  </div>
                  <div class="tab-pane fade" id="html4" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Pagination: Light skin --&gt;
&lt;nav class=&quot;mb-4&quot; aria-label=&quot;Page navigation example&quot;&gt;
  &lt;ul class=&quot;pagination pagination-light mb-0&quot;&gt;
    &lt;li class=&quot;page-item&quot;&gt;
      &lt;a class=&quot;page-link&quot; href=&quot;#&quot;&gt;
        &lt;i class=&quot;ci-arrow-left&quot;&gt;&lt;/i&gt;
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;page-item d-sm-none&quot;&gt;
      &lt;span class=&quot;page-link page-link-static&quot;&gt;2 / 5&lt;/span&gt;
    &lt;/li&gt;
    &lt;li class=&quot;page-item d-none d-sm-block&quot;&gt;
      &lt;a class=&quot;page-link&quot; href=&quot;#&quot;&gt;1&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;page-item active d-none d-sm-block&quot; aria-current=&quot;page&quot;&gt;
      &lt;span class=&quot;page-link&quot;&gt;2
        &lt;span class=&quot;visually-hidden&quot;&gt;(current)&lt;/span&gt;
      &lt;/span&gt;
    &lt;/li&gt;
    &lt;li class=&quot;page-item d-none d-sm-block&quot;&gt;
      &lt;a class=&quot;page-link&quot; href=&quot;#&quot;&gt;3&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;page-item d-none d-sm-block&quot;&gt;
      &lt;a class=&quot;page-link&quot; href=&quot;#&quot;&gt;4&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;page-item d-none d-sm-block&quot;&gt;
      &lt;a class=&quot;page-link&quot; href=&quot;#&quot;&gt;5&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;page-item&quot;&gt;
      &lt;a class=&quot;page-link&quot; href=&quot;#&quot;&gt;
        &lt;i class=&quot;ci-arrow-right&quot;&gt;&lt;/i&gt;
      &lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Load more (One-page)-->
          <section class="pb-5 mb-md-2" id="pagination-load-more">
            <h2 class="h3">Load more (One-page)</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result5" data-bs-toggle="tab" role="tab" aria-controls="result5" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html5" data-bs-toggle="tab" role="tab" aria-controls="html5" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result5" role="tabpanel">
                    <button class="btn btn-lg btn-link load-more-btn p-0 text-decoration-none" type="button"><i class="ci-arrow-convert mt-n1 me-3 align-middle"></i>Load more</button>
                  </div>
                  <div class="tab-pane fade" id="html5" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Load more (One-page) --&gt;
&lt;button class=&quot;btn btn-lg btn-link load-more-btn p-0 text-decoration-none&quot; type=&quot;button&quot;&gt;
  &lt;i class=&quot;ci-arrow-convert mt-n1 me-3 align-middle&quot;&gt;&lt;/i&gt;
  Load more
&lt;/button&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Entry navigation-->
          <section class="pb-5 mb-md-2" id="pagination-entry-nav">
            <h2 class="h3">Entry navigation</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result6" data-bs-toggle="tab" role="tab" aria-controls="result6" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html6" data-bs-toggle="tab" role="tab" aria-controls="html6" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result6" role="tabpanel">
                    <nav class="d-flex justify-content-between" aria-label="Entry navigation example">
                      <a class="entry-nav image-scale me-3" href="#">
                        <h3 class="h5 entry-nav-heading pb-sm-2"><i class="ci-arrow-left me-2"></i>Prev post</h3>
                        <div class="d-flex">
                          <div class="entry-nav-thumb image-inner rounded d-none d-sm-block"><img class="me-1" src="../assets/img/components/pagination/01.jpg" width="100" alt="Media"></div>
                          <div class="ps-sm-3"><span class="fs-sm text-muted"><i class="ci-clock me-2"></i>March 12, 2020</span>
                            <h6 class="nav-heading fs-md fw-bold mb-0 mt-1 text-capitalize">10 tips for a small business digital marketing strategy</h6>
                          </div>
                        </div>
                      </a>
                      <a class="entry-nav image-scale ms-3" href="#">
                        <h3 class="h5 entry-nav-heading pb-sm-2 text-end">Next post<i class="ci-arrow-right ms-2"></i></h3>
                        <div class="d-flex justify-content-end">
                          <div class="text-end pe-sm-3"><span class="fs-sm text-muted"><i class="ci-clock me-2"></i>April 9, 2020</span>
                            <h6 class="nav-heading fs-md fw-bold mb-0 mt-1 text-capitalize">Why SEO Is All About Content Marketing?</h6>
                          </div>
                          <div class="entry-nav-thumb image-inner rounded d-none d-sm-block"><img class="ms-1" src="../assets/img/components/pagination/02.jpg" width="100" alt="Media"></div>
                        </div>
                      </a>
                    </nav>
                  </div>
                  <div class="tab-pane fade" id="html6" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Entry navigation (only for 2 items) --&gt;
&lt;nav class=&quot;d-flex justify-content-between&quot; aria-label=&quot;Entry navigation example&quot;&gt;

  &lt;!-- Entry navigation item left --&gt;
  &lt;a class=&quot;entry-nav image-scale me-3&quot; href=&quot;#&quot;&gt;
    &lt;h3 class=&quot;h5 entry-nav-heading pb-sm-2&quot;&gt;
      &lt;i class=&quot;ci-arrow-left me-2&quot;&gt;&lt;/i&gt;
      Prev post
    &lt;/h3&gt;
    &lt;div class=&quot;d-flex&quot;&gt;
      &lt;div class=&quot;entry-nav-thumb image-inner rounded d-none d-sm-block&quot;&gt;
        &lt;img class=&quot;me-1&quot; src=&quot;path-to-thumbnail&quot; width=&quot;100&quot; alt=&quot;Media&quot;&gt;
      &lt;/div&gt;
      &lt;div class=&quot;ps-sm-3&quot;&gt;
        &lt;span class=&quot;fs-sm text-muted&quot;&gt;
          &lt;i class=&quot;ci-clock me-2&quot;&gt;&lt;/i&gt;
          March 12, 2020
        &lt;/span&gt;
        &lt;h6 class=&quot;nav-heading fs-md fw-bold mb-0 mt-1 text-capitalize&quot;&gt;
          10 tips for a small business digital marketing strategy
        &lt;/h6&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/a&gt;

  &lt;!-- Entry navigation item right --&gt;
  &lt;a class=&quot;entry-nav image-scale ms-3&quot; href=&quot;#&quot;&gt;
    &lt;h3 class=&quot;h5 entry-nav-heading pb-sm-2 text-end&quot;&gt;
      Next post
      &lt;i class=&quot;ci-arrow-right ms-2&quot;&gt;&lt;/i&gt;
    &lt;/h3&gt;
    &lt;div class=&quot;d-flex justify-content-end&quot;&gt;
      &lt;div class=&quot;text-end pe-sm-3&quot;&gt;
        &lt;span class=&quot;fs-sm text-muted&quot;&gt;
          &lt;i class=&quot;ci-clock me-2&quot;&gt;&lt;/i&gt;
          April 9, 2020
        &lt;/span&gt;
        &lt;h6 class=&quot;nav-heading fs-md fw-bold mb-0 mt-1 text-capitalize&quot;&gt;
          Why SEO Is All About Content Marketing?
        &lt;/h6&gt;
      &lt;/div&gt;
      &lt;div class=&quot;entry-nav-thumb image-inner rounded d-none d-sm-block&quot;&gt;
        &lt;img class=&quot;ms-1&quot; src=&quot;path-to-thumbnail&quot; width=&quot;100&quot; alt=&quot;Media&quot;&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/a&gt;
&lt;/nav&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

        <!-- Quick (anchor) navigation-->
        <div class="col-xl-3 d-none d-xl-block ps-5">
          <aside class="sticky-top pt-5">
            <div class="pt-5 mt-5">
              <div class="ps-4 border-start">
                <h3 class="h5 mb-3">Jump to</h3>
                <nav class="nav nav-dark flex-column">
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#pagination-basic">Basic example</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#pagination-icons">With icons</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#pagination-sizing">Sizing</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#pagination-light">Light skin</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#pagination-load-more">Load more (One-page)</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#pagination-entry-nav">Entry navigation</a>
                </nav>
              </div>
            </div>
          </aside>
        </div>
      </section>
    </main>

    <!-- Back to top button-->
    <a class="btn-scroll-top" href="#top" data-scroll data-fixed-element>
      <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
      <i class="btn-scroll-top-icon ci-angle-up"></i>
    </a>

    <!-- Vendor scripts: js libraries and plugins-->
    <script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="../assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="../assets/vendor/prismjs/components/prism-core.min.js"></script>
    <script src="../assets/vendor/prismjs/components/prism-markup.min.js"></script>
    <script src="../assets/vendor/prismjs/components/prism-clike.min.js"></script>
    <script src="../assets/vendor/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="../assets/vendor/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="../assets/vendor/prismjs/plugins/line-numbers/prism-line-numbers.min.js"></script>

    <!-- Main theme script-->
    <script src="../assets/js/theme.min.js"></script>
  </body>
</html>