<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Createx UI Kit | Steps</title>

    <!-- SEO Meta Tags-->
    <meta name="description" content="Createx - Multipurpose Bootstrap Template">
    <meta name="keywords" content="bootstrap, business, creative agency, construction, services, e-commerce, shopping cart, mobile app showcase, multipurpose, shop, ui kit, marketing, seo, landing, html5, css3, javascript, gallery, slider, touch, creative">
    <meta name="author" content="Createx Studio">

    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon-16x16.png">
    <link rel="manifest" href="../assets/img/site.webmanifest">
    <link rel="mask-icon" color="#5bbad5" href="../assets/img/safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#766df4">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="../assets/vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="../assets/vendor/prismjs/themes/prism.css"/>
    <link rel="stylesheet" media="screen" href="../assets/vendor/prismjs/plugins/toolbar/prism-toolbar.css"/>
    <link rel="stylesheet" media="screen" href="../assets/vendor/prismjs/plugins/line-numbers/prism-line-numbers.css"/>

    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="../assets/css/theme.min.css">
  </head>


  <!-- Body-->
  <body>
    <main class="container-fluid">

      <!-- Main content-->
      <section class="offcanvas-enabled-start row pb-3 pb-md-4">
        <div class="col-xl-9">

          <!-- Navbar-->
          <header class="navbar navbar-expand navbar-light fixed-top navbar-shadow bg-light px-3 px-lg-4" data-scroll-header data-fixed-element>
            <a class="navbar-brand d-lg-none" href="typography.html">
              <img src="../assets/img/components/logo/logo-dark.svg" alt="Createx" width="130">
            </a>
            <button class="navbar-toggler d-block d-lg-none me-3 ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#componentsNav">
              <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav ms-auto d-none d-lg-flex align-items-center">
              <li class="nav-item">
                <a class="nav-link py-0" href="../../index.html">
                  <i class="ci-eye align-middle mt-n1 me-2"></i>
                  Live preview
                </a>
              </li>
              <li class="nav-item">
                <div class="nav-link disabled text-border px-1">|</div>
              </li>
              <li class="nav-item">
                <a class="nav-link py-0" href="../documentation/dev-setup.html">
                  <i class="ci-files align-middle mt-n1 me-2"></i>
                  Documentation
                </a>
              </li>
              <li class="nav-item">
                <div class="nav-link disabled text-border px-1">|</div>
              </li>
            </ul>
            <a href="https://themes.getbootstrap.com/product/createx-multipurpose-template-ui-kit/" class="btn btn-primary btn-hover-shadow ms-lg-4" target="_blank" rel="noopener">
              <i class="ci-cart me-2 d-none d-sm-inline-block"></i>
              Buy now
            </a>
          </header>

          <!-- Side navigation (Offcanvas)-->
          <aside class="offcanvas offcanvas-expand offcanvas-start bg-dark" id="componentsNav">
            <div class="offcanvas-header d-none d-lg-block py-4">
              <a class="navbar-brand py-2" href="typography.html">
                <img src="../assets/img/components/logo/logo-white.svg" alt="Createx" width="130">
              </a>
              <span class="badge bg-success">UI Kit</span>
            </div>
            <div class="offcanvas-header d-flex d-lg-none align-items-center">
              <div class="d-flex align-items-center mt-1">
                <h5 class="text-light mb-0 me-3">Menu</h5>
                <span class="badge bg-success">UI Kit</span>
              </div>
              <button class="btn-close btn-close-white" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="d-flex d-lg-none align-items-center py-4 px-3 border-bottom border-light">
              <a class="btn btn-primary d-block w-100 me-3" href="../../index.html"><i class="ci-eye mt-n1 me-2"></i>Preview</a>
              <a class="btn btn-warning d-block w-100 mt-0" href="../documentation/dev-setup.html"><i class="ci-files mt-n1 me-2"></i>Docs</a>
            </div>
            <div class="offcanvas-body px-0 pt-4 pb-grid-gutter" data-simplebar data-simplebar-inverse>
              <h6 class="fs-lg text-light px-4 mt-2 mb-3">Content</h6>
              <hr class="hr-gradient hr-light mt-0 mb-2 opacity-25">
              <nav class="nav nav-light">
                <a class="nav-link px-4" href="typography.html">Typography</a>
                <a class="nav-link px-4" href="icon-font.html">Icon font</a>
                <a class="nav-link px-4" href="code.html">Code</a>
                <a class="nav-link px-4" href="images.html">Images &amp; figures</a>
                <a class="nav-link px-4" href="tables.html">Tables</a>
              </nav>
              <h6 class="fs-lg text-light px-4 pt-1 mt-4 mb-3">Components</h6>
              <hr class="hr-gradient hr-light mt-0 mb-2 opacity-25">
              <nav class="nav nav-light">
                <a class="nav-link px-4" href="accordion.html">Accordion</a>
                <a class="nav-link px-4" href="alerts.html">Alerts</a>
                <a class="nav-link px-4" href="badge.html">Badges</a>
                <a class="nav-link px-4" href="blog-components.html">Blog components</a>
                <a class="nav-link px-4" href="breadcrumb.html">Breadcrumb</a>
                <a class="nav-link px-4" href="buttons.html">Buttons</a>
                <a class="nav-link px-4" href="button-group.html">Button group</a>
                <a class="nav-link px-4" href="cards.html">Cards</a>
                <a class="nav-link px-4" href="carousel.html">Carousel</a>
                <a class="nav-link px-4" href="collapse.html">Collapse</a>
                <a class="nav-link px-4" href="contacts-card.html">Contacts card</a>
                <a class="nav-link px-4" href="countdown.html">Countdown</a>
                <a class="nav-link px-4" href="dividers.html">Dividers</a>
                <a class="nav-link px-4" href="dropdowns.html">Dropdowns</a>
                <a class="nav-link px-4" href="forms.html">Forms</a>
                <a class="nav-link px-4" href="gallery.html">Gallery</a>
                <a class="nav-link px-4" href="icon-box.html">Icon box</a>
                <a class="nav-link px-4" href="input-group.html">Input group</a>
                <a class="nav-link px-4" href="list-group.html">List group</a>
                <a class="nav-link px-4" href="modal.html">Modal</a>
                <a class="nav-link px-4" href="navs.html">Navs</a>
                <a class="nav-link px-4" href="navbar.html">Navbar</a>
                <a class="nav-link px-4" href="offcanvas.html">Offcanvas</a>
                <a class="nav-link px-4" href="pagination.html">Pagination</a>
                <a class="nav-link px-4" href="parallax.html">Parallax</a>
                <a class="nav-link px-4" href="pills.html">Pills</a>
                <a class="nav-link px-4" href="popovers.html">Popovers</a>
                <a class="nav-link px-4" href="portfolio-components.html">Portfolio components</a>
                <a class="nav-link px-4" href="pricing.html">Pricing</a>
                <a class="nav-link px-4" href="progress-bar.html">Progress bar</a>
                <a class="nav-link px-4" href="progress-radial.html">Progress radial</a>
                <a class="nav-link px-4" href="scrollbar-custom.html">Scrollbar (custom)</a>
                <a class="nav-link px-4" href="shop-components.html">Shop components</a>
                <a class="nav-link px-4" href="social-buttons.html">Social buttons</a>
                <a class="nav-link px-4" href="spinners.html">Spinners</a>
                <a class="nav-link px-4 active" href="steps.html">Steps</a>
                <a class="nav-link px-4" href="tabs.html">Tabs</a>
                <a class="nav-link px-4" href="team.html">Team</a>
                <a class="nav-link px-4" href="testimonials.html">Testimonials / reviews</a>
                <a class="nav-link px-4" href="toasts.html">Toasts</a>
                <a class="nav-link px-4" href="tooltips.html">Tooltips</a>
                <a class="nav-link px-4" href="video-popup.html">Video popup</a>
                <a class="nav-link px-4" href="widgets.html">Widgets</a>
              </nav>
              <h6 class="fs-lg text-light px-4 pt-1 mt-4 mb-3">Utilities</h6>
              <hr class="hr-gradient hr-light mt-0 mb-2 opacity-25">
              <nav class="nav nav-light">
                <a class="nav-link px-4" href="https://getbootstrap.com/docs/5.0/utilities/borders/" target="_blank" rel="noopener">Bootstrap</a>
                <a class="nav-link px-4" href="utilities.html">Createx</a>
              </nav>
            </div>
          </aside>

          <!-- Page title-->
          <div class="border-bottom pt-5 mt-2 mb-5">
            <h1 class="mt-2 mt-md-4 mb-3 pt-5">Steps</h1>
            <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
              <p class="text-muted">Element to showcase numbered steps of the process or timeline. Comes in different styles.</p>
              <div class="ps-md-4 mb-3"><span class="badge bg-success">Createx component</span></div>
            </div>
          </div>

          <!-- Horizontal-->
          <section class="pb-5 mb-md-2" id="step-horizontal">
            <h2 class="h3">Horizontal</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result1" data-bs-toggle="tab" role="tab" aria-controls="result1" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html1" data-bs-toggle="tab" role="tab" aria-controls="html1" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result1" role="tabpanel">
                    <div class="steps row mx-0 py-3">
                      <div class="col-md-4">
                        <div class="step mb-md-0 mb-5">
                          <div class="step-head mb-3"><span class="step-indicator">01</span><span class="step-line"></span></div>
                          <div class="step-body">
                            <h3 class="h5 mb-2">Research &amp;Analysis</h3>
                            <p class="mb-3 text-muted">Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="step mb-md-0 mb-5">
                          <div class="step-head mb-3"><span class="step-indicator">02</span><span class="step-line"></span></div>
                          <div class="step-body">
                            <h3 class="h5 mb-2">Prototyping</h3>
                            <p class="mb-3 text-muted">Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim ad tempor est ea.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="step">
                          <div class="step-head mb-3"><span class="step-indicator">03</span></div>
                          <div class="step-body">
                            <h3 class="h5 mb-2">Pixel-perfect UI Design</h3>
                            <p class="mb-3 text-muted">Adipisicing esse aliqua aliquip qui amet. Aute eiusmod dolore dolore et ad et veniam ad deserunt.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="html1" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Horizontal step wrapper --&gt;
&lt;div class=&quot;steps row&quot;&gt;

  &lt;!-- Step --&gt;
  &lt;div class=&quot;col-md-4&quot;&gt;
    &lt;div class=&quot;step mb-md-0 mb-5&quot;&gt;
      &lt;div class=&quot;step-head mb-3&quot;&gt;
        &lt;span class=&quot;step-indicator&quot;&gt;01&lt;/span&gt;
        &lt;span class=&quot;step-line&quot;&gt;&lt;/span&gt;
      &lt;/div&gt;
      &lt;div class=&quot;step-body&quot;&gt;
        &lt;h3 class=&quot;h5 mb-2&quot;&gt;Research &amp; Analysis&lt;/h3&gt;
        &lt;p class=&quot;mb-3 text-muted&quot;&gt;Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.&lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;!-- Step --&gt;
  &lt;div class=&quot;col-md-4&quot;&gt;
    &lt;div class=&quot;step mb-md-0 mb-5&quot;&gt;
      &lt;div class=&quot;step-head mb-3&quot;&gt;
        &lt;span class=&quot;step-indicator&quot;&gt;02&lt;/span&gt;
        &lt;span class=&quot;step-line&quot;&gt;&lt;/span&gt;
      &lt;/div&gt;
      &lt;div class=&quot;step-body&quot;&gt;
        &lt;h3 class=&quot;h5 mb-2&quot;&gt;Prototyping&lt;/h3&gt;
        &lt;p class=&quot;mb-3 text-muted&quot;&gt;Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim ad tempor est ea.&lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;!-- Step --&gt;
  &lt;div class=&quot;col-md-4&quot;&gt;
    &lt;div class=&quot;step&quot;&gt;
      &lt;div class=&quot;step-head mb-3&quot;&gt;
        &lt;span class=&quot;step-indicator&quot;&gt;03&lt;/span&gt;
      &lt;/div&gt;
      &lt;div class=&quot;step-body&quot;&gt;
        &lt;h3 class=&quot;h5 mb-2&quot;&gt;Pixel-perfect UI Design&lt;/h3&gt;
        &lt;p class=&quot;mb-3 text-muted&quot;&gt;Adipisicing esse aliqua aliquip qui amet. Aute eiusmod dolore dolore et ad et veniam ad deserunt.&lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Vertical-->
          <section class="pb-5 mb-md-2" id="step-vertical">
            <h2 class="h3">Vertical</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result2" data-bs-toggle="tab" role="tab" aria-controls="result2" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html2" data-bs-toggle="tab" role="tab" aria-controls="html2" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result2" role="tabpanel">
                    <div class="pb-grid-gutter">
                      <div class="step-vertical combined">
                        <div class="step-line text-primary"></div>
                        <div class="step-body">
                          <h4 class="h6 mb-0 fs-xs fw-black text-muted text-uppercase">Step 1</h4>
                          <h3 class="h5 mb-2">Off-Site SEO Analysis</h3>
                          <p class="mb-0 text-muted">Aliquam turpis viverra quam sit interdum blandit posuere pellentesque. Nisl, imperdiet gravida massa neque.</p>
                        </div>
                      </div>
                      <div class="step-vertical">
                        <div class="step-line text-primary"></div>
                        <div class="step-body">
                          <h4 class="h6 mb-0 fs-xs fw-black text-muted text-uppercase">Step 2</h4>
                          <h3 class="h5 mb-2">Technical SEO Optimizations</h3>
                          <p class="mb-0 text-muted">Facilisis pellentesque quis accumsan ultricies. Eu egestas eget feugiat lacus, amet, sollicitudin egestas laoreet etiam. Nunc nisl orci auctor et fames.</p>
                        </div>
                      </div>
                      <div class="step-vertical">
                        <div class="step-line text-primary"></div>
                        <div class="step-body">
                          <h4 class="h6 mb-0 fs-xs fw-black text-muted text-uppercase">Step 3</h4>
                          <h3 class="h5 mb-2">Usability Check</h3>
                          <p class="mb-0 text-muted">Eget amet, enim pharetra leo egestas nisi, odio imperdiet facilisis. Aliquet orci varius volutpat egestas facilisi lobortis. Varius praesent pretium in leo, accumsan, in ultricies. </p>
                        </div>
                      </div>
                      <div class="step-vertical">
                        <div class="step-line text-primary"></div>
                        <div class="step-body">
                          <h4 class="h6 mb-0 fs-xs fw-black text-muted text-uppercase">Step 4</h4>
                          <h3 class="h5 mb-2">Content Marketing</h3>
                          <p class="mb-0 text-muted">Non tempor pulvinar tincidunt aliquam. Placerat ultricies malesuada dui auctor. Faucibus in leo, nulla odio nulla imperdiet quis faucibus neque.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="html2" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Vertical steps --&gt;

&lt;!-- Step --&gt;
&lt;div class=&quot;step-vertical&quot;&gt;
  &lt;div class=&quot;step-line text-primary&quot;&gt;&lt;/div&gt;
  &lt;div class=&quot;step-body&quot;&gt;
    &lt;h4 class=&quot;h6 mb-0 fs-xs fw-black text-muted text-uppercase&quot;&gt;Step 1&lt;/h4&gt;
    &lt;h3 class=&quot;h5 mb-2&quot;&gt;Off-Site SEO Analysis&lt;/h3&gt;
    &lt;p class=&quot;mb-0 text-muted&quot;&gt;Aliquam turpis viverra quam sit interdum blandit posuere pellentesque. Nisl, imperdiet gravida massa neque.&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;!-- Step --&gt;
&lt;div class=&quot;step-vertical&quot;&gt;
  &lt;div class=&quot;step-line text-primary&quot;&gt;&lt;/div&gt;
  &lt;div class=&quot;step-body&quot;&gt;
    &lt;h4 class=&quot;h6 mb-0 fs-xs fw-black text-muted text-uppercase&quot;&gt;Step 2&lt;/h4&gt;
    &lt;h3 class=&quot;h5 mb-2&quot;&gt;Technical SEO Optimizations&lt;/h3&gt;
    &lt;p class=&quot;mb-0 text-muted&quot;&gt;Facilisis pellentesque quis accumsan ultricies. Eu egestas eget feugiat lacus, amet, sollicitudin egestas laoreet etiam. Nunc nisl orci auctor et fames.&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;!-- Step --&gt;
&lt;div class=&quot;step-vertical&quot;&gt;
  &lt;div class=&quot;step-line text-primary&quot;&gt;&lt;/div&gt;
  &lt;div class=&quot;step-body&quot;&gt;
    &lt;h4 class=&quot;h6 mb-0 fs-xs fw-black text-muted text-uppercase&quot;&gt;Step 3&lt;/h4&gt;
    &lt;h3 class=&quot;h5 mb-2&quot;&gt;Usability Check&lt;/h3&gt;
    &lt;p class=&quot;mb-0 text-muted&quot;&gt;Eget amet, enim pharetra leo egestas nisi, odio imperdiet facilisis. Aliquet orci varius volutpat egestas facilisi lobortis. Varius praesent pretium in leo, accumsan, in ultricies. &lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;!-- Step --&gt;
&lt;div class=&quot;step-vertical&quot;&gt;
  &lt;div class=&quot;step-line text-primary&quot;&gt;&lt;/div&gt;
  &lt;div class=&quot;step-body&quot;&gt;
    &lt;h4 class=&quot;h6 mb-0 fs-xs fw-black text-muted text-uppercase&quot;&gt;Step 4&lt;/h4&gt;
    &lt;h3 class=&quot;h5 mb-2&quot;&gt;Content Marketing&lt;/h3&gt;
    &lt;p class=&quot;mb-0 text-muted&quot;&gt;Non tempor pulvinar tincidunt aliquam. Placerat ultricies malesuada dui auctor. Faucibus in leo, nulla odio nulla imperdiet quis faucibus neque.&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Vertical: Alignment-->
          <section class="pb-5 mb-md-2" id="step-vertical-alignment">
            <h2 class="h3">Vertical: Alignment</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result3" data-bs-toggle="tab" role="tab" aria-controls="result3" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html3" data-bs-toggle="tab" role="tab" aria-controls="html3" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result3" role="tabpanel">
                    <div class="row">
                      <div class="col-md-6 mb-md-0 mb-grid-gutter pb-grid-gutter">
                        <div class="steps-vertical-end">
                          <div class="step-vertical">
                            <div class="step-line text-primary"></div>
                            <div class="step-body">
                              <h4 class="h6 mb-0 fs-xs fw-black text-muted text-uppercase">Step 1</h4>
                              <h3 class="h5 mb-2">Off-Site SEO Analysis</h3>
                              <p class="mb-0 text-muted">Aliquam turpis viverra quam sit interdum blandit posuere pellentesque. Nisl, imperdiet gravida massa neque.</p>
                            </div>
                          </div>
                          <div class="step-vertical">
                            <div class="step-line text-primary"></div>
                            <div class="step-body">
                              <h4 class="h6 mb-0 fs-xs fw-black text-muted text-uppercase">Step 2</h4>
                              <h3 class="h5 mb-2">Technical SEO Optimizations</h3>
                              <p class="mb-0 text-muted">Facilisis pellentesque quis accumsan ultricies. Eu egestas eget feugiat lacus, amet, sollicitudin egestas laoreet etiam. Nunc nisl orci auctor et fames.</p>
                            </div>
                          </div>
                          <div class="step-vertical">
                            <div class="step-line text-primary"></div>
                            <div class="step-body">
                              <h4 class="h6 mb-0 fs-xs fw-black text-muted text-uppercase">Step 3</h4>
                              <h3 class="h5 mb-2">Usability Check</h3>
                              <p class="mb-0 text-muted">Eget amet, enim pharetra leo egestas nisi, odio imperdiet facilisis. Aliquet orci varius volutpat egestas facilisi lobortis. Varius praesent pretium in leo, accumsan, in ultricies. </p>
                            </div>
                          </div>
                          <div class="step-vertical">
                            <div class="step-line text-primary"></div>
                            <div class="step-body">
                              <h4 class="h6 mb-0 fs-xs fw-black text-muted text-uppercase">Step 4</h4>
                              <h3 class="h5 mb-2">Content Marketing</h3>
                              <p class="mb-0 text-muted">Non tempor pulvinar tincidunt aliquam. Placerat ultricies malesuada dui auctor. Faucibus in leo, nulla odio nulla imperdiet quis faucibus neque.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 pb-grid-gutter">
                        <div class="steps-vertical-start">
                          <div class="step-vertical">
                            <div class="step-line text-primary"></div>
                            <div class="step-body">
                              <h4 class="h6 mb-0 fs-xs fw-black text-muted text-uppercase">Step 1</h4>
                              <h3 class="h5 mb-2">Off-Site SEO Analysis</h3>
                              <p class="mb-0 text-muted">Aliquam turpis viverra quam sit interdum blandit posuere pellentesque. Nisl, imperdiet gravida massa neque.</p>
                            </div>
                          </div>
                          <div class="step-vertical">
                            <div class="step-line text-primary"></div>
                            <div class="step-body">
                              <h4 class="h6 mb-0 fs-xs fw-black text-muted text-uppercase">Step 2</h4>
                              <h3 class="h5 mb-2">Technical SEO Optimizations</h3>
                              <p class="mb-0 text-muted">Facilisis pellentesque quis accumsan ultricies. Eu egestas eget feugiat lacus, amet, sollicitudin egestas laoreet etiam. Nunc nisl orci auctor et fames.</p>
                            </div>
                          </div>
                          <div class="step-vertical">
                            <div class="step-line text-primary"></div>
                            <div class="step-body">
                              <h4 class="h6 mb-0 fs-xs fw-black text-muted text-uppercase">Step 3</h4>
                              <h3 class="h5 mb-2">Usability Check</h3>
                              <p class="mb-0 text-muted">Eget amet, enim pharetra leo egestas nisi, odio imperdiet facilisis. Aliquet orci varius volutpat egestas facilisi lobortis. Varius praesent pretium in leo, accumsan, in ultricies. </p>
                            </div>
                          </div>
                          <div class="step-vertical">
                            <div class="step-line text-primary"></div>
                            <div class="step-body">
                              <h4 class="h6 mb-0 fs-xs fw-black text-muted text-uppercase">Step 4</h4>
                              <h3 class="h5 mb-2">Content Marketing</h3>
                              <p class="mb-0 text-muted">Non tempor pulvinar tincidunt aliquam. Placerat ultricies malesuada dui auctor. Faucibus in leo, nulla odio nulla imperdiet quis faucibus neque.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="html3" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Vertical steps: right alignment --&gt;
&lt;div class=&quot;steps-vertical-end&quot;&gt;
  &lt;div class=&quot;step-vertical&quot;&gt;
    &lt;div class=&quot;step-line text-primary&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;step-body&quot;&gt;
      &lt;h4 class=&quot;h6 mb-0 fs-xs fw-black text-muted text-uppercase&quot;&gt;Step 1&lt;/h4&gt;
      &lt;h3 class=&quot;h5 mb-2&quot;&gt;Off-Site SEO Analysis&lt;/h3&gt;
      &lt;p class=&quot;mb-0 text-muted&quot;&gt;Aliquam turpis viverra quam sit interdum blandit posuere pellentesque. Nisl, imperdiet gravida massa neque.&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;step-vertical&quot;&gt;
    &lt;div class=&quot;step-line text-primary&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;step-body&quot;&gt;
      &lt;h4 class=&quot;h6 mb-0 fs-xs fw-black text-muted text-uppercase&quot;&gt;Step 2&lt;/h4&gt;
      &lt;h3 class=&quot;h5 mb-2&quot;&gt;Technical SEO Optimizations&lt;/h3&gt;
      &lt;p class=&quot;mb-0 text-muted&quot;&gt;Facilisis pellentesque quis accumsan ultricies. Eu egestas eget feugiat lacus, amet, sollicitudin egestas laoreet etiam. Nunc nisl orci auctor et fames.&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;step-vertical&quot;&gt;
    &lt;div class=&quot;step-line text-primary&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;step-body&quot;&gt;
      &lt;h4 class=&quot;h6 mb-0 fs-xs fw-black text-muted text-uppercase&quot;&gt;Step 3&lt;/h4&gt;
      &lt;h3 class=&quot;h5 mb-2&quot;&gt;Usability Check&lt;/h3&gt;
      &lt;p class=&quot;mb-0 text-muted&quot;&gt;Eget amet, enim pharetra leo egestas nisi, odio imperdiet facilisis. Aliquet orci varius volutpat egestas facilisi lobortis. Varius praesent pretium in leo, accumsan, in ultricies. &lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;step-vertical&quot;&gt;
    &lt;div class=&quot;step-line text-primary&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;step-body&quot;&gt;
      &lt;h4 class=&quot;h6 mb-0 fs-xs fw-black text-muted text-uppercase&quot;&gt;Step 4&lt;/h4&gt;
      &lt;h3 class=&quot;h5 mb-2&quot;&gt;Content Marketing&lt;/h3&gt;
      &lt;p class=&quot;mb-0 text-muted&quot;&gt;Non tempor pulvinar tincidunt aliquam. Placerat ultricies malesuada dui auctor. Faucibus in leo, nulla odio nulla imperdiet quis faucibus neque.&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;!-- Vertical steps: left alignment --&gt;
&lt;div class=&quot;steps-vertical-start&quot;&gt;
  &lt;div class=&quot;step-vertical&quot;&gt;
    &lt;div class=&quot;step-line text-primary&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;step-body&quot;&gt;
      &lt;h4 class=&quot;h6 mb-0 fs-xs fw-black text-muted text-uppercase&quot;&gt;Step 1&lt;/h4&gt;
      &lt;h3 class=&quot;h5 mb-2&quot;&gt;Off-Site SEO Analysis&lt;/h3&gt;
      &lt;p class=&quot;mb-0 text-muted&quot;&gt;Aliquam turpis viverra quam sit interdum blandit posuere pellentesque. Nisl, imperdiet gravida massa neque.&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;step-vertical&quot;&gt;
    &lt;div class=&quot;step-line text-primary&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;step-body&quot;&gt;
      &lt;h4 class=&quot;h6 mb-0 fs-xs fw-black text-muted text-uppercase&quot;&gt;Step 2&lt;/h4&gt;
      &lt;h3 class=&quot;h5 mb-2&quot;&gt;Technical SEO Optimizations&lt;/h3&gt;
      &lt;p class=&quot;mb-0 text-muted&quot;&gt;Facilisis pellentesque quis accumsan ultricies. Eu egestas eget feugiat lacus, amet, sollicitudin egestas laoreet etiam. Nunc nisl orci auctor et fames.&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;step-vertical&quot;&gt;
    &lt;div class=&quot;step-line text-primary&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;step-body&quot;&gt;
      &lt;h4 class=&quot;h6 mb-0 fs-xs fw-black text-muted text-uppercase&quot;&gt;Step 3&lt;/h4&gt;
      &lt;h3 class=&quot;h5 mb-2&quot;&gt;Usability Check&lt;/h3&gt;
      &lt;p class=&quot;mb-0 text-muted&quot;&gt;Eget amet, enim pharetra leo egestas nisi, odio imperdiet facilisis. Aliquet orci varius volutpat egestas facilisi lobortis. Varius praesent pretium in leo, accumsan, in ultricies. &lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;step-vertical&quot;&gt;
    &lt;div class=&quot;step-line text-primary&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;step-body&quot;&gt;
      &lt;h4 class=&quot;h6 mb-0 fs-xs fw-black text-muted text-uppercase&quot;&gt;Step 4&lt;/h4&gt;
      &lt;h3 class=&quot;h5 mb-2&quot;&gt;Content Marketing&lt;/h3&gt;
      &lt;p class=&quot;mb-0 text-muted&quot;&gt;Non tempor pulvinar tincidunt aliquam. Placerat ultricies malesuada dui auctor. Faucibus in leo, nulla odio nulla imperdiet quis faucibus neque.&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Vertical: Inside table-->
          <section class="pb-5 mb-md-2" id="step-vertical-table">
            <h2 class="h3">Vertical: Inside table</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result4" data-bs-toggle="tab" role="tab" aria-controls="result4" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html4" data-bs-toggle="tab" role="tab" aria-controls="html4" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result4" role="tabpanel">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class="fs-lg">
                          <tr>
                            <th class="border-0"></th>
                            <th class="border-0">Status</th>
                            <th class="border-0">Location</th>
                            <th class="border-0">Date</th>
                            <th class="border-0">Time</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="step-vertical active">
                            <th class="pe-3 position-relative border-0" scope="row">
                              <div class="step-line"></div>
                            </th>
                            <td class="py-3">Order Placed</td>
                            <td class="py-3">New York, USA</td>
                            <td class="py-3">August 29, 2020</td>
                            <td class="py-3">2:00 pm</td>
                          </tr>
                          <tr class="step-vertical active">
                            <th class="pe-3 position-relative border-0" scope="row">
                              <div class="step-line"></div>
                            </th>
                            <td class="py-3">Documentation Prepared</td>
                            <td class="py-3">New York, USA</td>
                            <td class="py-3">August 29, 2020</td>
                            <td class="py-3">3:30 pm</td>
                          </tr>
                          <tr class="step-vertical active">
                            <th class="pe-3 position-relative border-0" scope="row">
                              <div class="step-line"></div>
                            </th>
                            <td class="py-3">Booking Arranged</td>
                            <td class="py-3">New York, USA</td>
                            <td class="py-3">August 29, 2020</td>
                            <td class="py-3">3:35 pm</td>
                          </tr>
                          <tr class="step-vertical active">
                            <th class="pe-3 position-relative border-0" scope="row">
                              <div class="step-line"></div>
                            </th>
                            <td class="py-3">Collected</td>
                            <td class="py-3">New York, USA</td>
                            <td class="py-3">August 29, 2020</td>
                            <td class="py-3">4:00 pm</td>
                          </tr>
                          <tr class="step-vertical active">
                            <th class="pe-3 position-relative border-0" scope="row">
                              <div class="step-line"></div>
                            </th>
                            <td class="py-3">In Transit to Destination</td>
                            <td class="py-3">New York, USA</td>
                            <td class="py-3">August 29, 2020</td>
                            <td class="py-3">6:00 pm</td>
                          </tr>
                          <tr class="step-vertical">
                            <th class="pe-3 position-relative border-0" scope="row">
                              <div class="step-line"></div>
                            </th>
                            <td class="py-3">Arrived at Destination</td>
                            <td class="py-3">London, United Kingdom</td>
                            <td class="py-3"></td>
                            <td class="py-3"></td>
                          </tr>
                          <tr class="step-vertical">
                            <th class="pe-3 position-relative border-0" scope="row">
                              <div class="step-line"></div>
                            </th>
                            <td class="py-3">Out for Delivery</td>
                            <td class="py-3">London, United Kingdom</td>
                            <td class="py-3"></td>
                            <td class="py-3"></td>
                          </tr>
                          <tr class="step-vertical">
                            <th class="pe-3 position-relative border-0" scope="row">
                              <div class="step-line"></div>
                            </th>
                            <td class="py-3">Delivered</td>
                            <td class="py-3">London, United Kingdom</td>
                            <td class="py-3"></td>
                            <td class="py-3"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="html4" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Vertical steps inside table --&gt;
&lt;div class=&quot;table-responsive&quot;&gt;
  &lt;table class=&quot;table&quot;&gt;
    &lt;thead class=&quot;fs-lg&quot;&gt;
      &lt;tr&gt;
        &lt;th class=&quot;border-0&quot;&gt;&lt;/th&gt;
        &lt;th class=&quot;border-0&quot;&gt;Status&lt;/th&gt;
        &lt;th class=&quot;border-0&quot;&gt;Location&lt;/th&gt;
        &lt;th class=&quot;border-0&quot;&gt;Date&lt;/th&gt;
        &lt;th class=&quot;border-0&quot;&gt;Time&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;

      &lt;!-- Active step --&gt;
      &lt;tr class=&quot;step-vertical active&quot;&gt;
        &lt;th class=&quot;pe-3 position-relative border-0&quot; scope=&quot;row&quot;&gt;
          &lt;div class=&quot;step-line&quot;&gt;&lt;/div&gt;
        &lt;/th&gt;
        &lt;td class=&quot;py-3&quot;&gt;Order Placed&lt;/td&gt;
        &lt;td class=&quot;py-3&quot;&gt;New York, USA&lt;/td&gt;
        &lt;td class=&quot;py-3&quot;&gt;August 29, 2020&lt;/td&gt;
        &lt;td class=&quot;py-3&quot;&gt;2:00 pm&lt;/td&gt;
      &lt;/tr&gt;

      &lt;!-- Active step --&gt;
      &lt;tr class=&quot;step-vertical active&quot;&gt;
        &lt;th class=&quot;pe-3 position-relative border-0&quot; scope=&quot;row&quot;&gt;
          &lt;div class=&quot;step-line&quot;&gt;&lt;/div&gt;
        &lt;/th&gt;
        &lt;td class=&quot;py-3&quot;&gt;Documentation Prepared&lt;/td&gt;
        &lt;td class=&quot;py-3&quot;&gt;New York, USA&lt;/td&gt;
        &lt;td class=&quot;py-3&quot;&gt;August 29, 2020&lt;/td&gt;
        &lt;td class=&quot;py-3&quot;&gt;3:30 pm&lt;/td&gt;
      &lt;/tr&gt;

      &lt;!-- Active step --&gt;
      &lt;tr class=&quot;step-vertical active&quot;&gt;
        &lt;th class=&quot;pe-3 position-relative border-0&quot; scope=&quot;row&quot;&gt;
          &lt;div class=&quot;step-line&quot;&gt;&lt;/div&gt;
        &lt;/th&gt;
        &lt;td class=&quot;py-3&quot;&gt;Booking Arranged&lt;/td&gt;
        &lt;td class=&quot;py-3&quot;&gt;New York, USA&lt;/td&gt;
        &lt;td class=&quot;py-3&quot;&gt;August 29, 2020&lt;/td&gt;
        &lt;td class=&quot;py-3&quot;&gt;3:35 pm&lt;/td&gt;
      &lt;/tr&gt;

      &lt;!-- Active step --&gt;
      &lt;tr class=&quot;step-vertical active&quot;&gt;
        &lt;th class=&quot;pe-3 position-relative border-0&quot; scope=&quot;row&quot;&gt;
          &lt;div class=&quot;step-line&quot;&gt;&lt;/div&gt;
        &lt;/th&gt;
        &lt;td class=&quot;py-3&quot;&gt;Collected&lt;/td&gt;
        &lt;td class=&quot;py-3&quot;&gt;New York, USA&lt;/td&gt;
        &lt;td class=&quot;py-3&quot;&gt;August 29, 2020&lt;/td&gt;
        &lt;td class=&quot;py-3&quot;&gt;4:00 pm&lt;/td&gt;
      &lt;/tr&gt;

      &lt;!-- Active step --&gt;
      &lt;tr class=&quot;step-vertical active&quot;&gt;
        &lt;th class=&quot;pe-3 position-relative border-0&quot; scope=&quot;row&quot;&gt;
          &lt;div class=&quot;step-line&quot;&gt;&lt;/div&gt;
        &lt;/th&gt;
        &lt;td class=&quot;py-3&quot;&gt;In Transit to Destination&lt;/td&gt;
        &lt;td class=&quot;py-3&quot;&gt;New York, USA&lt;/td&gt;
        &lt;td class=&quot;py-3&quot;&gt;August 29, 2020&lt;/td&gt;
        &lt;td class=&quot;py-3&quot;&gt;6:00 pm&lt;/td&gt;
      &lt;/tr&gt;

      &lt;!-- Step --&gt;
      &lt;tr class=&quot;step-vertical&quot;&gt;
        &lt;th class=&quot;pe-3 position-relative border-0&quot; scope=&quot;row&quot;&gt;
          &lt;div class=&quot;step-line&quot;&gt;&lt;/div&gt;
        &lt;/th&gt;
        &lt;td class=&quot;py-3&quot;&gt;Arrived at Destination&lt;/td&gt;
        &lt;td class=&quot;py-3&quot;&gt;London, United Kingdom&lt;/td&gt;
        &lt;td class=&quot;py-3&quot;&gt;&lt;/td&gt;
        &lt;td class=&quot;py-3&quot;&gt;&lt;/td&gt;
      &lt;/tr&gt;

      &lt;!-- Step --&gt;
      &lt;tr class=&quot;step-vertical&quot;&gt;
        &lt;th class=&quot;pe-3 position-relative border-0&quot; scope=&quot;row&quot;&gt;
          &lt;div class=&quot;step-line&quot;&gt;&lt;/div&gt;
        &lt;/th&gt;
        &lt;td class=&quot;py-3&quot;&gt;Out for Delivery&lt;/td&gt;
        &lt;td class=&quot;py-3&quot;&gt;London, United Kingdom&lt;/td&gt;
        &lt;td class=&quot;py-3&quot;&gt;&lt;/td&gt;
        &lt;td class=&quot;py-3&quot;&gt;&lt;/td&gt;
      &lt;/tr&gt;

      &lt;!-- Step --&gt;
      &lt;tr class=&quot;step-vertical&quot;&gt;
        &lt;th class=&quot;pe-3 position-relative border-0&quot; scope=&quot;row&quot;&gt;
          &lt;div class=&quot;step-line&quot;&gt;&lt;/div&gt;
        &lt;/th&gt;
        &lt;td class=&quot;py-3&quot;&gt;Delivered&lt;/td&gt;
        &lt;td class=&quot;py-3&quot;&gt;London, United Kingdom&lt;/td&gt;
        &lt;td class=&quot;py-3&quot;&gt;&lt;/td&gt;
        &lt;td class=&quot;py-3&quot;&gt;&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;
</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Vertical: Navs-->
          <section class="pb-5 mb-md-2" id="step-vertical-navs">
            <h2 class="h3">Vertical: Navs</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result5" data-bs-toggle="tab" role="tab" aria-controls="result5" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html5" data-bs-toggle="tab" role="tab" aria-controls="html5" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result5" role="tabpanel">
                    <div class="steps-vertical-start" style="max-width: 35rem;"><a class="step-vertical step-vertical-nav active" href="#">
                        <div class="step-line"></div>
                        <div class="step-body">
                          <div class="step-label h3 mb-0">Present</div>
                        </div></a><a class="step-vertical step-vertical-nav" href="#">
                        <div class="step-line"></div>
                        <div class="step-body">
                          <div class="step-label h3 mb-0">March 2019</div>
                        </div></a><a class="step-vertical step-vertical-nav" href="#">
                        <div class="step-line"></div>
                        <div class="step-body">
                          <div class="step-label h3 mb-0">November 2018</div>
                        </div></a></div>
                  </div>
                  <div class="tab-pane fade" id="html5" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Vertical steps: nav --&gt;
&lt;div class=&quot;steps-vertical-start&quot;&gt;

  &lt;!-- Step --&gt;
  &lt;a class=&quot;step-vertical step-vertical-nav active&quot; href=&quot;#&quot;&gt;
    &lt;div class=&quot;step-line&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;step-body&quot;&gt;
      &lt;div class=&quot;step-label h3 mb-0&quot;&gt;Present&lt;/div&gt;
    &lt;/div&gt;
  &lt;/a&gt;

  &lt;!-- Step --&gt;
  &lt;a class=&quot;step-vertical step-vertical-nav&quot; href=&quot;#&quot;&gt;
    &lt;div class=&quot;step-line&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;step-body&quot;&gt;
      &lt;div class=&quot;step-label h3 mb-0&quot;&gt;March 2019&lt;/div&gt;
    &lt;/div&gt;
  &lt;/a&gt;

  &lt;!-- Step --&gt;
  &lt;a class=&quot;step-vertical step-vertical-nav&quot; href=&quot;#&quot;&gt;
    &lt;div class=&quot;step-line&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;step-body&quot;&gt;
      &lt;div class=&quot;step-label h3 mb-0&quot;&gt;November 2018&lt;/div&gt;
    &lt;/div&gt;
  &lt;/a&gt;
&lt;/div&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

        <!-- Quick (anchor) navigation-->
        <div class="col-xl-3 d-none d-xl-block ps-5">
          <aside class="sticky-top pt-5">
            <div class="pt-5 mt-5">
              <div class="ps-4 border-start">
                <h3 class="h5 mb-3">Jump to</h3>
                <nav class="nav nav-dark flex-column">
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#step-horizontal">Horizontal</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#step-vertical">Vertical</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#step-vertical-alignment">Vertical: Alignment</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#step-vertical-table">Vertical: Inside Table</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#step-vertical-navs">Vertical: Navs</a>
                </nav>
              </div>
            </div>
          </aside>
        </div>
      </section>
    </main>

    <!-- Back to top button-->
    <a class="btn-scroll-top" href="#top" data-scroll data-fixed-element>
      <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
      <i class="btn-scroll-top-icon ci-angle-up"></i>
    </a>

    <!-- Vendor scripts: js libraries and plugins-->
    <script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="../assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="../assets/vendor/prismjs/components/prism-core.min.js"></script>
    <script src="../assets/vendor/prismjs/components/prism-markup.min.js"></script>
    <script src="../assets/vendor/prismjs/components/prism-clike.min.js"></script>
    <script src="../assets/vendor/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="../assets/vendor/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="../assets/vendor/prismjs/plugins/line-numbers/prism-line-numbers.min.js"></script>

    <!-- Main theme script-->
    <script src="../assets/js/theme.min.js"></script>
  </body>
</html>