<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Createx UI Kit | Tables</title>

    <!-- SEO Meta Tags-->
    <meta name="description" content="Createx - Multipurpose Bootstrap Template">
    <meta name="keywords" content="bootstrap, business, creative agency, construction, services, e-commerce, shopping cart, mobile app showcase, multipurpose, shop, ui kit, marketing, seo, landing, html5, css3, javascript, gallery, slider, touch, creative">
    <meta name="author" content="Createx Studio">

    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon-16x16.png">
    <link rel="manifest" href="../assets/img/site.webmanifest">
    <link rel="mask-icon" color="#5bbad5" href="../assets/img/safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#766df4">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="../assets/vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="../assets/vendor/prismjs/themes/prism.css"/>
    <link rel="stylesheet" media="screen" href="../assets/vendor/prismjs/plugins/toolbar/prism-toolbar.css"/>
    <link rel="stylesheet" media="screen" href="../assets/vendor/prismjs/plugins/line-numbers/prism-line-numbers.css"/>

    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="../assets/css/theme.min.css">
  </head>


  <!-- Body-->
  <body>
    <main class="container-fluid">

      <!-- Main content-->
      <section class="offcanvas-enabled-start row pb-3 pb-md-4">
        <div class="col-xl-9">

          <!-- Navbar-->
          <header class="navbar navbar-expand navbar-light fixed-top navbar-shadow bg-light px-3 px-lg-4" data-scroll-header data-fixed-element>
            <a class="navbar-brand d-lg-none" href="typography.html">
              <img src="../assets/img/components/logo/logo-dark.svg" alt="Createx" width="130">
            </a>
            <button class="navbar-toggler d-block d-lg-none me-3 ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#componentsNav">
              <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav ms-auto d-none d-lg-flex align-items-center">
              <li class="nav-item">
                <a class="nav-link py-0" href="../../index.html">
                  <i class="ci-eye align-middle mt-n1 me-2"></i>
                  Live preview
                </a>
              </li>
              <li class="nav-item">
                <div class="nav-link disabled text-border px-1">|</div>
              </li>
              <li class="nav-item">
                <a class="nav-link py-0" href="../documentation/dev-setup.html">
                  <i class="ci-files align-middle mt-n1 me-2"></i>
                  Documentation
                </a>
              </li>
              <li class="nav-item">
                <div class="nav-link disabled text-border px-1">|</div>
              </li>
            </ul>
            <a href="https://themes.getbootstrap.com/product/createx-multipurpose-template-ui-kit/" class="btn btn-primary btn-hover-shadow ms-lg-4" target="_blank" rel="noopener">
              <i class="ci-cart me-2 d-none d-sm-inline-block"></i>
              Buy now
            </a>
          </header>

          <!-- Side navigation (Offcanvas)-->
          <aside class="offcanvas offcanvas-expand offcanvas-start bg-dark" id="componentsNav">
            <div class="offcanvas-header d-none d-lg-block py-4">
              <a class="navbar-brand py-2" href="typography.html">
                <img src="../assets/img/components/logo/logo-white.svg" alt="Createx" width="130">
              </a>
              <span class="badge bg-success">UI Kit</span>
            </div>
            <div class="offcanvas-header d-flex d-lg-none align-items-center">
              <div class="d-flex align-items-center mt-1">
                <h5 class="text-light mb-0 me-3">Menu</h5>
                <span class="badge bg-success">UI Kit</span>
              </div>
              <button class="btn-close btn-close-white" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="d-flex d-lg-none align-items-center py-4 px-3 border-bottom border-light">
              <a class="btn btn-primary d-block w-100 me-3" href="../../index.html"><i class="ci-eye mt-n1 me-2"></i>Preview</a>
              <a class="btn btn-warning d-block w-100 mt-0" href="../documentation/dev-setup.html"><i class="ci-files mt-n1 me-2"></i>Docs</a>
            </div>
            <div class="offcanvas-body px-0 pt-4 pb-grid-gutter" data-simplebar data-simplebar-inverse>
              <h6 class="fs-lg text-light px-4 mt-2 mb-3">Content</h6>
              <hr class="hr-gradient hr-light mt-0 mb-2 opacity-25">
              <nav class="nav nav-light">
                <a class="nav-link px-4" href="typography.html">Typography</a>
                <a class="nav-link px-4" href="icon-font.html">Icon font</a>
                <a class="nav-link px-4" href="code.html">Code</a>
                <a class="nav-link px-4" href="images.html">Images &amp; figures</a>
                <a class="nav-link px-4 active" href="tables.html">Tables</a>
              </nav>
              <h6 class="fs-lg text-light px-4 pt-1 mt-4 mb-3">Components</h6>
              <hr class="hr-gradient hr-light mt-0 mb-2 opacity-25">
              <nav class="nav nav-light">
                <a class="nav-link px-4" href="accordion.html">Accordion</a>
                <a class="nav-link px-4" href="alerts.html">Alerts</a>
                <a class="nav-link px-4" href="badge.html">Badges</a>
                <a class="nav-link px-4" href="blog-components.html">Blog components</a>
                <a class="nav-link px-4" href="breadcrumb.html">Breadcrumb</a>
                <a class="nav-link px-4" href="buttons.html">Buttons</a>
                <a class="nav-link px-4" href="button-group.html">Button group</a>
                <a class="nav-link px-4" href="cards.html">Cards</a>
                <a class="nav-link px-4" href="carousel.html">Carousel</a>
                <a class="nav-link px-4" href="collapse.html">Collapse</a>
                <a class="nav-link px-4" href="contacts-card.html">Contacts card</a>
                <a class="nav-link px-4" href="countdown.html">Countdown</a>
                <a class="nav-link px-4" href="dividers.html">Dividers</a>
                <a class="nav-link px-4" href="dropdowns.html">Dropdowns</a>
                <a class="nav-link px-4" href="forms.html">Forms</a>
                <a class="nav-link px-4" href="gallery.html">Gallery</a>
                <a class="nav-link px-4" href="icon-box.html">Icon box</a>
                <a class="nav-link px-4" href="input-group.html">Input group</a>
                <a class="nav-link px-4" href="list-group.html">List group</a>
                <a class="nav-link px-4" href="modal.html">Modal</a>
                <a class="nav-link px-4" href="navs.html">Navs</a>
                <a class="nav-link px-4" href="navbar.html">Navbar</a>
                <a class="nav-link px-4" href="offcanvas.html">Offcanvas</a>
                <a class="nav-link px-4" href="pagination.html">Pagination</a>
                <a class="nav-link px-4" href="parallax.html">Parallax</a>
                <a class="nav-link px-4" href="pills.html">Pills</a>
                <a class="nav-link px-4" href="popovers.html">Popovers</a>
                <a class="nav-link px-4" href="portfolio-components.html">Portfolio components</a>
                <a class="nav-link px-4" href="pricing.html">Pricing</a>
                <a class="nav-link px-4" href="progress-bar.html">Progress bar</a>
                <a class="nav-link px-4" href="progress-radial.html">Progress radial</a>
                <a class="nav-link px-4" href="scrollbar-custom.html">Scrollbar (custom)</a>
                <a class="nav-link px-4" href="shop-components.html">Shop components</a>
                <a class="nav-link px-4" href="social-buttons.html">Social buttons</a>
                <a class="nav-link px-4" href="spinners.html">Spinners</a>
                <a class="nav-link px-4" href="steps.html">Steps</a>
                <a class="nav-link px-4" href="tabs.html">Tabs</a>
                <a class="nav-link px-4" href="team.html">Team</a>
                <a class="nav-link px-4" href="testimonials.html">Testimonials / reviews</a>
                <a class="nav-link px-4" href="toasts.html">Toasts</a>
                <a class="nav-link px-4" href="tooltips.html">Tooltips</a>
                <a class="nav-link px-4" href="video-popup.html">Video popup</a>
                <a class="nav-link px-4" href="widgets.html">Widgets</a>
              </nav>
              <h6 class="fs-lg text-light px-4 pt-1 mt-4 mb-3">Utilities</h6>
              <hr class="hr-gradient hr-light mt-0 mb-2 opacity-25">
              <nav class="nav nav-light">
                <a class="nav-link px-4" href="https://getbootstrap.com/docs/5.0/utilities/borders/" target="_blank" rel="noopener">Bootstrap</a>
                <a class="nav-link px-4" href="utilities.html">Createx</a>
              </nav>
            </div>
          </aside>
          
          <!-- Page title-->
          <div class="border-bottom pt-5 mt-2 mb-5">
            <h1 class="mt-2 mt-md-4 mb-3 pt-5">Tables</h1>
            <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
              <p class="text-muted">Examples for opt-in styling of tables.</p>
              <p class="fs-sm fw-bold ps-md-4">
                <a class="text-nowrap" href="https://getbootstrap.com/docs/5.0/content/tables/" target="_blank" rel="noopener">
                  Bootstrap docs<i class="ci-angle-right fs-base align-middle ms-1"></i>
                </a>
              </p>
            </div>
          </div>

          <!-- Basic example-->
          <section class="pb-5 mb-md-2" id="tables-basic">
            <h2 class="h3">Basic example</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result1" data-bs-toggle="tab" role="tab" aria-controls="result1" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html1" data-bs-toggle="tab" role="tab" aria-controls="html1" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result1" role="tabpanel">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Position</th>
                            <th>Phone</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>John</td>
                            <td>Doe</td>
                            <td>CEO, Founder</td>
                            <td>+3 555 68 70</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Anna</td>
                            <td>Cabana</td>
                            <td>Designer</td>
                            <td>+3 434 65 93</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Kale</td>
                            <td>Thornton</td>
                            <td>Developer</td>
                            <td>+3 285 42 88</td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td>Jane</td>
                            <td>Birkins</td>
                            <td>Support</td>
                            <td>+3 774 28 50</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="html1" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Basic table --&gt;
&lt;div class=&quot;table-responsive&quot;&gt;
  &lt;table class=&quot;table&quot;&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th&gt;#&lt;/th&gt;
        &lt;th&gt;First Name&lt;/th&gt;
        &lt;th&gt;Last Name&lt;/th&gt;
        &lt;th&gt;Position&lt;/th&gt;
        &lt;th&gt;Phone&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
        &lt;td&gt;John&lt;/td&gt;
        &lt;td&gt;Doe&lt;/td&gt;
        &lt;td&gt;CEO, Founder&lt;/td&gt;
        &lt;td&gt;+3 555 68 70&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
        &lt;td&gt;Anna&lt;/td&gt;
        &lt;td&gt;Cabana&lt;/td&gt;
        &lt;td&gt;Designer&lt;/td&gt;
        &lt;td&gt;+3 434 65 93&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
        &lt;td&gt;Kale&lt;/td&gt;
        &lt;td&gt;Thornton&lt;/td&gt;
        &lt;td&gt;Developer&lt;/td&gt;
        &lt;td&gt;+3 285 42 88&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th scope=&quot;row&quot;&gt;4&lt;/th&gt;
        &lt;td&gt;Jane&lt;/td&gt;
        &lt;td&gt;Birkins&lt;/td&gt;
        &lt;td&gt;Support&lt;/td&gt;
        &lt;td&gt;+3 774 28 50&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Dark table-->
          <section class="pb-5 mb-md-2" id="tables-dark">
            <h2 class="h3">Dark table</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result2" data-bs-toggle="tab" role="tab" aria-controls="result2" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html2" data-bs-toggle="tab" role="tab" aria-controls="html2" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result2" role="tabpanel">
                    <div class="table-responsive">
                      <table class="table table-dark">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Position</th>
                            <th>Phone</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>John</td>
                            <td>Doe</td>
                            <td>CEO, Founder</td>
                            <td>+3 555 68 70</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Anna</td>
                            <td>Cabana</td>
                            <td>Designer</td>
                            <td>+3 434 65 93</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Kale</td>
                            <td>Thornton</td>
                            <td>Developer</td>
                            <td>+3 285 42 88</td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td>Jane</td>
                            <td>Birkins</td>
                            <td>Support</td>
                            <td>+3 774 28 50</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="html2" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Dark table --&gt;
&lt;div class=&quot;table-responsive&quot;&gt;
  &lt;table class=&quot;table table-dark&quot;&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th&gt;#&lt;/th&gt;
        &lt;th&gt;First Name&lt;/th&gt;
        &lt;th&gt;Last Name&lt;/th&gt;
        &lt;th&gt;Position&lt;/th&gt;
        &lt;th&gt;Phone&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
        &lt;td&gt;John&lt;/td&gt;
        &lt;td&gt;Doe&lt;/td&gt;
        &lt;td&gt;CEO, Founder&lt;/td&gt;
        &lt;td&gt;+3 555 68 70&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
        &lt;td&gt;Anna&lt;/td&gt;
        &lt;td&gt;Cabana&lt;/td&gt;
        &lt;td&gt;Designer&lt;/td&gt;
        &lt;td&gt;+3 434 65 93&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
        &lt;td&gt;Kale&lt;/td&gt;
        &lt;td&gt;Thornton&lt;/td&gt;
        &lt;td&gt;Developer&lt;/td&gt;
        &lt;td&gt;+3 285 42 88&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th scope=&quot;row&quot;&gt;4&lt;/th&gt;
        &lt;td&gt;Jane&lt;/td&gt;
        &lt;td&gt;Birkins&lt;/td&gt;
        &lt;td&gt;Support&lt;/td&gt;
        &lt;td&gt;+3 774 28 50&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Striped rows-->
          <section class="pb-5 mb-md-2" id="tables-striped-rows">
            <h2 class="h3">Striped rows</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result4" data-bs-toggle="tab" role="tab" aria-controls="result4" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html4" data-bs-toggle="tab" role="tab" aria-controls="html4" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result4" role="tabpanel">
                    <div class="table-responsive mb-3">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Position</th>
                            <th>Phone</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>John</td>
                            <td>Doe</td>
                            <td>CEO, Founder</td>
                            <td>+3 555 68 70</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Anna</td>
                            <td>Cabana</td>
                            <td>Designer</td>
                            <td>+3 434 65 93</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Kale</td>
                            <td>Thornton</td>
                            <td>Developer</td>
                            <td>+3 285 42 88</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="table-responsive">
                      <table class="table table-dark table-striped">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Position</th>
                            <th>Phone</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>John</td>
                            <td>Doe</td>
                            <td>CEO, Founder</td>
                            <td>+3 555 68 70</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Anna</td>
                            <td>Cabana</td>
                            <td>Designer</td>
                            <td>+3 434 65 93</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Kale</td>
                            <td>Thornton</td>
                            <td>Developer</td>
                            <td>+3 285 42 88</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>                    
                  </div>
                  <div class="tab-pane fade" id="html4" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Light table with striped rows --&gt;
&lt;div class=&quot;table-responsive&quot;&gt;
  &lt;table class=&quot;table table-striped&quot;&gt;
    &lt;thead;&gt;
      &lt;tr&gt;
        &lt;th&gt;#&lt;/th&gt;
        &lt;th&gt;First Name&lt;/th&gt;
        &lt;th&gt;Last Name&lt;/th&gt;
        &lt;th&gt;Position&lt;/th&gt;
        &lt;th&gt;Phone&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
        &lt;td&gt;John&lt;/td&gt;
        &lt;td&gt;Doe&lt;/td&gt;
        &lt;td&gt;CEO, Founder&lt;/td&gt;
        &lt;td&gt;+3 555 68 70&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
        &lt;td&gt;Anna&lt;/td&gt;
        &lt;td&gt;Cabana&lt;/td&gt;
        &lt;td&gt;Designer&lt;/td&gt;
        &lt;td&gt;+3 434 65 93&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
        &lt;td&gt;Kale&lt;/td&gt;
        &lt;td&gt;Thornton&lt;/td&gt;
        &lt;td&gt;Developer&lt;/td&gt;
        &lt;td&gt;+3 285 42 88&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;

&lt;!-- Dark table with striped rows --&gt;
&lt;div class=&quot;table-responsive&quot;&gt;
  &lt;table class=&quot;table table-dark table-striped&quot;&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th&gt;#&lt;/th&gt;
        &lt;th&gt;First Name&lt;/th&gt;
        &lt;th&gt;Last Name&lt;/th&gt;
        &lt;th&gt;Position&lt;/th&gt;
        &lt;th&gt;Phone&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
        &lt;td&gt;John&lt;/td&gt;
        &lt;td&gt;Doe&lt;/td&gt;
        &lt;td&gt;CEO, Founder&lt;/td&gt;
        &lt;td&gt;+3 555 68 70&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
        &lt;td&gt;Anna&lt;/td&gt;
        &lt;td&gt;Cabana&lt;/td&gt;
        &lt;td&gt;Designer&lt;/td&gt;
        &lt;td&gt;+3 434 65 93&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
        &lt;td&gt;Kale&lt;/td&gt;
        &lt;td&gt;Thornton&lt;/td&gt;
        &lt;td&gt;Developer&lt;/td&gt;
        &lt;td&gt;+3 285 42 88&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Bordered table-->
          <section class="pb-5 mb-md-2" id="tables-bordered">
            <h2 class="h3">Bordered table</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result5" data-bs-toggle="tab" role="tab" aria-controls="result5" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html5" data-bs-toggle="tab" role="tab" aria-controls="html5" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result5" role="tabpanel">
                    <div class="table-responsive mb-3">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Position</th>
                            <th>Phone</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>John</td>
                            <td>Doe</td>
                            <td>CEO, Founder</td>
                            <td>+3 555 68 70</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Anna</td>
                            <td>Cabana</td>
                            <td>Designer</td>
                            <td>+3 434 65 93</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Kale</td>
                            <td>Thornton</td>
                            <td>Developer</td>
                            <td>+3 285 42 88</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="table-responsive">
                      <table class="table table-dark table-bordered">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Position</th>
                            <th>Phone</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>John</td>
                            <td>Doe</td>
                            <td>CEO, Founder</td>
                            <td>+3 555 68 70</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Anna</td>
                            <td>Cabana</td>
                            <td>Designer</td>
                            <td>+3 434 65 93</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Kale</td>
                            <td>Thornton</td>
                            <td>Developer</td>
                            <td>+3 285 42 88</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="html5" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Light bordered table --&gt;
&lt;div class=&quot;table-responsive&quot;&gt;
  &lt;table class=&quot;table table-bordered&quot;&gt;
    &lt;thead;&gt;
      &lt;tr&gt;
        &lt;th&gt;#&lt;/th&gt;
        &lt;th&gt;First Name&lt;/th&gt;
        &lt;th&gt;Last Name&lt;/th&gt;
        &lt;th&gt;Position&lt;/th&gt;
        &lt;th&gt;Phone&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
        &lt;td&gt;John&lt;/td&gt;
        &lt;td&gt;Doe&lt;/td&gt;
        &lt;td&gt;CEO, Founder&lt;/td&gt;
        &lt;td&gt;+3 555 68 70&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
        &lt;td&gt;Anna&lt;/td&gt;
        &lt;td&gt;Cabana&lt;/td&gt;
        &lt;td&gt;Designer&lt;/td&gt;
        &lt;td&gt;+3 434 65 93&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
        &lt;td&gt;Kale&lt;/td&gt;
        &lt;td&gt;Thornton&lt;/td&gt;
        &lt;td&gt;Developer&lt;/td&gt;
        &lt;td&gt;+3 285 42 88&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;

&lt;!-- Dark bordered table --&gt;
&lt;div class=&quot;table-responsive&quot;&gt;
  &lt;table class=&quot;table table-dark table-bordered&quot;&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th&gt;#&lt;/th&gt;
        &lt;th&gt;First Name&lt;/th&gt;
        &lt;th&gt;Last Name&lt;/th&gt;
        &lt;th&gt;Position&lt;/th&gt;
        &lt;th&gt;Phone&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
        &lt;td&gt;John&lt;/td&gt;
        &lt;td&gt;Doe&lt;/td&gt;
        &lt;td&gt;CEO, Founder&lt;/td&gt;
        &lt;td&gt;+3 555 68 70&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
        &lt;td&gt;Anna&lt;/td&gt;
        &lt;td&gt;Cabana&lt;/td&gt;
        &lt;td&gt;Designer&lt;/td&gt;
        &lt;td&gt;+3 434 65 93&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
        &lt;td&gt;Kale&lt;/td&gt;
        &lt;td&gt;Thornton&lt;/td&gt;
        &lt;td&gt;Developer&lt;/td&gt;
        &lt;td&gt;+3 285 42 88&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Hoverable rows-->
          <section class="pb-5 mb-md-2" id="tables-hoverable">
            <h2 class="h3">Hoverable rows</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result6" data-bs-toggle="tab" role="tab" aria-controls="result6" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html6" data-bs-toggle="tab" role="tab" aria-controls="html6" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result6" role="tabpanel">
                    <div class="table-responsive mb-3">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Position</th>
                            <th>Phone</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>John</td>
                            <td>Doe</td>
                            <td>CEO, Founder</td>
                            <td>+3 555 68 70</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Anna</td>
                            <td>Cabana</td>
                            <td>Designer</td>
                            <td>+3 434 65 93</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Kale</td>
                            <td>Thornton</td>
                            <td>Developer</td>
                            <td>+3 285 42 88</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="table-responsive">
                      <table class="table table-dark table-hover">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Position</th>
                            <th>Phone</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>John</td>
                            <td>Doe</td>
                            <td>CEO, Founder</td>
                            <td>+3 555 68 70</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Anna</td>
                            <td>Cabana</td>
                            <td>Designer</td>
                            <td>+3 434 65 93</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Kale</td>
                            <td>Thornton</td>
                            <td>Developer</td>
                            <td>+3 285 42 88</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="html6" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Light table with hoverable rows --&gt;
&lt;div class=&quot;table-responsive&quot;&gt;
  &lt;table class=&quot;table table-hover&quot;&gt;
    &lt;thead;&gt;
      &lt;tr&gt;
        &lt;th&gt;#&lt;/th&gt;
        &lt;th&gt;First Name&lt;/th&gt;
        &lt;th&gt;Last Name&lt;/th&gt;
        &lt;th&gt;Position&lt;/th&gt;
        &lt;th&gt;Phone&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
        &lt;td&gt;John&lt;/td&gt;
        &lt;td&gt;Doe&lt;/td&gt;
        &lt;td&gt;CEO, Founder&lt;/td&gt;
        &lt;td&gt;+3 555 68 70&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
        &lt;td&gt;Anna&lt;/td&gt;
        &lt;td&gt;Cabana&lt;/td&gt;
        &lt;td&gt;Designer&lt;/td&gt;
        &lt;td&gt;+3 434 65 93&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
        &lt;td&gt;Kale&lt;/td&gt;
        &lt;td&gt;Thornton&lt;/td&gt;
        &lt;td&gt;Developer&lt;/td&gt;
        &lt;td&gt;+3 285 42 88&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;

&lt;!-- Dark table with hoverable rows --&gt;
&lt;div class=&quot;table-responsive&quot;&gt;
  &lt;table class=&quot;table table-dark table-hover&quot;&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th&gt;#&lt;/th&gt;
        &lt;th&gt;First Name&lt;/th&gt;
        &lt;th&gt;Last Name&lt;/th&gt;
        &lt;th&gt;Position&lt;/th&gt;
        &lt;th&gt;Phone&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
        &lt;td&gt;John&lt;/td&gt;
        &lt;td&gt;Doe&lt;/td&gt;
        &lt;td&gt;CEO, Founder&lt;/td&gt;
        &lt;td&gt;+3 555 68 70&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
        &lt;td&gt;Anna&lt;/td&gt;
        &lt;td&gt;Cabana&lt;/td&gt;
        &lt;td&gt;Designer&lt;/td&gt;
        &lt;td&gt;+3 434 65 93&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
        &lt;td&gt;Kale&lt;/td&gt;
        &lt;td&gt;Thornton&lt;/td&gt;
        &lt;td&gt;Developer&lt;/td&gt;
        &lt;td&gt;+3 285 42 88&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Contextual colors-->
          <section class="pb-5 mb-md-2" id="tables-contextual">
            <h2 class="h3">Contextual colors</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result7" data-bs-toggle="tab" role="tab" aria-controls="result7" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html7" data-bs-toggle="tab" role="tab" aria-controls="html7" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result7" role="tabpanel">
                    <div class="table-responsive mb-3">
                      <table class="table table-bordered border-primary">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Position</th>
                            <th>Phone</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>John</td>
                            <td>Doe</td>
                            <td>CEO, Founder</td>
                            <td>+3 555 68 70</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Anna</td>
                            <td>Cabana</td>
                            <td>Designer</td>
                            <td>+3 434 65 93</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="table-responsive">
                      <table class="table table-bordered border-danger">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Position</th>
                            <th>Phone</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>John</td>
                            <td>Doe</td>
                            <td>CEO, Founder</td>
                            <td>+3 555 68 70</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Anna</td>
                            <td>Cabana</td>
                            <td>Designer</td>
                            <td>+3 434 65 93</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>                    
                  </div>
                  <div class="tab-pane fade" id="html7" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Color borders on tables --&gt;
&lt;table class=&quot;table table-bordered border-primary&quot;&gt;
  ...
&lt;/table&gt;
&lt;table class=&quot;table table-bordered border-danger&quot;&gt;
  ...
&lt;/table&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

        <!-- Quick (anchor) navigation-->
        <div class="col-xl-3 d-none d-xl-block ps-5">
          <aside class="sticky-top pt-5">
            <div class="pt-5 mt-5">
              <div class="ps-4 border-start">
                <h3 class="h5 mb-3">Jump to</h3>
                <nav class="nav nav-dark flex-column">
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#tables-basic">Basic example</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#tables-dark">Dark table</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#tables-head-options">Table head options</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#tables-striped-rows">Striped rows</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#tables-bordered">Bordered table</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#tables-hoverable">Hoverable rows</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#tables-contextual">Contextual colors</a>
                </nav>
              </div>
            </div>
          </aside>
        </div>
      </section>
    </main>

    <!-- Back to top button-->
    <a class="btn-scroll-top" href="#top" data-scroll data-fixed-element>
      <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
      <i class="btn-scroll-top-icon ci-angle-up"></i>
    </a>

    <!-- Vendor scripts: js libraries and plugins-->
    <script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="../assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="../assets/vendor/prismjs/components/prism-core.min.js"></script>
    <script src="../assets/vendor/prismjs/components/prism-markup.min.js"></script>
    <script src="../assets/vendor/prismjs/components/prism-clike.min.js"></script>
    <script src="../assets/vendor/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="../assets/vendor/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="../assets/vendor/prismjs/plugins/line-numbers/prism-line-numbers.min.js"></script>

    <!-- Main theme script-->
    <script src="../assets/js/theme.min.js"></script>
  </body>
</html>