<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Createx UI Kit | Widgets</title>

    <!-- SEO Meta Tags-->
    <meta name="description" content="Createx - Multipurpose Bootstrap Template">
    <meta name="keywords" content="bootstrap, business, creative agency, construction, services, e-commerce, shopping cart, mobile app showcase, multipurpose, shop, ui kit, marketing, seo, landing, html5, css3, javascript, gallery, slider, touch, creative">
    <meta name="author" content="Createx Studio">

    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon-16x16.png">
    <link rel="manifest" href="../assets/img/site.webmanifest">
    <link rel="mask-icon" color="#5bbad5" href="../assets/img/safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#766df4">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="../assets/vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="../assets/vendor/prismjs/themes/prism.css"/>
    <link rel="stylesheet" media="screen" href="../assets/vendor/prismjs/plugins/toolbar/prism-toolbar.css"/>
    <link rel="stylesheet" media="screen" href="../assets/vendor/prismjs/plugins/line-numbers/prism-line-numbers.css"/>
    <link rel="stylesheet" media="screen" href="../assets/vendor/nouislider/dist/nouislider.min.css"/>
    <link rel="stylesheet" media="screen" href="../assets/vendor/tiny-slider/dist/tiny-slider.css"/>

    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="../assets/css/theme.min.css">
  </head>


  <!-- Body-->
  <body>
    <main class="container-fluid">

      <!-- Main content-->
      <section class="offcanvas-enabled-start row pb-3 pb-md-4">
        <div class="col-xl-9">

          <!-- Navbar-->
          <header class="navbar navbar-expand navbar-light fixed-top navbar-shadow bg-light px-3 px-lg-4" data-scroll-header data-fixed-element>
            <a class="navbar-brand d-lg-none" href="typography.html">
              <img src="../assets/img/components/logo/logo-dark.svg" alt="Createx" width="130">
            </a>
            <button class="navbar-toggler d-block d-lg-none me-3 ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#componentsNav">
              <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav ms-auto d-none d-lg-flex align-items-center">
              <li class="nav-item">
                <a class="nav-link py-0" href="../../index.html">
                  <i class="ci-eye align-middle mt-n1 me-2"></i>
                  Live preview
                </a>
              </li>
              <li class="nav-item">
                <div class="nav-link disabled text-border px-1">|</div>
              </li>
              <li class="nav-item">
                <a class="nav-link py-0" href="../documentation/dev-setup.html">
                  <i class="ci-files align-middle mt-n1 me-2"></i>
                  Documentation
                </a>
              </li>
              <li class="nav-item">
                <div class="nav-link disabled text-border px-1">|</div>
              </li>
            </ul>
            <a href="https://themes.getbootstrap.com/product/createx-multipurpose-template-ui-kit/" class="btn btn-primary btn-hover-shadow ms-lg-4" target="_blank" rel="noopener">
              <i class="ci-cart me-2 d-none d-sm-inline-block"></i>
              Buy now
            </a>
          </header>

          <!-- Side navigation (Offcanvas)-->
          <aside class="offcanvas offcanvas-expand offcanvas-start bg-dark" id="componentsNav">
            <div class="offcanvas-header d-none d-lg-block py-4">
              <a class="navbar-brand py-2" href="typography.html">
                <img src="../assets/img/components/logo/logo-white.svg" alt="Createx" width="130">
              </a>
              <span class="badge bg-success">UI Kit</span>
            </div>
            <div class="offcanvas-header d-flex d-lg-none align-items-center">
              <div class="d-flex align-items-center mt-1">
                <h5 class="text-light mb-0 me-3">Menu</h5>
                <span class="badge bg-success">UI Kit</span>
              </div>
              <button class="btn-close btn-close-white" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="d-flex d-lg-none align-items-center py-4 px-3 border-bottom border-light">
              <a class="btn btn-primary d-block w-100 me-3" href="../../index.html"><i class="ci-eye mt-n1 me-2"></i>Preview</a>
              <a class="btn btn-warning d-block w-100 mt-0" href="../documentation/dev-setup.html"><i class="ci-files mt-n1 me-2"></i>Docs</a>
            </div>
            <div class="offcanvas-body px-0 pt-4 pb-grid-gutter" data-simplebar data-simplebar-inverse>
              <h6 class="fs-lg text-light px-4 mt-2 mb-3">Content</h6>
              <hr class="hr-gradient hr-light mt-0 mb-2 opacity-25">
              <nav class="nav nav-light">
                <a class="nav-link px-4" href="typography.html">Typography</a>
                <a class="nav-link px-4" href="icon-font.html">Icon font</a>
                <a class="nav-link px-4" href="code.html">Code</a>
                <a class="nav-link px-4" href="images.html">Images &amp; figures</a>
                <a class="nav-link px-4" href="tables.html">Tables</a>
              </nav>
              <h6 class="fs-lg text-light px-4 pt-1 mt-4 mb-3">Components</h6>
              <hr class="hr-gradient hr-light mt-0 mb-2 opacity-25">
              <nav class="nav nav-light">
                <a class="nav-link px-4" href="accordion.html">Accordion</a>
                <a class="nav-link px-4" href="alerts.html">Alerts</a>
                <a class="nav-link px-4" href="badge.html">Badges</a>
                <a class="nav-link px-4" href="blog-components.html">Blog components</a>
                <a class="nav-link px-4" href="breadcrumb.html">Breadcrumb</a>
                <a class="nav-link px-4" href="buttons.html">Buttons</a>
                <a class="nav-link px-4" href="button-group.html">Button group</a>
                <a class="nav-link px-4" href="cards.html">Cards</a>
                <a class="nav-link px-4" href="carousel.html">Carousel</a>
                <a class="nav-link px-4" href="collapse.html">Collapse</a>
                <a class="nav-link px-4" href="contacts-card.html">Contacts card</a>
                <a class="nav-link px-4" href="countdown.html">Countdown</a>
                <a class="nav-link px-4" href="dividers.html">Dividers</a>
                <a class="nav-link px-4" href="dropdowns.html">Dropdowns</a>
                <a class="nav-link px-4" href="forms.html">Forms</a>
                <a class="nav-link px-4" href="gallery.html">Gallery</a>
                <a class="nav-link px-4" href="icon-box.html">Icon box</a>
                <a class="nav-link px-4" href="input-group.html">Input group</a>
                <a class="nav-link px-4" href="list-group.html">List group</a>
                <a class="nav-link px-4" href="modal.html">Modal</a>
                <a class="nav-link px-4" href="navs.html">Navs</a>
                <a class="nav-link px-4" href="navbar.html">Navbar</a>
                <a class="nav-link px-4" href="offcanvas.html">Offcanvas</a>
                <a class="nav-link px-4" href="pagination.html">Pagination</a>
                <a class="nav-link px-4" href="parallax.html">Parallax</a>
                <a class="nav-link px-4" href="pills.html">Pills</a>
                <a class="nav-link px-4" href="popovers.html">Popovers</a>
                <a class="nav-link px-4" href="portfolio-components.html">Portfolio components</a>
                <a class="nav-link px-4" href="pricing.html">Pricing</a>
                <a class="nav-link px-4" href="progress-bar.html">Progress bar</a>
                <a class="nav-link px-4" href="progress-radial.html">Progress radial</a>
                <a class="nav-link px-4" href="scrollbar-custom.html">Scrollbar (custom)</a>
                <a class="nav-link px-4" href="shop-components.html">Shop components</a>
                <a class="nav-link px-4" href="social-buttons.html">Social buttons</a>
                <a class="nav-link px-4" href="spinners.html">Spinners</a>
                <a class="nav-link px-4" href="steps.html">Steps</a>
                <a class="nav-link px-4" href="tabs.html">Tabs</a>
                <a class="nav-link px-4" href="team.html">Team</a>
                <a class="nav-link px-4" href="testimonials.html">Testimonials / reviews</a>
                <a class="nav-link px-4" href="toasts.html">Toasts</a>
                <a class="nav-link px-4" href="tooltips.html">Tooltips</a>
                <a class="nav-link px-4" href="video-popup.html">Video popup</a>
                <a class="nav-link px-4 active" href="widgets.html">Widgets</a>
              </nav>
              <h6 class="fs-lg text-light px-4 pt-1 mt-4 mb-3">Utilities</h6>
              <hr class="hr-gradient hr-light mt-0 mb-2 opacity-25">
              <nav class="nav nav-light">
                <a class="nav-link px-4" href="https://getbootstrap.com/docs/5.0/utilities/borders/" target="_blank" rel="noopener">Bootstrap</a>
                <a class="nav-link px-4" href="utilities.html">Createx</a>
              </nav>
            </div>
          </aside>

          <!-- Page title-->
          <div class="border-bottom pt-5 mt-2 mb-5">
            <h1 class="mt-2 mt-md-4 mb-3 pt-5">Widgets</h1>
            <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
              <p class="text-muted">Collection of tiny components to use inside sidebar area.</p>
              <div class="ps-md-4 mb-3"><span class="badge bg-success">Createx component</span></div>
            </div>
          </div>

          <!-- Info alert -->
          <div class="alert alert-info mb-5" role="alert">
            <div class="d-flex"><i class="ci-info lead mt-1 me-3 d-none d-sm-block"></i>
              <p class="mb-0"><strong>Range slider</strong> widget depends on <strong>noUISlider plugin</strong>. Make sure to link to <strong>noUISlider css and js</strong> files in your document: <strong>assets/vendor/nouislider/dist/nouislider.min.css</strong> and <strong>assets/vendor/nouislider/dist/nouislider.min.js</strong>. Use this page as a reference.</p>
            </div>
          </div>

          <!-- Featured entries list-->
          <section class="pb-5 mb-md-2" id="widget-entries-list">
            <h2 class="h3">Featured entries list</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result1" data-bs-toggle="tab" role="tab" aria-controls="result1" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html1" data-bs-toggle="tab" role="tab" aria-controls="html1" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result1" role="tabpanel">
                    <div class="widget" style="max-width: 21rem;">
                      <h3 class="h4">Recent posts</h3>
                      <ul class="nav">
                        <li class="d-flex align-items-start image-scale mb-4"><a class="flex-shrink-0 image-inner me-3 rounded" style="width: 100px;" href="#"><img src="../assets/img/components/widgets/featured-entries/01.jpg" alt="Media"></a>
                          <div class="ps-1"><span class="d-block mb-1 fs-sm text-muted"> <i class="ci-clock fs-base align-middle mt-n1 me-2"></i>July 5, 2020</span>
                            <h4 class="h6 mb-1"><a class="nav-link" href="#">5 Surprising Ways to Combine Content Marketing with PPC</a></h4>
                          </div>
                        </li>
                        <li class="d-flex align-items-start image-scale mb-4"><a class="flex-shrink-0 image-inner me-3 rounded" style="width: 100px;" href="#"><img src="../assets/img/components/widgets/featured-entries/02.jpg" alt="Media"></a>
                          <div class="ps-1"><span class="d-block mb-1 fs-sm text-muted"> <i class="ci-clock fs-base align-middle mt-n1 me-2"></i>April 9, 2020</span>
                            <h4 class="h6 mb-1"><a class="nav-link" href="#">Why SEO Is All About Content Marketing?</a></h4>
                          </div>
                        </li>
                        <li class="d-flex align-items-start image-scale mb-4"><a class="flex-shrink-0 image-inner me-3 rounded" style="width: 100px;" href="#"><img src="../assets/img/components/widgets/featured-entries/03.jpg" alt="Media"></a>
                          <div class="ps-1"><span class="d-block mb-1 fs-sm text-muted"> <i class="ci-clock fs-base align-middle mt-n1 me-2"></i>March 12, 2020</span>
                            <h4 class="h6 mb-1"><a class="nav-link" href="#">10 tips for a small business digital marketing strategy</a></h4>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="html1" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Widget: Featured entries list --&gt;
&lt;div class=&quot;widget&quot;&gt;
  &lt;h3 class=&quot;h4&quot;&gt;Recent posts&lt;/h3&gt;
  &lt;ul class=&quot;list-unstyled&quot;&gt;

    &lt;!-- Item --&gt;
    &lt;li class=&quot;image-scale d-flex align-items-start mb-4&quot;&gt;
      &lt;a class=&quot;flex-shrink-0 image-inner rounded me-3&quot; style="width: 100px;" href=&quot;#&quot;&gt;
        &lt;img src=&quot;path-to-image&quot; alt=&quot;Media&quot;&gt;
      &lt;/a&gt;
      &lt;div class=&quot;ps-1&quot;&gt;
        &lt;span class=&quot;d-block mb-1 fs-sm text-muted&quot;&gt;
          &lt;i class=&quot;ci-clock fs-base align-middle mt-n1 me-2&quot;&gt;&lt;/i&gt;
          July 5, 2020
        &lt;/span&gt;
        &lt;h4 class=&quot;h6 mb-1 nav-dark&quot;&gt;
          &lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;5 Surprising Ways to Combine Content Marketing with PPC&lt;/a&gt;
        &lt;/h4&gt;
      &lt;/div&gt;
    &lt;/li&gt;

    &lt;!-- Item --&gt;
    &lt;li class=&quot;image-scale d-flex align-items-start mb-4&quot;&gt;
      &lt;a class=&quot;flex-shrink-0 image-inner rounded me-3&quot; style="width: 100px;" href=&quot;#&quot;&gt;
        &lt;img src=&quot;path-to-image&quot; alt=&quot;Media&quot;&gt;
      &lt;/a&gt;
      &lt;div class=&quot;ps-1&quot;&gt;
        &lt;span class=&quot;d-block mb-1 fs-sm text-muted&quot;&gt;
          &lt;i class=&quot;ci-clock fs-base align-middle mt-n1 me-2&quot;&gt;&lt;/i&gt;
          April 9, 2020
        &lt;/span&gt;
        &lt;h4 class=&quot;h6 mb-1 nav-dark&quot;&gt;
          &lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;Why SEO Is All About Content Marketing?&lt;/a&gt;
        &lt;/h4&gt;
      &lt;/div&gt;
    &lt;/li&gt;

    &lt;!-- Item --&gt;
    &lt;li class=&quot;image-scale d-flex align-items-start mb-4&quot;&gt;
      &lt;a class=&quot;flex-shrink-0 image-inner rounded me-3&quot; style="width: 100px;" href=&quot;#&quot;&gt;
        &lt;img src=&quot;path-to-image&quot; alt=&quot;Media&quot;&gt;
      &lt;/a&gt;
      &lt;div class=&quot;ps-1&quot;&gt;
        &lt;span class=&quot;d-block mb-1 fs-sm text-muted&quot;&gt;
          &lt;i class=&quot;ci-clock fs-base align-middle mt-n1 me-2&quot;&gt;&lt;/i&gt;
          March 12, 2020
        &lt;/span&gt;
        &lt;h4 class=&quot;h6 mb-1 nav-dark&quot;&gt;
          &lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;10 tips for a small business digital marketing strategy&lt;/a&gt;
        &lt;/h4&gt;
      &lt;/div&gt;
    &lt;/li&gt;

    &lt;!-- Add as many items as you need --&gt;
  &lt;/ul&gt;
&lt;/div&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Categories-->
          <section class="pb-5 mb-md-2" id="widget-categories">
            <h2 class="h3">Categories</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result2" data-bs-toggle="tab" role="tab" aria-controls="result2" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html2" data-bs-toggle="tab" role="tab" aria-controls="html2" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result2" role="tabpanel">
                    <div class="widget widget-categories" style="max-width: 21rem;">
                      <h3 class="h4">Categories</h3>
                      <ul class="nav nav-dark">
                        <li>
                          <a class="nav-link" href="#">
                            <span>All</span>
                            <span class="ps-2 fw-normal text-muted">25</span>
                          </a>
                        </li>
                        <li>
                          <a class="nav-link" href="#">
                            <span>Media &amp; Press</span>
                            <span class="ps-2 fw-normal text-muted">3</span>
                          </a>
                        </li>
                        <li>
                          <a class="nav-link" href="#">
                            <span>Ad Tips</span>
                            <span class="ps-2 fw-normal text-muted">7</span>
                          </a>
                        </li>
                        <li>
                          <ul class="nav">
                            <li><a class="nav-link" href="#"><span class="fw-normal">First subcategory</span></a></li>
                            <li><a class="nav-link" href="#"><span class="fw-normal">Second subcategory</span></a></li>
                            <li><a class="nav-link" href="#"><span class="fw-normal">Another subcategory</span></a></li>
                            <li><a class="nav-link" href="#"><span class="fw-normal">Another one subcategory</span></a></li>
                            <li>
                              <ul class="nav">
                                <li><a class="nav-link" href="#">First sub-subcategory</a></li>
                                <li><a class="nav-link" href="#">Second sub-subcategory</a></li>
                                <li><a class="nav-link" href="#">Another sub-subcategory</a></li>
                                <li><a class="nav-link" href="#">Another one sub-subcategory</a></li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a class="nav-link" href="#">
                            <span>SEO</span>
                            <span class="ps-2 fw-normal text-muted">9</span>
                          </a>
                        </li>
                        <li>
                          <a class="nav-link" href="#">
                            <span>Paid Search</span>
                            <span class="ps-2 fw-normal text-muted">2</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="html2" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Widget: Categories --&gt;
&lt;div class=&quot;widget widget-categories&quot;&gt;
  &lt;h3 class=&quot;h4&quot;&gt;Categories&lt;/h3&gt;
  &lt;ul class=&quot;nav nav-dark&quot;&gt;
    &lt;li&gt;
      &lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;
        &lt;span&gt;All&lt;/span&gt;
        &lt;span class=&quot;ps-2 fw-normal text-muted&quot;&gt;25&lt;/span&gt;
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;
        &lt;span&gt;Media &amp;amp; Press&lt;/span&gt;
        &lt;span class=&quot;ps-2 fw-normal text-muted&quot;&gt;3&lt;/span&gt;
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;
        &lt;span&gt;Ad Tips&lt;/span&gt;
        &lt;span class=&quot;ps-2 fw-normal text-muted&quot;&gt;7&lt;/span&gt;
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;ul class=&quot;nav&quot;&gt;
        &lt;li&gt;
          &lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;
            &lt;span class=&quot;fw-normal&quot;&gt;First subcategory&lt;/span&gt;
          &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;
            &lt;span class=&quot;fw-normal&quot;&gt;Second subcategory&lt;/span&gt;
          &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;
            &lt;span class=&quot;fw-normal&quot;&gt;Another subcategory&lt;/span&gt;
          &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;
            &lt;span class=&quot;fw-normal&quot;&gt;Another one subcategory&lt;/span&gt;
          &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;ul class=&quot;nav&quot;&gt;
            &lt;li&gt;
              &lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;First sub-subcategory&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;
              &lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;Second sub-subcategory&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;
              &lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;Another sub-subcategory&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;
              &lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;Another one sub-subcategory&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;
        &lt;span&gt;SEO&lt;/span&gt;
        &lt;span class=&quot;ps-2 fw-normal text-muted&quot;&gt;9&lt;/span&gt;
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;
        &lt;span&gt;Paid Search&lt;/span&gt;
        &lt;span class=&quot;ps-2 fw-normal text-muted&quot;&gt;2&lt;/span&gt;
      &lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Searchable data list-->
          <section class="pb-5 mb-md-2" id="widget-data-list">
            <h2 class="h3">Searchable data list</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result3" data-bs-toggle="tab" role="tab" aria-controls="result3" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html3" data-bs-toggle="tab" role="tab" aria-controls="html3" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result3" role="tabpanel">
                    <div class="widget" style="max-width: 21rem;">
                      <h3 class="h4">Material</h3>
                      <div class="widget-data-list filter">
                        <div class="position-relative mb-3">
                          <input class="filter-search form-control form-control-sm pe-5" type="text" placeholder="Search the material">
                          <i class="ci-search fs-sm position-absolute top-50 end-0 translate-middle-y me-3 zindex-5"></i>
                        </div>
                        <ul class="filter-list list-unstyled pe-3" style="height: 12rem;" data-simplebar data-simplebar-auto-hide="false">
                          <li class="filter-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="material-1">
                              <label class="form-check-label" for="material-1"><span class="filter-item-text">Cotton</span><span class="ps-1 text-muted">(162)</span></label>
                            </div>
                          </li>
                          <li class="filter-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="material-2">
                              <label class="form-check-label" for="material-2"><span class="filter-item-text">Synthetics</span><span class="ps-1 text-muted">(12)</span></label>
                            </div>
                          </li>
                          <li class="filter-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="material-3">
                              <label class="form-check-label" for="material-3"><span class="filter-item-text">Nappa leather</span><span class="ps-1 text-muted">(26)</span></label>
                            </div>
                          </li>
                          <li class="filter-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="material-4">
                              <label class="form-check-label" for="material-4"><span class="filter-item-text">Leather</span><span class="ps-1 text-muted">(5)</span></label>
                            </div>
                          </li>
                          <li class="filter-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="material-5">
                              <label class="form-check-label" for="material-5"><span class="filter-item-text">Cashmere</span><span class="ps-1 text-muted">(41)</span></label>
                            </div>
                          </li>
                          <li class="filter-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="material-6">
                              <label class="form-check-label" for="material-6"><span class="filter-item-text">Denim</span><span class="ps-1 text-muted">(48)</span></label>
                            </div>
                          </li>
                          <li class="filter-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="material-7">
                              <label class="form-check-label" for="material-7"><span class="filter-item-text">Batiste</span><span class="ps-1 text-muted">(17)</span></label>
                            </div>
                          </li>
                          <li class="filter-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="material-8">
                              <label class="form-check-label" for="material-8"><span class="filter-item-text">Velours</span><span class="ps-1 text-muted">(3)</span></label>
                            </div>
                          </li>
                          <li class="filter-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="material-9">
                              <label class="form-check-label" for="material-9"><span class="filter-item-text">Veil</span><span class="ps-1 text-muted">(9)</span></label>
                            </div>
                          </li>
                          <li class="filter-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="material-10">
                              <label class="form-check-label" for="material-10"><span class="filter-item-text">Suede</span><span class="ps-1 text-muted">(4)</span></label>
                            </div>
                          </li>
                          <li class="filter-item">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="material-11">
                              <label class="form-check-label" for="material-11"><span class="filter-item-text">Organza</span><span class="ps-1 text-muted">(1)</span></label>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="html3" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Widget: Searchable data list --&gt;
&lt;div class=&quot;widget&quot;&gt;
  &lt;h3 class=&quot;h4&quot;&gt;Material&lt;/h3&gt;
  &lt;div class=&quot;widget-data-list filter&quot;&gt;
    &lt;div class=&quot;position-relative mb-3&quot;&gt;
      &lt;input class=&quot;filter-search form-control form-control-sm pe-5&quot; type=&quot;text&quot; placeholder=&quot;Search the material&quot;&gt;
      &lt;i class=&quot;ci-search fs-sm position-absolute top-50 end-0 translate-middle-y me-3 zindex-5&quot;&gt;&lt;/i&gt;
    &lt;/div&gt;
    &lt;ul class=&quot;filter-list list-unstyled pe-3&quot; style=&quot;height: 12rem;&quot; data-simplebar data-simplebar-auto-hide=&quot;false&quot;&gt;
      &lt;li class=&quot;filter-item&quot;&gt;
        &lt;div class=&quot;form-check&quot;&gt;
          &lt;input class=&quot;form-check-input&quot; type=&quot;checkbox&quot; id=&quot;material-1&quot;&gt;
          &lt;label class=&quot;form-check-label&quot; for=&quot;material-1&quot;&gt;
            &lt;span class=&quot;filter-item-text&quot;&gt;Cotton&lt;/span&gt;
            &lt;span class=&quot;ps-1 text-muted&quot;&gt;(162)&lt;/span&gt;
          &lt;/label&gt;
        &lt;/div&gt;
      &lt;/li&gt;
      &lt;!-- ...add as many items as you need --&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Range slider-->
          <section class="pb-5 mb-md-2" id="widget-range-slider">
            <h2 class="h3">Range slider</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result4" data-bs-toggle="tab" role="tab" aria-controls="result4" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html4" data-bs-toggle="tab" role="tab" aria-controls="html4" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result4" role="tabpanel">
                    <div class="widget" style="max-width: 20rem;">
                      <h3 class="h4">Price range</h3>
                      <div class="range-slider" data-start-min="250" data-start-max="680" data-min="0" data-max="1000" data-step="1">
                        <div class="range-slider-ui"></div>
                        <div class="d-flex align-items-center mt-3">
                          <div class="w-50">
                            <div class="form-group position-relative mb-0">
                              <input class="form-control form-control-sm range-slider-value-min" type="number">
                            </div>
                          </div>
                          <div class="mx-1 px-2 fs-xs">—</div>
                          <div class="w-50">
                            <div class="form-group position-relative mb-0">
                              <input class="form-control form-control-sm range-slider-value-max" type="number">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="html4" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Widget: Range slider --&gt;
&lt;div class=&quot;widget&quot;&gt;
  &lt;h3 class=&quot;h4&quot;&gt;Price range&lt;/h3&gt;
  &lt;div class=&quot;range-slider&quot; data-start-min=&quot;250&quot; data-start-max=&quot;680&quot; data-min=&quot;0&quot; data-max=&quot;1000&quot; data-step=&quot;1&quot;&gt;
    &lt;div class=&quot;range-slider-ui&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;d-flex align-items-center mt-3&quot;&gt;
      &lt;div class=&quot;w-50&quot;&gt;
        &lt;div class=&quot;form-group position-relative mb-0&quot;&gt;
          &lt;input class=&quot;form-control form-control-sm range-slider-value-min&quot; type=&quot;number&quot;&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;mx-1 px-2 fs-xs&quot;&gt;—&lt;/div&gt;
      &lt;div class=&quot;w-50&quot;&gt;
        &lt;div class=&quot;form-group position-relative mb-0&quot;&gt;
          &lt;input class=&quot;form-control form-control-sm range-slider-value-max&quot; type=&quot;number&quot;&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Media grid-->
          <section class="pb-5 mb-md-2" id="widget-media-grid">
            <h2 class="h3">Media grid</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result5" data-bs-toggle="tab" role="tab" aria-controls="result5" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html5" data-bs-toggle="tab" role="tab" aria-controls="html5" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result5" role="tabpanel">
                    <div class="widget" style="max-width: 20.25rem;">
                      <h3 class="h4">Latest projects</h3>
                      <div class="media-grid">
                        <div class="media-grid-item"><a class="media-grid-inner" href="#"><img src="../assets/img/components/widgets/media-grid/01.jpg" alt="Media grid image"></a></div>
                        <div class="media-grid-item"><a class="media-grid-inner" href="#"><img src="../assets/img/components/widgets/media-grid/02.jpg" alt="Media grid image"></a></div>
                        <div class="media-grid-item"><a class="media-grid-inner" href="#"><img src="../assets/img/components/widgets/media-grid/03.jpg" alt="Media grid image"></a></div>
                        <div class="media-grid-item"><a class="media-grid-inner" href="#"><img src="../assets/img/components/widgets/media-grid/04.jpg" alt="Media grid image"></a></div>
                        <div class="media-grid-item"><a class="media-grid-inner" href="#"><img src="../assets/img/components/widgets/media-grid/05.jpg" alt="Media grid image"></a></div>
                        <div class="media-grid-item"><a class="media-grid-inner" href="#"><img src="../assets/img/components/widgets/media-grid/06.jpg" alt="Media grid image"></a></div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="html5" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Widget: Media grid --&gt;
&lt;div class=&quot;widget&quot;&gt;
  &lt;h3 class=&quot;h4&quot;&gt;Latest projects&lt;/h3&gt;
  &lt;div class=&quot;media-grid&quot;&gt;
    &lt;div class=&quot;media-grid-item&quot;&gt;
      &lt;a class=&quot;media-grid-inner&quot; href=&quot;#&quot;&gt;
        &lt;img src=&quot;path-to-image&quot; alt=&quot;Media grid image&quot;&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;media-grid-item&quot;&gt;
      &lt;a class=&quot;media-grid-inner&quot; href=&quot;#&quot;&gt;
        &lt;img src=&quot;path-to-image&quot; alt=&quot;Media grid image&quot;&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;media-grid-item&quot;&gt;
      &lt;a class=&quot;media-grid-inner&quot; href=&quot;#&quot;&gt;
        &lt;img src=&quot;path-to-image&quot; alt=&quot;Media grid image&quot;&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;!-- ...add as many items as you need --&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Author-->
          <section class="pb-5 mb-md-2" id="widget-author">
            <h2 class="h3">Author</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result6" data-bs-toggle="tab" role="tab" aria-controls="result6" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html6" data-bs-toggle="tab" role="tab" aria-controls="html6" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result6" role="tabpanel">
                    <div class="widget">
                      <h3 class="h4">Author</h3>
                      <div class="d-flex align-items-start"><img class="d-inline-block rounded-circle me-3" src="../assets/img/components/widgets/author/01.jpg" alt="Author image" width="100">
                        <div class="ps-1">
                          <h4 class="h5 mb-1">Johnny Lane</h4>
                          <p class="mb-3 fs-sm text-muted">Director of Client Services</p><a class="btn-social bs-solid rounded-circle me-2 mb-2" href="#"><i class="ci-twitter"></i></a><a class="btn-social bs-solid rounded-circle me-2 mb-2" href="#"><i class="ci-messenger"></i></a><a class="btn-social bs-solid rounded-circle me-2 mb-2" href="#"><i class="ci-pinterest"></i></a><a class="btn-social bs-solid rounded-circle mb-2" href="#"><i class="ci-linkedin"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="html6" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Widget: Author --&gt;
&lt;div class=&quot;widget&quot;&gt;
  &lt;h3 class=&quot;h4&quot;&gt;Author&lt;/h3&gt;
  &lt;div class=&quot;d-flex align-items-start&quot;&gt;
    &lt;img class=&quot;d-inline-block rounded-circle me-3&quot; src=&quot;path-to-image&quot; alt=&quot;Author image&quot; width=&quot;100&quot;&gt;
    &lt;div class=&quot;ps-1&quot;&gt;
      &lt;h4 class=&quot;h5 mb-1&quot;&gt;Johnny Lane&lt;/h4&gt;
      &lt;p class=&quot;mb-3 fs-sm text-muted&quot;&gt;Director of Client Services&lt;/p&gt;
      &lt;a class=&quot;btn-social bs-solid rounded-circle me-2 mb-2&quot; href=&quot;#&quot;&gt;
        &lt;i class=&quot;ci-twitter&quot;&gt;&lt;/i&gt;
      &lt;/a&gt;
      &lt;a class=&quot;btn-social bs-solid rounded-circle me-2 mb-2&quot; href=&quot;#&quot;&gt;
        &lt;i class=&quot;ci-messenger&quot;&gt;&lt;/i&gt;
      &lt;/a&gt;
      &lt;a class=&quot;btn-social bs-solid rounded-circle me-2 mb-2&quot; href=&quot;#&quot;&gt;
        &lt;i class=&quot;ci-pinterest&quot;&gt;&lt;/i&gt;
      &lt;/a&gt;
      &lt;a class=&quot;btn-social bs-solid rounded-circle mb-2&quot; href=&quot;#&quot;&gt;
        &lt;i class=&quot;ci-linkedin&quot;&gt;&lt;/i&gt;
      &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Tag cloud-->
          <section class="pb-5 mb-md-2" id="widget-tags">
            <h2 class="h3">Tag cloud</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result7" data-bs-toggle="tab" role="tab" aria-controls="result7" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html7" data-bs-toggle="tab" role="tab" aria-controls="html7" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result7" role="tabpanel">
                    <div class="d-sm-flex">
                      <div class="widget me-sm-grid-gutter mb-sm-0 mb-grid-gutter" style="max-width: 20rem;">
                        <h3 class="h4">Tags</h3><a class="btn-tag me-2 mb-2" href="#">#inspiration</a><a class="btn-tag me-2 mb-2" href="#">#art</a><a class="btn-tag me-2 mb-2" href="#">#marketing</a><a class="btn-tag me-2 mb-2" href="#">#designer</a><a class="btn-tag me-2 mb-2" href="#">#ideas</a><a class="btn-tag me-2 mb-2" href="#">#creative</a>
                      </div>
                      <div class="widget" style="max-width: 20rem;">
                        <h3 class="h4">Tags</h3><a class="btn-tag rounded-pill me-2 mb-2" href="#">#tips&amp;tricks</a><a class="btn-tag rounded-pill me-2 mb-2" href="#">#strategy</a><a class="btn-tag rounded-pill me-2 mb-2" href="#">#SMM</a><a class="btn-tag rounded-pill me-2 mb-2" href="#">#business</a><a class="btn-tag rounded-pill me-2 mb-2" href="#">#PPC</a><a class="btn-tag rounded-pill me-2 mb-2" href="#">#targeting</a>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="html7" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!-- Widget: Tags --&gt;
&lt;div class=&quot;widget&quot;&gt;
  &lt;h3 class=&quot;h4&quot;&gt;Tags&lt;/h3&gt;

  &lt;!-- Basic tag --&gt;
  &lt;a class=&quot;btn-tag&quot; href=&quot;#&quot;&gt;#inspiration&lt;/a&gt;

  &lt;!-- Pilled tag --&gt;
  &lt;a class=&quot;btn-tag rounded-pill&quot; href=&quot;#&quot;&gt;#tips&amp;amp;tricks&lt;/a&gt;
&lt;/div&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Subscription (MailChimp Ajax)-->
          <section class="pb-5 mb-md-2" id="widget-subscription">
            <h2 class="h3">Subscription (MailChimp Ajax)</h2>
            <div class="card shadow-sm">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" href="#result8" data-bs-toggle="tab" role="tab" aria-controls="result8" aria-selected="true">Result</a></li>
                  <li class="nav-item"><a class="nav-link" href="#html8" data-bs-toggle="tab" role="tab" aria-controls="html8" aria-selected="false">HTML</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result8" role="tabpanel">
                    <div class="widget" style="max-width: 25rem;">
                      <h3 class="h4">Subscribe</h3>
                      <form class="subscription-form validate" action="https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=29ca296126" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                        <div class="input-group">
                          <input class="form-control" type="email" name="EMAIL" placeholder="Your email">
                          <button class="btn btn-primary" type="submit" name="subscribe">Subscribe*</button>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                          <input class="subscription-form-antispam" type="text" name="b_c7103e2c981361a6639545bd5_29ca296126" tabindex="-1">
                        </div><small class="form-text text-muted">*Subscribe to our newsletter to receive early discount offers, updates and new products info.</small>
                        <div class="subscription-status"></div>
                      </form>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="html8" role="tabpanel">
                    <pre class="line-numbers"><code class="lang-html">&lt;!--
Widget: Subscription (MailChimp Ajax)
Instructions how to get MailChimp action link:
1. Log in to your MailChimp Dashboard / Audience / Manage Audience / Signup forms / Embedded forms
2. In the provided code find form action link and copy it
3. Paste it to the form action attribute below
4. Also in the form code provided by MailChimp find antispam input and copy it name attribute contents
5. Paste what you have copied from name attribute to the name attribute of input with class &quot;subscribe-form-antispam&quot;
--&gt;
&lt;div class=&quot;widget&quot;&gt;
  &lt;h3 class=&quot;h4&quot;&gt;Subscribe&lt;/h3&gt;
  &lt;form class=&quot;subscribe-form validate&quot; action=&quot;mailchimp-embedded-form-atcion-link&quot; method=&quot;post&quot; name=&quot;mc-embedded-subscribe-form&quot; target=&quot;_blank&quot; novalidate&gt;
    &lt;div class=&quot;input-group&quot;&gt;
      &lt;input class=&quot;form-control&quot; type=&quot;email&quot; name=&quot;EMAIL&quot; placeholder=&quot;Your email&quot;&gt;
      &lt;button class=&quot;btn btn-primary&quot; type=&quot;submit&quot; name=&quot;subscribe&quot;&gt;Subscribe*&lt;/button&gt;
    &lt;/div&gt;
    &lt;!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups--&gt;
    &lt;div style=&quot;position: absolute; left: -5000px;&quot; aria-hidden=&quot;true&quot;&gt;
      &lt;input class=&quot;subscribe-form-antispam&quot; type=&quot;text&quot; name=&quot;mailchimp-embedded-form-antispam-name-attribute&quot; tabindex=&quot;-1&quot;&gt;
    &lt;/div&gt;
    &lt;small class=&quot;form-text text-muted&quot;&gt;*Subscribe to our newsletter to receive early discount offers, updates and new products info.&lt;/small&gt;
    &lt;div class=&quot;subscribe-status&quot;&gt;&lt;/div&gt;
  &lt;/form&gt;
&lt;/div&gt;</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

        <!-- Quick (anchor) navigation-->
        <div class="col-xl-3 d-none d-xl-block ps-5">
          <aside class="sticky-top pt-5">
            <div class="pt-5 mt-5">
              <div class="ps-4 border-left">
                <h3 class="h5 mb-3">Jump to</h3>
                <nav class="nav nav-dark flex-column">
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#widget-entries-list">Featured entries list</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#widget-categories">Categories</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#widget-data-list">Searchable data list</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#widget-range-slider">Range slider</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#widget-media-grid">Media grid</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#widget-author">Author</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#widget-tags">Tag cloud</a>
                  <a class="nav-link fs-sm fw-normal px-0 py-1" data-scroll href="#widget-subscription">Subscription (MailChimp Ajax)</a>
                </nav>
              </div>
            </div>
          </aside>
        </div>
      </section>
    </main>

    <!-- Back to top button-->
    <a class="btn-scroll-top" href="#top" data-scroll data-fixed-element>
      <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
      <i class="btn-scroll-top-icon ci-angle-up"></i>
    </a>

    <!-- Vendor scripts: js libraries and plugins-->
    <script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="../assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="../assets/vendor/prismjs/components/prism-core.min.js"></script>
    <script src="../assets/vendor/prismjs/components/prism-markup.min.js"></script>
    <script src="../assets/vendor/prismjs/components/prism-clike.min.js"></script>
    <script src="../assets/vendor/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="../assets/vendor/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="../assets/vendor/prismjs/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script src="../assets/vendor/nouislider/dist/nouislider.min.js"></script>
    <script src="../assets/vendor/tiny-slider/dist/min/tiny-slider.js"></script>

    <!-- Main theme script-->
    <script src="../assets/js/theme.min.js"></script>
  </body>
</html>